---
title: Download purchased ebooks
layout: guide_simple
parent: guide
category: public
slug: download-purchased-ebooks
---

<p>To download ebooks that you've purchased through a TitleLeaf ecommerce site, follow the procedure below:</p>

<ol>

<li>
<p>Sign in to the website using the same account credentials used to purchase the ebooks.</p>
<p><img src="http://guide.titleleaf.com/uploads/childsworld-account-menu-signin.png" alt="The Child's World: Sign in menu" /></p>
<p><img src="http://guide.titleleaf.com/uploads/childsworld-sign-in-form.png" alt="The Child's World: Sign in page" /></p>
</li>

<li>
<p>Go to the <em>Your Account</em> overview page, then click the <em>Download your ebooks</em> link.</p>
<p><img src="http://guide.titleleaf.com/uploads/childsworld-account-menu-overview.png" alt="The Child's World: Your account menu" /></p>
<p><img src="http://guide.titleleaf.com/uploads/childsworld-account-ebooks-link.png" alt="The Child's World: Your account page, ebooks link" /></p>
</li>

<li>
<p>On the subsequent <em>Purchased ebooks</em> page, click the <em>Download Now</em> link of the appropriate product.</p>
<p><img src="http://guide.titleleaf.com/uploads/childsworld-purchased-ebooks.png" alt="The Child's World: Purchased ebooks page" /></p>
</li>

</ol>

<p>If you encounter an error while attempting to download a product, please contact the website's support team.</p>