---
title: Email list link
layout: guide_simple
parent: guide
category: public
slug: email-list-link
---

<p>TitleLeaf allows users to share a link to a list that they've created. Anyone with the link can view the list and add the items in that list to their own cart. They cannot edit the list, only view it. To share such a link, follow the instructions below:</p>

<ol>

  <li>
    <p>Visit the list in question. If the list isn't being shared, then click the <em>Enable Sharing</em> link.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-list-enable-sharing-link.png" alt="List: Enable sharing link" /></p>
  </li>

  <li>
    <p>Once the list is being shared, click <em>Email link</em>.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-list-email-link.png" alt="List: Email sharing link" /></p>
  </li>

  <li>
    <p>Enter the recipient's email address into the subsequent form, then click <em>Send</em>.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-list-email-link-form.png" alt="List: Email sharing link form" /></p>
  </li>

  <li>
    <p>If the email was successfully sent, a confirmation message will appear at the top of the page.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-list-email-link-success.png" alt="List: Email sharing link successful" /></p>
  </li>

</ol>
