---
title: Email quote link
layout: guide_simple
parent: guide
category: public
slug: email-quote-link
---

<p>TitleLeaf allows users to share a link to a quote that they've create. Anyone with the link can view the quote and add the items in that quote to their own cart. They cannot edit the quote, only view. To share such a link, follow the procedure below:</p>

<ol>

  <li>
    <p>Visit the quote in question. If the quote isn't being shared, then click the <em>Enable Sharing</em> link.</p>
    <p><img src="https://www.evernote.com/l/AAa36gfqdetD8Kxnniy2eeY6t0GEdOVn3A8B/image.png" alt="Quote: Enable sharing link" /></p>
  </li>

  <li>
    <p>Once the quote is being shared, click <em>Email link</em>.</p>
    <p><img src="https://www.evernote.com/l/AAYRQlqbFk5D35eJIGEQHY7_5Meu_7rILeMB/image.png" alt="Email link" /></p>
  </li>

  <li>
    <p>Enter the recipient's email address into the subsequent form, then click <em>Send</em>.</p>
    <p><img src="https://www.evernote.com/l/AAYTweLxV_VAcK7AxbC1J4XSBH59WA8mhKsB/image.png" alt="Enter email address" /></p>
  </li>

  <li>
    <p>If the email was successfully sent, a confirmation message will appear at the top of the page.</p>
    <p><img src="https://www.evernote.com/l/AAbn6_uWmwlAEZoQILfoe5WfTxhuLLDGAFYB/image.png" alt="View confirmation" /></p>
  </li>

</ol>