---
title: Forgot your password
layout: guide_simple
parent: guide
category: public
slug: forgot-your-password
---

<p>If a user forgets their password, have them follow this procedure.</p>

<ol>

<li>
<p>Go to the Sign-In page.</p>
<p><img src="http://guide.titleleaf.com/uploads/demo-signin-link.png" /></p>
<p><img src="http://guide.titleleaf.com/uploads/demo-signin-form.png" /></p>
</li>

<li>
<p>Click the <em>Forgot your password</em> link.</p>
<p><img src="http://guide.titleleaf.com/uploads/demo-forgot-password.png" alt="Demo: Forgot password form" /></p>
</li>

<li>
<p>Enter your email address and click the <em>Submit Request</em> button. Shortly thereafter you will receive instructions via email indicating how to access your account.</p>
<p><img src="http://guide.titleleaf.com/uploads/demo-forgot-password-confirmation.png" alt="Demo: Forgot password confirmation" /></p>
<p><img src="http://guide.titleleaf.com/uploads/mail-forgot-password.png" alt="Mail: Forgot password instructions" /></p>
</li>

</ol>