---
title: Share quote
layout: guide_simple
parent: guide
category: public
slug: share-quote
---

<p>By <em>enabling sharing</em> of a quote, a user is creating a shareable link to the quote. Anyone with the link will be able to view the quote.</p>

<ul>

  <li>
    <p>Your quote is NOT being shared.</p>
    <p><img src="https://www.evernote.com/l/AAbtmV6yXLNDtYjvqR8bhavJ4Eu514fTHx0B/image.png" alt="Quote: Sharing disabled" /></p>
  </li>

  <li>
    <p>Your quote is BEING shared. You can copy the link and distribute as needed.</p>
    <p><img src="https://www.evernote.com/l/AAbDP2kD2uNOeYA3erDeOrUZE7ZXxmFHVFEB/image.png" alt="Quote: Sharing enabled" /></p>
  </li>

</ul>