---
title: Share list
layout: guide_simple
parent: guide
category: public
slug: share-list
---

<p>By <em>enabling sharing</em> of a list, a user is creating a shareable link to the list. Anyone with the link will be able to view the list.</p>

<ul>

  <li>
    <p>Your list is <em>not being shared</em>.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-list-sharing-disabled.png" alt="List: Sharing disabled" /></p>
  </li>

  <li>
    <p>Your list is <em>being shared</em>. You can copy the link and distribute as needed.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-list-sharing-enabled.png" alt="List: Sharing enabled" /></p>
  </li>

</ul>
