body.contact,
body.contact-pricing,
body.contact-service {

  section#splash {
    background-color: $orange;
    border-bottom: 1px solid lighten(#ae84a7, 30%);
    a {
      display: inline-block;
      border-bottom: 4px solid darken($orange, 10%);
      color: #000;
      &:hover {
        border-color: darken($orange, 20%);
      }
    }
  }
  section#content {
    .item {
      text-align: left;
    }
    .required:after { content: " *"; }
  }
  div.actions {
    margin-top: 1em;
  }


  // Responsive

  @include grid-media($medium-screen-grid) {
    section#splash {
      .col-left {
        @include grid-column(4);
      }
      .col-right {
        @include grid-column(8);
      }
    }
    section#content {
      .item {
        @include grid-column(4);
      }
    }
  }

}
