body.guide {

  .container {
    border-top: 2px solid #eee;
  }

  section#sidebar {
    @include grid-column(3);
    .col-full {
      width: calc(100%);
      margin: 0;
    }
  }

  section#content {
    @include grid-column(9);
    .row {
      @include grid-collapse;
      text-align: left;
    }
    .item {
    }
    h1 + h3 {
      font-weight: 200;
      color: $medium-gray;
    }
    p {
      margin-bottom: 1em;
    }
    img {
      -moz-box-shadow: 0 0 5px 5px #ccc;
      -webkit-box-shadow: 0 0 5px #ccc;
      box-shadow: 0 0 5px #ccc;
      margin: 3px;
      padding: 0;
      background-color: #fff;
    }
  }

  .accordion {
    margin-top: 40px;
    margin-bottom: 0;

    &:before, &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }

    a {
      cursor: pointer;
    }

    dd {
      display: block;
      margin-bottom: 0 !important;
    }

    dd > a {
      color: $dark-gray;
      padding: 10px 0;
      display: block;
      font-size: 12px;
      text-transform: uppercase;
      &:hover {
        color: $link-hover-color;
      }
    }


    dd > .content {
      display: none;
      padding: 0;
    }

    dd > .content.active {
      display: block;
    }

    ul {
      display: block;
      margin: 0;
      padding: 0 0 10px 0;
      list-style-type: none;
      list-style-position: inside;
      li {
        font-size: 12px;
        margin: 0;
        list-style-image: url(/assets/images/box.gif);
        a {
          display: block;
          padding: 5px 0;
          &:hover {
            color: darken($link-hover-color, 30%);
          }
        }
      }
    }
  }



  // Responsive

  @include grid-media($large-screen-grid) {
  }

}
