body.index {

  section#splash {
    background-color: #7eb6cd;
    border-bottom: 1px solid lighten(#7eb6cd, 30%);
  }
  section#content {
    .row {
      text-align: center;
      padding: 0;
      margin: 50px 0;
    }
  }


  // Responsive

  @include grid-media($small-screen-grid) {
    section#content .row {
      padding: 0 10%;
    }
  }

  @include grid-media($medium-screen-grid) {
    section#content .row {
      padding: 0 20%;
    }
  }

  @include grid-media($large-screen-grid) {
    section#content .row {
      padding: 0 25%;
    }
  }

}
