body.contact-service,
body.service,
body.service-larger,
body.service-smaller {

  section#splash {
    background-color: #f2d780;
    border-bottom: 1px solid lighten(#f2d780, 30%);
  }
  section#content {
    .col-full {
      text-align: left;
    }
    ul.checked {
      @include list-awesome("\f336", 1.5em, $light-green);
    }
  }

  small {
    font-size: 60%;
  }

  .pricing-table {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0 0 2em 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    &:hover {
      box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    }
    li {
      border-bottom: 1px solid #eee;
      padding: 20px;
      text-align: center;
    }
    .price {
      background-color: #f6f6f6;
      padding: 0.8em 1em;
      text-align: center;
      color: #333;
      font-size: 1.8em;
    }
    .title {
      background-color: #333;
      padding: 0.8em 1em;
      text-align: center;
      color: #eee;
      font-weight: normal;
      font-size: 0.9em;
    }
    .description {
      background-color: #fff;
      padding: 0.8em;
      text-align: center;
      color: #777;
      font-size: 0.8em;
      font-weight: normal;
      line-height: 1.4;
      border-bottom: dotted 1px #ddd;
    }
    .bullet-item {
      background-color: #fff;
      padding: 0.8em;
      text-align: center;
      color: #333;
      font-size: 0.8em;
      font-weight: normal;
      border-bottom: dotted 1px #ddd;
    }
  }

  // Price switcher

  .switch-wrapper {
    position: relative;
    display: inline-flex;
    padding: 4px;
    border: 1px solid $light-gray;
    border-radius: $base-border-radius;
    background: $white;
  }
  .switch-wrapper [type="radio"] {
    position: absolute;
    left: -9999px;
  }
  .switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"],
  .switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"] {
    color: $white;
  }
  .switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"]:hover,
  .switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"]:hover {
    background: transparent;
  }
  .switch-wrapper
  [type="radio"]:checked#yearly
  + label[for="monthly"]
  ~ .highlighter {
    transform: none;
  }
  .switch-wrapper
  [type="radio"]:checked#monthly
  + label[for="yearly"]
  ~ .highlighter {
    transform: translateX(100%);
  }
  .switch-wrapper label {
    font-size: 16px;
    z-index: 1;
    min-width: 200px;
    cursor: pointer;
    border-radius: $base-border-radius;
    transition: color 0.25s ease-in-out;
    margin: 0;
    padding: 0.3em 1em 0.4em 1em;
  }
  .switch-wrapper label:hover {
    background: $lighter-gray;
  }
  .switch-wrapper .highlighter {
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(50% - 4px);
    height: calc(100% - 8px);
    border-radius: $base-border-radius;
    background: $dark-gray;
    transition: transform 0.25s ease-in-out;
  }
  .table-wrapper .hide {
    display: none;
  }

  // Responsive

  @include grid-media($medium-screen-grid) {
    section#splash {
      .col-left {
        @include grid-column(4);
      }
      .col-right {
        @include grid-column(8);
      }
    }
    section#content {
      .item {
        @include grid-column(4);
      }
    }
    section#content {
      .item-alt {
        @include grid-column(3);
      }
    }
  }

}
