body.terms-of-service,
body.privacy-policy {

  section#content {
    border-top: 2px solid #eee;
    .row {
      text-align: left;
    }
    ul {
      margin-left: 1.4em;
      margin-bottom: 1em;
      list-style-position: outside;
      list-style-type: disc;
    }
  }


  // Responsive

  @include grid-media($large-screen-grid) {
  }

}
