---
title: Change upload directory
layout: guide_simple
parent: guide
category: distributions
slug: change-upload-directory
---

<p>A distribution recipient might request that a specific distribution be uploaded to a unique, temporary directory. In this case, you should temporarily change the channel <em>path</em>:</p>

<ol>

  <li>
    <p>Go to the Channels index page. Find the channel in question. Click the red link associated with the channel to arrive at the <em>Edit Channel</em> form.</p>
    <p><img src="https://www.evernote.com/l/AAajEBdzBuFIBZEZuM168mqQY35VobUT8scB/image.png" alt="Channels: List" /></p>
  </li>

  <li>
    <p>On the <em>Edit Channel</em> page, note the current value in the <em>path</em> field. You should revert to that value after the distribution in question is complete.</p>
    <p><img src="https://www.evernote.com/l/AAZ42-6Ni39J4ott8D-2T2cGpCnORrOzsXUB/image.png" alt="Channel: Note the current value in the path field" /></p>
  </li>

  <li>
    <p>Enter the temporary directory name in the <em>path</em> field, then click the <em>Save</em> button.</p>
    <p><img src="https://www.evernote.com/l/AAYQzUwqq01BqaqEqHdNHvrUYbFevPNcDv0B/image.png" alt="Channel: Edit the path field" /></p>
  </li>

  <li>
    <p>After clicking the <em>Save</em> button, you should be redirected to the Channels index page and you should see a confirmation message.</p>
    <p><img src="https://www.evernote.com/l/AAaBiPCew-9DlYrgXT2_tjfdpYTtFZ7-m1AB/image.png" alt="Channel updated" /></p>
  </li>

  <li>
    <p>You can now perform a distribution. The files will be uploaded to the newly designated directory.</p>
    <p><strong>NB: Remember to revert the <em>path</em> field to its original value after the distribution is complete.</strong>
</p>
  </li>

</ol>