---
title: Distribution Groups
layout: guide_simple
parent: guide
category: distributions
slug: distributions-groups
---

<p>
  The <em>Distribution Groups</em> module streamlines distribution of assets
  to your partners. It is used to organize your distribution channels.
  Each <em>Group</em> holds channels that receive common assets on a shared
  schedule.
</p>

<p>
  If properly organized, a group can be used to remove much of the repetition in distributing
  assets to partners. For example, instead of manually sending newly available
  PDF ebook files through 50+ channels, click the "Perform Distribution" on the
  "PDF ebooks" group. All relevant channels will receive the specified files
  with one submission.
</p>
