---
title: Distribution template
layout: guide_simple
parent: guide
category: distributions
slug: distribution-template
---

<p>A <em>distribution template</em> serves as the guidelines for creating distributions to individual channels within a distribution group. In other words, multiple individual distributions will be created from a template. Here's the distribution template form:</p>

<p><%= cdn_image "titleleaf-new-distribution-template-form.png", alt: "Admin: New distribution template form" %></p>

<p>After submitting the form, the individual distributions will be created. To view the status of the individual distributions, refresh your browser window.</p>

<p><%= cdn_image "titleleaf-distribution-template-list-with-message.png", alt: "TitleLeaf: Distribution template list with message" %></p>
