---
title: Distribute preliminary images
layout: guide_simple
parent: guide
category: distributions
slug: distribute-preliminary-images
---

<p>Approximately <a href="http://bit.ly/1jMwYiz">4.5 months prior to a title's release</a>, preliminary cover/spread images should be distributed through the appropriate channels. The <em>image deltas</em> distribution group is setup for this purpose.</p>

<ol>

<li>
<p>Go to the <em>Distribution Groups</em> page by selecting <em>Groups</em> from the <em>Distribution</em> menu.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-distribution-menu.png" alt="Admin: Distribution Menu" /></p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-distribution-groups-list.png" alt="Admin: Distribution Groups List" /></p>
</li>

<li>
<p>Click the perform icon <img src="http://guide.titleleaf.com/uploads/titleleaf-perform-icon.jpg" alt="Perform icon" /> next to the <em>image deltas</em> group to create a new distribution template.</p>
</li>

<li>
<p>Set the options accordingly.</p>
<p>Set the options accordingly. For example, in the screenshot below, we are distributing images for the products identified by ISBN.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-new-distribution-template-for-deltas-group.png" alt="Admin: New distribution template for deltas group" /></p>
</li>

<li>
<p>Click the <em>Create</em> button. The <em>distribution template</em> that you created will result in multiple distributions. For more information, read about <a href="/guides/distributions/distribution-template.html">distribution templates</a>.</p>
</li>

</ol>
