---
title: Distribute data deltas
layout: guide_simple
parent: guide
category: distributions
slug: distribute-data-deltas
---

<p>Intermittently, data will need to be changed or corrected. A distribution group entitled <em>data deltas</em> has been setup for this purpose.</p>

<ol>

<li>
<p>Go to the <em>Distribution Groups</em> page by selecting <em>Groups</em> from the <em>Distribution</em> menu.</p>
<p><img src="https://assets.titleleaf.com/guide/titleleaf-distribution-menu.png" alt="Admin: Distribution menu" /></p>
<p><img src="https://assets.titleleaf.com/guide/titleleaf-distribution-groups-list.png" alt="Admin: Distribution groups list" /></p>
</li>

<li>
<p>Click the perform icon <img src="https://assets.titleleaf.com/guide/titleleaf-perform-icon.jpg" alt="Perform icon" /> next to the <em>data deltas</em> group to create a new distribution template.</p>
</li>

<li>
<p>Set the options accordingly. For example, in the screenshot below, we specify the data to distribute by ISBN. Another possibility is to specify the data is by Product ID. Note: When specifying by Product ID, data pertaining to all formats of a given product (e.g., Hardcover, Paperback and PDF) will be distributed.</p>
<p><img src="https://assets.titleleaf.com/guide/titleleaf-new-distribution-template-for-deltas-group.png" alt="TitleLeaf: New distribution template for deltas" /></p>
</li>

<li>
<p>Click the <em>Create</em> button. The <em>distribution template</em> that you created will result in multiple distributions. For more information, read about <a href="/guides/distributions/distribution-template.html">distribution templates</a>.</p>
</li>

</ol>
