---
title: Dropbox Authorization
layout: guide_simple
parent: guide
category: distributions
slug: dropbox-authorization
---

<p>To be able to distribute data and assets to a wholesaler via Dropbox, the wholesaler must provide TitleLeaf with access to their Dropbox account. To do so, have the wholesaler visit the following page on your site:</p>

<p><code>https://YOURDOMAIN/dropbox_destinations/new</code>
</p>

<p>This is what the page looks like on the Demo application:</p>

<p><%= cdn_image "demo-dropbox-authorization.png", alt: "" %></p>

<p>The wholesaler should click the <em>Initiate Authorization</em> button.</p>

<p>If the wholesaler is not currently logged in to their Dropbox account, then they will be presented with a login form</p>

<p><%= cdn_image "dropbox-signin-authorization.png", alt: "" %></p>

<p>After logging in, the wholesale will be presented with an authorization form.</p>

<p><%= cdn_image "dropbox-authorization.png", alt: "" %></p>

<p>The wholesaler should click the <em>Allow</em> button. After doing so, they will be redirected to your site.</p>

<p>Authorization is complete. You will now be able to associate a Channel with this Destination and subsequently distribute data/assets to them.</p>

