---
title: Edit channel destination
layout: guide_simple
parent: guide
category: distributions
slug: edit-channel-destination
---

<p>Assets are sent through a distribution channel to either an email address or an associated <em>destination</em>. Destinations can be an FTP, SFTP, Dropbox, WebDav account or other. Occasionally, a distribution partner will change the credentials associated with a destination assigned to you. In that event, you will need to <em>edit</em> the destination entry in TitleLeaf.</p>

<p>To edit the setup of a destination, read on. Note: You must have <em>Manager</em> privileges to edit a destination.</p>

<ol>

<li>
<p>Select the "Channels" item from the Distribution menu.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-distribution-menu-channels-item.png" alt="Distribution menu, Channels item" /></p>
</li>

<li>
<p>View the list of Channels. If desired, filter the list using search form at top of page. Click the desired "destination" link in the list of channels.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-channels-overdrive.png" alt="Channels list: Destination highlighted" /></p>
</li>

<li>
<p>Click the <em>Edit Destination</em> link in the right sidebar.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-destination-overdrive.png" alt="TitleLeaf: View destination for overdrive" /></p>
</li>

<li>
<p>Edit the destination accordingly, then click the <em>Save</em> button.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-destination-edit-overdrive.png" alt="TitleLeaf: Edit destination for overdrive" /></p>
</li>

<li>
<p>Assuming all fields were populated correctly, your update will be confirmed.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-destination-edit-success.png" alt="TitleLeaf: Successful update of destination" /></p>
</li>

</ol>