---
title: Google Drive Authorization
layout: guide_simple
parent: guide
category: distributions
slug: google-drive-authorization
---

<p class="block-warning">
  Setting up a google drive destination requires the assistance from the
  TitleLeaf team. Please open a support ticket before performing the procedure
  below.
</p>

<p>To be able to distribute data and assets to a partner via Google Drive, the partner must provide TitleLeaf with access to their Google Drive account. To do so, have the partner visit the following page on your site:</p>

<p><code>https://YOURDOMAIN/dropbox_destinations/new</code>
</p>

<p>This is what the page looks like on the Demo application:</p>

<p><%= cdn_image "demo-google-drive-authorization.png", alt: "Demo: Google Drive Linking" %></p>

<p>The partner should click the <em>Initiate Linking</em> button.</p>

<p>If the partner is not currently logged in to their Google Drive account, then they will be presented with a login form</p>

<p><%= cdn_image "google-drive-signin-authorization.png", alt: "Google Drive: Signin form before authorization" %></p>

<p>After logging in, the partner will be presented with an authorization form.</p>

<p><%= cdn_image "google-drive-authorization.png", alt: "Google Drive: Authorization form" %></p>

<p>The partner should click the <em>Allow</em> button. After doing so, they will be redirected to your site.</p>

<p>Authorization is complete. You will now be able to associate a Channel with this Destination and subsequently distribute data/assets to them.</p>

<p><%= cdn_image "demo-google-drive-authorized.png", alt: "Google Drive: Authorized" %></p>
