---
title: New Destination
layout: guide_simple
parent: guide
category: distributions
slug: new-destination
---

<p>Titleleaf encompasses FTP uploading functionality, thereby replacing the need for an FTP application like FileZilla. In TitleLeaf, the analog to an FTP application's <em>bookmark</em> is termed a <em>destination</em>. </p>

<p>To create a new <em>destination</em>, follow the procedure below:</p>

<ol>

  <li>
    <p>Navigate to the <em>Channels</em> module listed under the <em>Distribution</em> menu.</p>
    <p><img src="http://guide.titleleaf.com/uploads/titleleaf-distribution-menu-channels-item.png" alt="Titleleaf: Distribution menu, Channels item" /></p>
  </li>

  <li>
    <p>Click the <em>New Destination</em> link in the sidebar.</p>
    <p><img src="http://guide.titleleaf.com/uploads/titleleaf-channels-new-destination.png" alt="Titleleaf: Channels list, New destination link" /></p>
  </li>

  <li>
    <p>Complete the form and click the <em>Save</em> button.</p>
    <p><img src="http://guide.titleleaf.com/uploads/titleleaf-destination-new.png" alt="Titleleaf: New destination form" /></p>
  </li>

</ol>