---
title: New Distribution
layout: guide_simple
parent: guide
category: distributions
slug: new-distribution
---

<p>For the simplest way to create a new distribution, follow the process below. For a more advanced process, refer to the <%= link_to 'custom distribution page', '/guides/distributions/custom-distribution' %>.</p>

<ol>

  <li>
    <p>Select <em>New</em> from the <em>Distribution</em> menu.</p>
    <p><%= cdn_image "titleleaf-distribution-menu.png", alt: "Admin: Distribution Menu" %></p>
  </li>

  <li>
    <p>Populate the "New Distribution" form accordingly. For example, in the screenshot below, we have specified the individual channels for Epic. Important: You must click the <strong>Add</strong> button for the channel to be added to the list.</p>
    <p><%= cdn_image "titleleaf-new-distribution-form.png", alt: "TitleLeaf: New distribution, individual channels specified" %></p>
  </li>

  <li>
    <p>Click the <em>Create</em> button. The <em>distribution template</em> that you created will result in multiple distributions. For more information, read about <a href="/guides/distributions/distribution-template">distribution templates</a>.</p>
  </li>

</ol>
