---
title: New Channel
layout: guide_simple
parent: guide
category: distributions
slug: new-channel
---

<p>Titleleaf's Channel module is used to define what assets are delivered to where. For example, a partner might want to receive product data (the <em>what</em>) via FTP (the <em>where</em>).</p>

<p>To create a new <em>channel</em>, follow the procedure below:</p>

<ol>

  <li>
    <p>Navigate to the <em>Channels</em> module listed under the <em>Distribution</em> menu.</p>
    <p><%= cdn_image "titleleaf-distribution-menu-channels-item.png", alt: "Titleleaf: Distribution menu, Channels item" %></p>
  </li>

  <li>
    <p>Click the <em>New Channel</em> link in the sidebar.</p>
    <p><%= cdn_image "titleleaf-channels-new-link.png", alt: "Titleleaf: Channels list, New channel link" %></p>
  </li>

  <li>
    <p>Complete the form and click the <em>Create</em> button.</p>
    <p><%= cdn_image "titleleaf-channel-new.png", alt: "Titleleaf: New channel form" %></p>
  </li>

</ol>
