---
title: Test channel destination
layout: guide_simple
parent: guide
category: distributions
slug: test-channel-destination
---

<p>By clicking the <em>Test</em> link associated with a channel destination, you are effectively testing the user credentials provided by a wholesaler/distributor. At times these third-parties may change the destination setup. It is the publisher's responsibility to inform TitleLeaf of changes to said setup. Failed distributions with a message of <a href="/guides/knowledge-base/distribution-failed-to-upload.html">upload failed</a> are an indication that the destination is not properly configured. If the channel destination remains inaccessible for multiple days, contact the third party.</p>

<p><img src="https://www.evernote.com/l/AAY9Hnu_0yVCs4LRjdaH0CXhXU9ToQ1dlqIB/image.png" alt="Test channel destination link" /></p>

<p>After clicking the <em>Test</em> link, you should either see an <em>accessible</em> or <em>inaccessible</em> response.</p>
<p><img src="https://www.evernote.com/l/AAY1kGAQF2ZBaqRNKg6ilkVPO7kGwip42CwB/image.png" alt="Destination accessible" /></p>
