---
title: View distributions
layout: guide_simple
parent: guide
category: distributions
slug: view-distributions
---

<p>To view a complete list of distributions, visit the distributions list page by selecting <em>List</em> from the <em>Distribution</em> menu.</p>

<p><img src="https://assets.titleleaf.com/guide/titleleaf-distribution-menu.png" alt="Distribution menu" /></p>

<p>The distributions are listed in reverse-chronological order by default, the most recent at the top. The sort order can be changed by clicking the column header. The list can also be filtered by using the search form at the top of the page. In the following example, the user is viewing all distributions to channels containing the word <strong>bigtimber</strong>.</p>

<p><img src="https://assets.titleleaf.com/guide/titleleaf-distribution-list-search.png" alt="Distribution list, search for bigtimber" /></p>

<p>Clicking on the view icon will provide more information regarding the respective distribution.</p>
