---
title: View product format distributions
layout: guide_simple
parent: guide
category: distributions
slug: view-product-format-distributions
---

<p>A distribution represents the event of sending a group of assets to a specific wholesaler/distributor. To determine if a specific product format (e.g. a PDF ebook) of a specific product (e.g., I, Q: The Windy City) has been distributed, follow the procedure below.</p>

<ol>

<li>
<p>Visit the product page, then scroll to the bottom of the page where it lists the associated product formats.</p>
</li>

<li>
<p>Click the product format in question.</p>
<p><img src="https://assets.titleleaf.com/guide/admin-product-format-link.png" alt="Admin: Product format link" /></p>
</li>

<li>
<p>On the product format page, click the <em>Distributions</em> link in the right sidebar.</p>
<p><img src="https://assets.titleleaf.com/guide/admin-product-format-distributions-link.png" alt="Admin: Product formats edit, Distributions link" /></p>
</li>

<li>
<p>View the associated distributions.</p>
<p><img src="https://assets.titleleaf.com/guide/admin-product-format-distributions.png" alt="Admin: Product format distributions" /></p>
</li>

<li>
<p>You can further filter the distributions by specifying a specific <em>Channel</em> in the search form at the top of the page. In the example below, we're viewing the distributions of the Windy City title to Follett.</p>
<p><img src="https://assets.titleleaf.com/guide/admin-filter-distributions-by-product-format-and-channel.png" alt="Admin: Filter product format distributions by channel" /></p>
</li>

</ol>
