---
title: View ebook distributions
layout: guide_simple
parent: guide
category: distributions
slug: view-ebook-distributions
---

<p>A distribution represents the event of sending a group of assets to a specific wholesaler/distributor.</p>

<ol>

<li>
<p>Visit the distribution list by selecting the respective item from the Distribution menu.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-distribution-menu.png" alt="Admin: Distribution menu" /></p>
</li>

<li>
<p>Filter the list by selecting "Product Format Ebook" in "Asset Type" dropdown, then click "Search" button.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-distribution-list-product-format-ebook-search.png" alt="Admin: Filtered distribution list by ebook" /></p>
</li>

<li>
<p>Click the "View" icon to see details of a respective distribution.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-distribution-list-closeup.png" alt="Admin: Distribution list, closeup" /></p>
<p>Distribution details page:</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-distribution-view.png" alt="Admin: Distribution details page" /></p>
</li>

</ol>