---
title: Advanced search
layout: guide_simple
parent: guide
category: product-catalog
slug: advanced-search
---

<p>The advanced search form can be accessed from the admin home page. The search field in the upper, right-hand corner of every admin page also provides access to the advanced search functionality.</p>

<p><img src="https://assets.titleleaf.com/guide/titleleaf-advanced-search-link.png" alt="Advanced search link" /></p>

<p>If you click the "Advanced Search" link on the admin home page, you will be presented with the advanced search form. Enter the search criteria into this form.</p>

<p><img src="https://assets.titleleaf.com/guide/titleleaf-advanced-search-form.png" alt="Advanced search form" /></p>

<p>Click the "Search" button at the bottom of the form to obtain the search results. This is the same page that you'll be presented if you use the search field in the upper, right-hand corner of every admin page.</p>

<p><img src="https://assets.titleleaf.com/guide/titleleaf-search-results.png" alt="Search results" /></p>

<p>To fine-tune your search results, adjust the search filters in the right sidebar as desired, then click the "Perform" button.</p>

<p><img src="https://assets.titleleaf.com/guide/titleleaf-search-results-filtered.png" alt="Search results, refined" /></p>

<p>Individual products can be omitted from the search results by clicking the "Omit" icon in the respective product row.</p>

<p><img src="https://assets.titleleaf.com/guide/titleleaf-search-results-omit.png" alt="Omit search results" /></p>

<p>At any point, your search results can be exported using the respective form at the bottom of the right sidebar.</p>
