---
title: Assigned contributors sequence
layout: guide_simple
parent: guide
category: product-catalog
slug: assigned-contributors-sequence
---

<p>The <em>Edit Product</em> page allows a publisher to assign multiple contributors to the product in question.</p>

<p><%= cdn_image "titleleaf-edit-product-participants-section.png", alt: "TitleLeaf: Edit product page, participants section" %></p>

<p>The <em>sequence</em> number defines the order in which the contributors will be presented to the customer. This allows the publisher to, for example, give priority to a certain author over other secondary authors, illustrators, etc.</p>
