---
title: Change status of erratum
layout: guide_simple
parent: guide
category: product-catalog
slug: change-status-of-erratum
---

<p>An erratum can have a variety of different states:</p>

<ul>
<li><strong>Submitted</strong> - Initial state upon creation by a website user or the publisher</li>
<li><strong>Accepted</strong> - Publisher researches submission and determines that it is valid</li>
<li><strong>Refused</strong> - Publisher researches submission and determines that it is <em>not</em> valid</li>
<li><strong>Fixed</strong> - Publisher implements the correction in the book's layout file (e.g. InDesign/Quark)</li>
<li><strong>Published</strong> - The book is reprinted with the correction</li>
</ul>

<p>To change the state of an erratum, follow the process below:</p>

<ol>

<li>
<p>Go to errata list page. One method to get there is by clicking the <em>Errata</em> link in the <em>Content</em> menu.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-content-menu.png" alt="TitleLeaf: Content menu" /></p>
<p><img src="http://guide.titleleaf.com/uploads/admin-errata.png" alt="TitleLeaf: Errata list" /></p>
</li>

<li>
<p>Select the appropriate erratum. Notice that the <em>Status</em> in this example is currently set to <em>Accepted</em>.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-erratum.png" alt="TitleLeaf: Erratum edit" /></p>
</li>

<li>
<p>Click a new status, for example <em>Published</em>. Confirming the change, the new status will no longer be an active link. Also, a new line will be entered in the status list along with the time at which the status was changed.</p>
<p><img src="http://guide.titleleaf.com/uploads/admin-erratum-status-changed-to-published.png" alt="TitleLeaf: Erratum status changed to published" /></p>
</li>

</ol>