---
title: Check asset status of upcoming products
layout: guide_simple
parent: guide
category: product-catalog
slug: check-asset-status-of-upcoming-products
---

<p>During the production process, it's helpful to determine which assets are missing for a given product. </p>

<ol>
<li>
<p>Navigate to the Advanced Search page. A link is available in the menu bar.</p>
<p><img src="https://assets.titleleaf.com/guide/titleleaf-search-link.png" alt="Advanced search link" /></p>
</li>

<li>
<p>Click the "Upcoming" link next to the Release Date fields to automatically populate the fields.</p>
<p><img src="https://assets.titleleaf.com/guide/titleleaf-advanced-search-release-dates.png" alt="Upcoming link" /></p>
</li>

<li>
<p>Click the "Search" button to obtain the search results. Filter the search results further, if necessary. In the following instance, filters were added for "Title" type and "Reinforced" format.</p>
<p><img src="https://assets.titleleaf.com/guide/titleleaf-search-button.png" alt="Search button" /></p>
</li>

<li>
<p>Click the "New Package" button to export specific assets for the given search results. The button is in the "Package Assets" form near the bottom of the right sidebar.</p>
<p><img src="https://assets.titleleaf.com/guide/titleleaf-partial-package-assets.png" alt="Titleleaf Partial Package Assets" /></p>
</li>

<li>
<p>In the new package form, export the search results using the "Asset Status Csv" template.</p>
<p><img src="https://assets.titleleaf.com/guide/package-new.png" alt="Titleleaf Search Results Package Asset Status Csv" /></p>
</li>

<li>
<p>The package may take a few minutes to create. Refresh your browser window to follow the progress, indicated by the package <em>State</em>.
</p>
<p><img src="https://assets.titleleaf.com/guide/titleleaf-package-processing.png" alt="Titleleaf Package Processing" /></p>
<p>When the assets are successfully packaged (state = complete), click the link associated with the download file.</p>
<p><img src="https://assets.titleleaf.com/guide/titleleaf-package-complete.png" alt="Titleleaf Package Complete" /></p>
</li>

</ol>
