---
title: Create new format of existing product
layout: guide_simple
parent: guide
category: product-catalog
slug: create-new-format-of-existing-product
---

<p>To create a new product format of an existing product, you have two options:</p>

<ol>
<li><p><a href="/guides/ingestions/ingest-product-format-data.html">Create a spreadsheet and ingest</a>
</p>
</li>
<li><p><a href="/guides/product-catalog/duplicate-format-of-existing-product.html">Fill in and submit the new product format form</a>
</p>
</li>
</ol>

<p>The best option depends on the number of product formats that you'd like to create.</p>
