---
title: Create excerpt from PDF ebook
layout: guide_simple
parent: guide
category: product-catalog
slug: create-excerpt-from-pdf-ebook
---

<p>As an alternative to manually creating excerpts of your books, TitleLeaf can auto-generate excerpts from the PDF ebook associated with the product.</p>

<p>Notes:</p>
<ul>
<li>TitleLeaf will remove a predefined number of pages from the interior in order to create the excerpt. Talk to your TitleLeaf support representative to define those numbers.</li>
<li>If you would prefer to create the excerpt yourself, instead of having TitleLeaf do so, then follow these directions to <a href="/guides/product-catalog/create-excerpt">ingest an excerpt</a>.</li>
</ul>

<p>Follow the process below to upload a PDF ebook. The excerpt will be automatically created shortly thereafter.</p>

<ol>
  <li>
    <p>Navigate to new ingestion page.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-ingestion-new.png" alt="TitleLeaf: New ingestion" /></p>
  </li>
  <li>
    <p>Select <em>Ebooks</em> as ingestion type, choose to upload the PDF on your local machine, then click the <em>Create</em> button.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-ingest-pdf-ebook.png" alt="TitleLeaf: New ingestion, Ebook" /></p>
    <p>Note: The file can also be uploaded via FTP. In this case, remember to follow the <a href="/guides/ingestions/ftp-file-naming-convention">file naming convention</a>.</p>
  </li>
</ol>

<p>If the ingestion is successful, the PDF will be processed and thereafter an excerpt will be available to the public.</p>

<p><img src="https://assets.titleleaf.com/guide/sleepingbear-read-excerpt.png" alt="Sleeping Bear: Read excerpt link" /></p>

<p><img src="https://assets.titleleaf.com/guide/titleleaf-read-excerpt.png" alt="TitleLeaf: Read excerpt example" /></p>
