---
title: Create excerpt
layout: guide_simple
parent: guide
category: product-catalog
slug: create-excerpt
---

<p>TitleLeaf use the term <em>excerpt</em> to indicate a sample of book. If you upload a PDF excerpt of a book to TitleLeaf (via an ingestion), TitleLeaf will convert the PDF into HTML that is viewable on the associated product page of the website. It's similar to Amazon's <em>look inside</em> functionality.</p>

<p>Note: To save publishers the time creating excerpts, TitleLeaf can <a href="/guides/product-catalog/create-excerpt-from-pdf-ebook">auto-generate an excerpt from a complete PDF ebook</a>.</p>

<ol>
  <li>
    <p>Navigate to new ingestion page.</p>
    <p><%= cdn_image "titleleaf-ingestion-new.png", alt: "TitleLeaf: New ingestion" %></p>
  </li>
  <li>
    <p>Select <em>Excerpts</em> as ingestion type, choose to upload the PDF on your local machine, then click the <em>Create</em> button.</p>
    <p><%= cdn_image "titleleaf-ingestion-new-excerpt.png", alt: "TitleLeaf: New ingestion, Excerpt" %></p>
    <p>Note: The file can also be uploaded via FTP. In this case, remember to follow the <a href="/guides/ingestions/ftp-file-naming-convention">file naming convention</a>.</p>
  </li>
</ol>

<p>If the ingestion is successful, the excerpt will be available to the public on the associated product page.</p>

<p><%= cdn_image "sleepingbear-read-excerpt.png", alt: "Sleeping Bear: Read excerpt link" %></p>

<p><%= cdn_image "titleleaf-read-excerpt.png", alt: "TitleLeaf: Read excerpt example" %></p>
