---
title: Determine ebook existence
layout: guide_simple
parent: guide
category: product-catalog
slug: determine-ebook-existence
---

<p>Apart from exporting an <a href="/guides/product-catalog/export-asset-status-report">asset status report</a>, you can determine if the PDF ebook exists by visiting the product page. The associated product formats are listed at the bottom of that page. A check ✓ in the <strong>Ebook?</strong> column indicate that the file exists. In the image below, we can conclude that the PDF ebook, the ePub ebook and the Kindle ebook exist.</p>

<p><%= cdn_image "demo-determine-ebook-existence.png", alt: "Admin: Determine ebook existence" %></p>

<p>You can further <a href="/guides/distributions/view-product-format-distributions">determine if a product format has been distributed to wholesalers</a> by visiting the product format page, then clicking the <em>Distributions</em> link in the right sidebar.</p>
