---
title: Determine number of titles in a set
layout: guide_simple
parent: guide
category: product-catalog
slug: determine-number-of-titles-in-a-set
---

<ol>

<li>
<p>Go to the products page.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-products-menu-item-highlighted.png" alt="Catalog menu, Products item" /></p>
</li>

<li>
<p>Search for the set in question (by name and type most likely)</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-products-sets.png" alt="Products, set type" /></p>
</li>

<li><p>In the search results, the number of titles for a given set appears in parentheses after the product name.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-products-closeup.png" alt="Products, closeup" /></p>
</li>

</ol>