---
title: Determine ebook existence
layout: guide_simple
parent: guide
category: product-catalog
slug: determine-ebook-existence
---

<p>
  Apart from exporting an
  <a href="/guides/product-catalog/export-asset-status-report">asset status report</a>,
  you can determine if an ebook exists by visiting the Product Formats module
  (Admin > Catalog > Products > Product Formats).
</p>

<p>
  Optionally, use the search form at the top of the page to find product
  formats associated with a specific product.
</p>

<p>
  The presence of the download icon
  <i title="Download" class="far fa-arrow-from-top" aria-hidden="true"></i>
  in the <strong>Ebook?</strong> column indicates that the file exists in
  TitleLeaf. Clicking the icon will download the file.
</p>

<p>
  In the image below, we can conclude that the PDF ebook, the ePub ebook
  and the Kindle ebook exist.
</p>

<p>
  <%= cdn_image "demo-determine-ebook-existence.png", alt: "Admin: Determine ebook existence" %>
</p>

<p>
  You can further
  <a href="/guides/distributions/view-product-format-distributions">determine if a product format has been distributed to wholesalers</a>
  by visiting the product format page, then clicking the <em>Distributions</em>
  link in the right sidebar.
</p>
