---
title: Download draft
layout: guide_simple
parent: guide
category: product-catalog
slug: download-draft
---

<ol>

<li>
<p>Find a specific product using your preferred method, such as the <a href="/guides/product-catalog/advanced-search.html">advanced search form</a>.</p>
</li>

<li>
<p>Click the <em>arrow</em> in the <em>Formats</em> column to view all the product formats associated with the respective product.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-search-results-ferry.png" alt="Admin search results for ferry" /></p>
</li>

<li>
<p>Click the <em>ISBN</em> of the format that has a checkmark in the <em>Draft</em> column.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-product-formats-ferry.png" alt="Product formats list, draft column highlighted" /></p>
</li>

<li>
<p>On the <em>Edit Product Format</em> page, click the <em>Download Draft</em> link in the right sidebar. The file should begin to download.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-product-format-edit-ferry.png" alt="Edit product format, Download draft link" /></p>
</li>

</ol>
