---
title: Duplicate format of existing product
layout: guide_simple
parent: guide
category: product-catalog
slug: duplicate-format-of-existing-product
---

<ol>

<li>
<p>Use the advanced search field to find the product in question. Click the link associated with the product format to be duplicated.</p>
<p><img src="https://assets.titleleaf.com/guide/admin-product-format-clone-1.png" /></p>
</li>

<li>
<p>On the "Edit Product Format" page, click the "Clone" icon in the sidebar.</p>
<p><img src="https://assets.titleleaf.com/guide/admin-product-format-clone-2.png" /></p>
</li>

<li>
<p>Complete the "New Product Format" form.</p>
<p><img src="https://assets.titleleaf.com/guide/admin-product-format-clone-3.png" /></p>
</li>

<li>
<p>Click the "Create" button at the bottom of the page.</p>
<p><img src="https://assets.titleleaf.com/guide/admin-product-format-clone-4.png" /></p>
</li>

</ol>
