---
title: Errata
layout: guide_simple
parent: guide
category: product-catalog
slug: errata
---

<p>TitleLeaf allows publishers to track errata for each product. Both registered users and admin can submit errata.</p>

<p>To view all errata, select the <em>Errata</em> item in the <em>Content</em> menu:</p>

<p><img src="https://assets.titleleaf.com/guide/titleleaf-content-menu.png" alt="content menu" /></p>

<p>To view errata for a specific product:</p>

<ol>

<li>
<p>Go to the <em>Edit Product</em> page of the desired product.</p>
<p><img src="https://assets.titleleaf.com/guide/titleleaf-products-edit-top.png" alt="Admin: Edit product form, top" /></p>
</li>

<li>
<p>Click the <em>Errata</em> link in the right sidebar. You will be taken to list of errata associated with said product.</p>
<p><img src="https://assets.titleleaf.com/guide/admin-errata.png" alt="Admin: Errata list" /></p>
</li>

</ol>

<p>To view details regarding a specific erratum:</p>

<ol>

<li>
<p>Click the <em>edit icon</em> in the list of errata. You will be taken to the edit page.</p>
<p><img src="https://assets.titleleaf.com/guide/admin-edit-erratum.png" alt="Admin: Edit erratum" /></p>
</li>

</ol>
