---
title: Export all product data
layout: guide_simple
parent: guide
category: product-catalog
slug: export-all-product-data
---

<p>The<strong>Package Assets</strong> page allows users to export product data (or other assets) with detailed control over the export. To export products, you must define:</p>

<ul>
<li><strong>Asset Type</strong>: This is the template that is used to create the exported data file. The format of the resultant file is either <em>CSV</em> or <em>Excel</em> and is indicated by the Asset Type name.</li>
<li><strong>Select Assets By</strong>: If you'd like to export all data, select <em>Date</em> and leave the <em>Start Date</em> and <em>End Date</em> fields blank.</li>
<li><strong>Product Type</strong>: Selecting <em>All</em> will export both <em>Sets</em> and <em>Titles</em>.</li>
<li><strong>Product Formats</strong>: You must specify the formats that you'd like to export. Use the links <em>All</em>, <em>None</em> or <em>Print</em> to quickly select multiple checkboxes.</li>
</ul>

<p>The following settings can be used to export <em>all</em> product data. This is not recommended, however, because of the processing power required. In fact, TitleLeaf has a <a href="/guides/knowledge-base/package-processing-stalled">Package Limit setting</a> to avoid such accidental demands on the server. A better strategy is to export data grouped by format, date or publisher.</p>

<p><%= cdn_image "titleleaf-packages-new.png", alt: "TitleLeaf: New Package form, all products selected" %></p>
