---
title: Export product data
layout: guide_simple
parent: guide
category: product-catalog
slug: export-product-data
---

<p>
  Product data can be exported (i.e. <em>packaged</em>) from the
  <a href="/guides/product-catalog/advanced-search">advanced search</a>
  results page or the <em>package assets</em> page. This document will
  describe the latter process.
</p>

<p>
  Select <em>Admin > Management > Other > Packages</em> menu item.
</p>

<p>
  Click the <em>New Package</em> link in the sidebar.
</p>

<p>
  <img src="https://assets.titleleaf.com/guide/titleleaf-packages-new-link.png" alt="Packages list, new link highlighted" />
</p>

<p>
  The <em>New Package</em> form has many options. The <em>Asset Type</em>
  dropdown determines the type of the exported data (e.g., CSV, Excel, Onix).
  For Csv and Excel data formats, the resultant file will have a variety of different
  columns depending on the specific asset type that you choose. Most options
  correspond to wholesaler/distributor requirements (e.g., Follett Csv).
  Others meet general or internal needs (e.g., Default Csv, Default Xlsx).
</p>

<p>
  <img src="https://assets.titleleaf.com/guide/titleleaf-packages-new.png" alt="Titleleaf Packages New" />
</p>

<p>
  The specific product data that is exported is determined by your choice in the
  <em>Select Assets By</em> section of the form.
</p>

<p>
  <img src="https://assets.titleleaf.com/guide/titleleaf-select-assets-by-date.png" alt="Titleleaf Select Assets By Date" />
</p>

<p>
  Once you've designated your needs, click the <em>Create</em> button at the
  bottom of the page to download a file to your local computer.
</p>

<p>
  Note: Depending upon the number of products in your database, creating the
  file and downloading could take up to 10 minutes.
</p>
