---
title: Export ISBN report
layout: guide_simple
parent: guide
category: product-catalog
slug: export-isbn-report
---

<ol>

<li>
<p>Navigate to the Advanced Search page. A link is available in the menu bar.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-search-link.png" alt="TitleLeaf: Advanced search link" /></p>
</li>

<li>
<p>Enter the desired search criteria, then click the “Search” button. Note: In this example, we're searching for upcoming titles.</p>
<p>a. Product Type = Title</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-advanced-search-product-types.png" alt="Advanced Search: Product type" /></p>
<p>b. Release Date =&gt; Click the "upcoming" link</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-advanced-search-release-dates.png" alt="Advanced Search: Release date" /></p>
</li>

<li>
<p>From the Search Results page, export the data using the “ISBNs (Csv)” template.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-search-results-package-assets.png" alt="Search results: Package assets" /></p>
</li>

<li>
<p>Open the file that is subsequently downloaded to your computer with Microsoft Excel or a comparable spreadsheet application.</p>
</li>

</ol>