---
title: Export product data
layout: guide_simple
parent: guide
category: product-catalog
slug: export-product-data
---

<p>Product data can be exported (i.e. <em>packaged</em>) from the <a href="/guides/product-catalog/advanced-search.html">advanced search</a> results page or the <em>package assets</em> page. This document will describe the latter process.</p>

<p>Click <em>Package Assets</em>&#160;link on the <a href="/guides/basics/navigate-to-admin-home-page.html">admin home page</a>.</p>

<p><img src="https://assets.titleleaf.com/guide/titleleaf-dashboard-package_assets_highlighted.png" title="Titleleaf Dashboard Package Assets Highlighted" alt="Titleleaf Dashboard Package Assets Highlighted" data-rel="225x255" width="1024" height="568" /></p>

<p>The <em>Package Assets</em> form has many options. The <em>Asset Type</em> dropdown determines the format of the exported data (e.g., CSV, Excel, Onix). For Csv and Excel formats, the resultant file will have a variety of different columns depending on the specific asset type that you choose. Most options correspond to wholesaler/distributor requirements (e.g., Follett Csv). Others meet general or internal needs (e.g., Default Csv, Default Xlsx).</p>

<p><img src="https://assets.titleleaf.com/guide/titleleaf-packages-new.png" title="Titleleaf Packages New" alt="Titleleaf Packages New" data-rel="225x255" width="1024" height="568" /></p>

<p>The specific product data that is exported is determined by your choice in the <em>Select Assets By</em> section of the form.</p>

<p><img src="https://assets.titleleaf.com/guide/titleleaf-select_assets_by_date.png" title="Titleleaf Select Assets By Date" alt="Titleleaf Select Assets By Date" data-rel="225x255" width="651" height="165" /></p>

<p>Once you've designated your needs, click the <em>Create</em> button at the bottom of the page to download a file to your local computer.</p>

<p>Note: Depending upon the number of products in your database, creating the file and downloading could take up to 10 minutes.</p>
