---
title: Export asset status report
layout: guide_simple
parent: guide
category: product-catalog
slug: export-asset-status-report
---

<p>An asset status report provides an overview of assets available for a group of products in spreadsheet form. Follow the procedure below to create an asset status report.</p>

<ol>

<li>
<p>Navigate to the Advanced Search page. A link is available in the menu bar.</p>
<p><%= cdn_image "titleleaf-search-link.png", alt: "Advanced search link" %></p>
</li>

<li><p>Enter the desired search criteria, then click the “Search” button. Note: In this example, we're searching for the PDF format of all titles. If you want a complete report, select all print product formats.</p>

<p>a. Product Format = PDF</p>

<p>b. Product Type = Title</p>

<p><%= cdn_image "titleleaf-search-form-pdf-title.png", alt: "Search form" %>
<%= cdn_image "titleleaf-search-button.png", alt: "Search button" %></p>
</li>
<li><p>From the Search Results page, export the data using the “Asset Status Csv” template.</p>

<p><%= cdn_image "titleleaf-search-results-export-asset-status.png", alt: "Search results" class="selected_by_wym" %></p>
</li>
<li><p>Open the file that is subsequently downloaded to your computer with Microsoft Excel or a comparable spreadsheet application.</p>
</li>
</ol>
