---
title: Sign In
layout: guide_simple
parent: guide
---

<p>You must <a href="/basics/create-an-account">create an account</a> prior to signing in.</p>

<ol>
  <li>
    <p>To sign in, navigate to the sign in page.</p>

    <p><img src="https://assets.titleleaf.com/guide/demo-signin-link.png" alt="Sign in link" /></p>
  </li>
  <li>
    <p>Enter your email address and password, then click the form button.</p>

    <p><img src="https://assets.titleleaf.com/guide/demo-signin-form.png" alt="Sign in form" /></p>

    <p>If you successfully entered your credentials, you will be redirected to your previous page with a confirmation message at the top.</p>

    <p><img src="https://assets.titleleaf.com/guide/signin-confirmation.png" alt="Sign in confirmation message" /></p>

    <p>If an error is encountered, you will remain on the sign in page.</p>

    <p><img src="https://assets.titleleaf.com/guide/signin-error.png" alt="Sign in error message" /></p>
  </li>
</ol>
