$_button-background-color: $link-color;
$_button-background-color-hover: $link-hover-color;
$_button-color: $white;
$_button-color-hover: $white;
$_button-secondary-background-color: $dark-gray;
$_button-secondary-background-color-hover: darken($dark-gray, 20%);
$_button-secondary-color: $white;
$_button-secondary-color-hover: $white;

#{$all-buttons}, .button {
  appearance: none;
  background-color: $_button-background-color;
  border: 0;
  border-radius: $base-border-radius;
  color: $_button-color;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 18px;
  font-weight: 200;
  padding: 0.6em 1.5em 0.8em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: $_button-background-color-hover;
    color: $_button-color;
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $_button-background-color;
    }
  }
}

.button.secondary {
  color: $_button-secondary-color;
  background-color: $_button-secondary-background-color;
  &:hover {
    color: $_button-secondary-color-hover;
    background-color: $_button-secondary-background-color-hover;
  }
}
