/* Inline List */
@mixin inline-list {
  list-style-type: none;
  &,
  & li {
    margin: 0;
    padding: 0;
    display: inline;
  }
}

/* Inline Block List */
@mixin inline-block-list($space: 1em) {
  list-style-type: none;
  &,
  & li {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  & li {
    margin: 0 $space 0 0;
  }
}
