body {
  a {
    text-decoration: none;
  }
  font-size: 18px;
}

header,
footer {
  @include grid-container;
  margin: 0 auto;
  max-width: $max-width;
}

.col-left,
.col-right,
.col-full,
.item {
  @include grid-column(12);
}
.col-left,
.col-right {
  text-align: left;
}

header {
  margin-top: 10px;
  margin-bottom: 10px;
  color: $header-color;
  .col-left {
    @include grid-column(10);
  }
  .col-right {
    @include grid-column(2);
    text-align: right;
    margin: 10px 0;
  }
  a {
    color: $header-link-color;
    &:hover { color: $header-link-hover-color; }
  }
  ul#menu {
    @include inline-block-list(0);
    margin-right: 0 !important;
    li {
      margin-left: 50px;
      &:first-child {
        margin-left: 0;
      }
      a {
        display: inline-block;
      }
      a.button {
        padding: 0.3em 1.5em 0.4em 1.5em;
      }
    }
  }
}

footer {
  border-top: 2px solid #eee;
  padding: 50px 0;
  font-size: 82%;
  color: $footer-color;
  section {
    @include grid-column(12);
  }
  a {
    color: $footer-link-color;
    &:hover { color: $footer-link-hover-color; }
  }
  ul {
    @include inline-list;
    li:first-child:before {
      content: none;
      margin-right: 0;
    }
    li:before {
      content: "\00b7";
      margin: 0 8px 0 4px;
    }
  }
}


section#splash {
  background-color: $light-gray;
  .row {
    @include grid-container;
    text-align: center;
    margin: 0 auto;
    max-width: $max-width;
    padding-top: 60px;
  }
  .col-left,
  .col-right {
    text-align: left;
  }
}

section#content {
  margin: 0 auto;
  max-width: $max-width;
  padding-top: 25px;
  padding-bottom: 25px;
  .row {
    @include grid-container;
    text-align: center;
    padding: 0;
    margin: 50px 0;
  }
  .item {
    @include grid-column(12);
  }
}

.no-margin {
  margin: 0;
}

section#demonstration {
  @include grid-container;
  margin: 0 auto;
  max-width: $max-width;
  border-top: 2px solid #eee;
  padding: 50px 0;
  text-align: center;
  .col-left {
    h5 {
      margin-bottom: 0;
    }
    p {
      font-size: 0.72em;
    }
  }
  .col-right {
    .button {
      margin-top: 1em;
    }
  }
}

h1, h2, h3, h4, h5 {
  line-height: 1.2em;
  margin-bottom: 0.3em;
}
h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.0em; }

strong {
  font-weight: 600;
}

hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 0 auto;
  height: 0;
  width: 5%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 2px solid #eee;
}

.text-center {
  text-align: center !important;
}


// Responsive

/* Small screens (default) */
@include grid-media($small-screen-grid) {
}

/* Medium screens (>= 992px) */
@include grid-media($medium-screen-grid) {
  .col-left,
  .col-right {
    @include grid-column(6);
  }
  header .col-left,
  header .col-right {
    @include grid-column(6);
  }
  section#demonstration {
    .col-right {
      text-align: right;
    }
  }
}

/* Large screens (>= 1250px) */
@include grid-media($large-screen-grid) {
  h1 { font-size: 2.4em; }
  h2 { font-size: 2.0em; }
  h3 { font-size: 1.5em; }
  h4 { font-size: 1.2em; }
  h5 { font-size: 1.0em; }
}

/* Print */
@include grid-media($print-only-grid) {
}
