---
title: Collection analysis report highlights
layout: guide_simple
parent: guide
category: reps
slug: collection-analysis-report-highlights
---

<p>A collection analysis report can be a powerful tool in determining gaps in a library's content. Use the following aspects of a TitleLeaf report to gain more insight.</p>

<p><%= cdn_image 'collection-analysis-report-highlights.png', alt: 'Collection Analysis Report Highlights' %></p>

<ul>

  <li>
    <p>A. Click the <em>Check Against Cart</em> link to determine if any items in your cart match items in the MARC records file. Do this to avoid purchasing items that you already own.</p>
  </li>

  <li>
    <p>B. Click a dewey class to drill down into the report.</p>
  </li>

  <li>
    <p>C. Click a number in the <em>Records</em> column to view the individual MARC records associated with the given dewey class.</p>
  </li>

  <li>
    <p>D. Click an arrow in the <em>Products</em> column to view products offered by the publisher that correlate to the given dewey class.</p>
  </li>
</ul>
