---
title: Create customer
layout: guide_simple
parent: guide
category: reps
slug: create-customer
---

<p>As a Sales Rep, you have the ability to create new customers. To do so, follow the procedure below:</p>

<ol>

  <li>
    <p>Sign-in.</p>
    <p><img src="https://www.evernote.com/l/AAZacsO5RY5McoIGbOE94PR4vd1L8NTpKhIB/image.png" alt="Sign-in link" /></p>
    <p><img src="https://www.evernote.com/l/AAZtBJTNDndNyaxSCtwFz_r8PHQvmZxCg-cB/image.png" alt="Complete sign-in form" /></p>
  </li>

  <li>
    <p>Click the newly-displayed <em>Sales</em> link. Note: You must have <em>Sales Rep</em> privileges to view this link. Contact the Publisher's Sales Manager if the link is not present.</p>
    <p><img src="https://www.evernote.com/l/AAZ9SCALnrVCb41Tt5pC_dctNHdvQA5LOOQB/image.png" alt="Sales link" /></p>
  </li>

  <li>
    <p>Click the <em>New Customer</em> link on the Sales Team dashboard.</p>
    <p><img src="https://www.evernote.com/l/AAaDPlQUgTRNCprHAIz064M3Us9ll6ebtIAB/image.png" alt="New customer link" /></p>
  </li>

  <li>
    <p>Complete the new customer form, then click <em>Submit</em>.</p>
    <p><img src="https://www.evernote.com/l/AAbcv6zowvxCtbp3b9watpYJioO9RsL2i7kB/image.png" alt="New customer form" /></p>
    <p><img src="https://www.evernote.com/l/AAbVnwCGxoVCY77z_B76aoY9cYbqhXq8V2QB/image.png" alt="Completed new customer form" /></p>
    <p>Note: When the <em>Skip Confirmation</em> checkbox is checked, the new customer is not sent a confirmation email; their account is automatically activated.</p>
  </li>

  <li>
    <p>If the customer was successfully created, you will see a confirmation message. If not, you will see an error message indicating which fields were not appropriately completed.</p>
    <p><img src="https://www.evernote.com/l/AAYSko5ng61D24Aj63IifHJi7bd9iEedD90B/image.png" alt="Confirmation: Customer was successfully created" /></p>
  </li>

</ol>