---
title: Create collection analysis report
layout: guide_simple
parent: guide
category: reps
slug: create-collection-analysis-report
---

<p>TitleLeaf performs Collection Analysis on MARC records uploaded by users. To have your records analyzed, follow the procedure below:</p>

<ol>

  <li>
    <p>Navigate to the <em>Collection Analysis</em> module from the <em>Your Account</em> page.</p>
    <p><img src="https://www.evernote.com/l/AAYv7PWtTqpH6IUOUAwS2rcjYL5sUJszvPQB/image.png" alt="Collection analysis link" /></p>
  </li>

  <li>
    <p>Click the <em>New Record</em> link to create a new collection analysis report.</p>
    <p><img src="https://www.evernote.com/l/AAaAbr2GYotBSLw9unkeH1Q7VzqG7soTwrkB/image.png" alt="New collection analysis report link" /></p>
  </li>

  <li>
    <p>You will be presented with the Collection Analysis Report form.</p>
    <p><img src="https://www.evernote.com/l/AAZmrlRmNTNOk6oLjjMlbWoetA1YAbplKSsB/image.png" alt="Collection Analysis form" /></p>
  </li>

  <li>
    <p>The Collection Analysis form is extensive but the only required fields are the MARC record file and the report name.</p>
    <p><img src="https://www.evernote.com/l/AAb_hpwAy-tBXaCAMWeAicG9csT9qPYrElMB/image.png" alt="Collection analysis report form, required fields" /></p>
  </li>

  <li>
    <p>After submitting the form, you will be presented with confirmation, assuming you populated the required fields. The report list indicates that the report is processing.</p>
    <p><img src="https://www.evernote.com/l/AAZYnXGgNj9PVq-UFgUAfQ7Xy4UWnpMK1m8B/image.png" alt="Processing" /></p>
  </li>

  <li>
    <p>You will be sent an email when your report is ready. You can also refresh the browser window to see if there's a change in <em>status</em>.</p>
    <p><img src="https://www.evernote.com/l/AAbl-4a8YQFFO6BzoU2ayfFUPSEGQlg-jV8B/image.png" alt="Report complete email" /></p>
  </li>

  <li>
    <p>When the report is complete, you will see values in the various columns.</p>
    <p><img src="https://www.evernote.com/l/AAYSPHNOF-ZAb6UnMV7JCN3wixSbsMmlDmsB/image.png" alt="Report list" /></p>
  </li>

  <li>
    <p>Upon completion, click the report name to view the actual report.</p>
    <p><img src="https://www.evernote.com/l/AAb6Au_pDylB1aD5FLzehQ6wHFvx5zflmD8B/image.png" alt="Collection analysis report view" /></p>
  </li>

</ol>

<p>For more information regarding collection analysis reports, refer to the <a href="/guides/reps/collection-analysis-report-highlights.html">highlights page</a>.</p>
