---
title: Create quote
layout: guide_simple
parent: guide
category: reps
slug: create-quote
---

<p>TitleLeaf provides functionality for a <em>Sales Rep</em> to create quotes for <em>Customers</em>. To do so, follow the procedure below:</p>

<ol>

  <li>
    <p>Add items to your shopping cart, then go to the <em>Shopping Cart</em> page. From here, you can either immediately create a quote or you can begin the checkout process. By beginning the checkout process, you can associate billing and shipping addresses with the quote. In this way, the quote will also have the shipping cost and sales tax calculated.</p>
    <p><%= cdn_image 'shopping-cart.png', alt: 'Shopping Cart' %></p>
  </li>

  <li>
    <p>The last step of the checkout process is <em>Order Review</em>. Click the <em>Save as Quote</em>.</p>
    <p><%= cdn_image 'order-review-save-as-quote.png', alt: 'Order review: Save as quote' %></p>
  </li>

  <li>
    <p>The new quote form allows <em>Sales Reps</em> to assign a quote to a customer.</p>
    <p><%= cdn_image 'new-quote-form.png', alt: 'New quote form' %></p>
  </li>

  <li>
    <p>After clicking the <em>Submit</em> button, you should be presented with a confirmation message.</p>
    <p><%= cdn_image 'quote-was-successfully-created.png', alt: 'Quote was successfully created' %></p>
    <p>The quote created is now visible to the assigned customer via their account.</p>
  </li>

</ol>
