<div class="row">
  <div class="col-left">
    <h4>Add-Ons</h4>
    <ul class="checked">
      <li>
        <b>Complete server backup.</b>
        Made once a week and retained for four weeks. Add 10% to base subscription plan.
      </li>
      <li>
        <b>Export module.</b>
        Access ONIX and 50+ other export templates. Add $75/month.
      </li>
      <li>
        <b>Export + Distribution module.</b>
        Export data using all templates and automate distribution to partners. Add $250/month.
      </li>
      <li>
        <b>Satellite Site module.</b>
        Run multiple sites from one database, one admin interface. Add $25/month per satellite site.
      </li>
    </ul>
  </div>
</div>
