<div class="row" id="add-ons">
  <div class="col-left">
    <h4>Add-Ons</h4>
    <ul class="checked">
      <li>
        <b>Backup service.</b>
        Made once a week and retained for four weeks. Add $19/month.
      </li>
      <li>
        <b>Distribution module.</b>
        Export data using all partner templates and automate distribution. Add $399/month.
      </li>
      <li>
        <b>Multi-Store module.</b>
        Run multiple e-commerce sites (aka, storefronts) from one database, one admin interface. Add $29/month per additional storefront.
      </li>
    </ul>
  </div>
</div>
