<div class="row" id="add-ons">
  <div class="col-left">
    <h4>Add-Ons</h4>
    <ul class="checked">
      <li>
        <b>Backup service.</b>
        Made once a week and retained for four weeks.
        Add <%= data.config.subscription_backup_service %>.
      </li>
      <li>
        <b>Distribution module.</b>
        Export data using all partner templates and automate distribution.
        Add <%= data.config.subscription_distribution_module %>.
      </li>
      <li>
        <b>Multi-Store module.</b>
        Run multiple e-commerce sites (aka, storefronts) from one database, one admin interface.
        Add <%= data.config.subscription_multistore_module %> per storefront.
      </li>
      <li>
        <b>Preview module.</b>
        Share time-limited hosted ebooks with select customers for preview purposes.
        Add <%= data.config.subscription_preview_module %>.
      </li>
    </ul>
  </div>
</div>
