<div class="row" id="add-ons">
  <div class="col-left">
    <h4>Add-Ons</h4>
    <ul class="checked">
      <li>
        <b>Data setup.</b>
        You supply data in CSV, Excel, or ONIX format.
        We import into TitleLeaf.
        Add <%= data.config.setup_cost_data %>.
      </li>
      <li>
        <b>Additional storefront.</b>
        You supply the logo for the additional storefront.
        We modify the primary site's theme to create it.
        Add <%= data.config.setup_cost_storefront %>.
      </li>
    </ul>
  </div>
</div>
