<section id="demonstration">
  <div class="col-left">
    <h5>Get a hands-on tour of the TitleLeaf application.</h5>
    <p>And then tinker with a live installation by yourself.</p>
  </div>
  <div class="col-right">
    <%= link_to 'Request a demonstration →', '/contact.html', class: 'button secondary', style: 'margin:0;' %>
  </div>
</section>
