<div class="row" id="faqs">
  <div class="col-full">
    <h2>Frequently Asked Questions</h2>
  </div>
</div>

<div class="row">
  <div class="col-left">
    <h4>Is the TitleLeaf Client Support team on call?</h4>
    <p>No, TitleLeaf support is not on call. They can be contacted asynchronously via the support site. SLA response times are calculated using a 9 AM to 5 PM workday in the Pacific Time Zone. Support/training meetings can be scheduled.</p>

    <h4>Is there a guaranteed response time for Basic Service?</h4>
    <p>Basic Service requests are addressed in the order that they are received. Response time varies significantly. Anticipate a 7-day average.</p>

    <h4>How much does the Basic Service cost?</h4>
    <p>Basic Service support, training and development is charged at <%= data.config.hourly_rate %> per hour. Access to the knowledge base is free.</p>

    <h4>What is the payment schedule for Basic Service?</h4>
    <p>Basic Service is invoiced semi-annually (on May 15 and Nov 15) if total service hours exceed 10 hours or the service was performed more than 9 months prior.</p>

    <h4>How do I contact the TitleLeaf support team?</h4>
    <p>To contact the support team, submit a ticket via the <%= support_link %>. TitleLeaf does not provide support via email, phone, or any other method.</p>
  </div>

  <div class="col-right">
    <h4>What is the Term of the Service Level Agreements?</h4>
    <p>The Term of a Service Level Agreement can vary from 1 month to 1 year. Each specific agreement with a client will define the commencement date and the length of the term.</p>

    <h4>What is the payment schedule for Service Level Agreements?</h4>
    <p>An invoice will be emailed on the first of each month representing service for said month. Similar to subscriptions, the invoice is to be paid on receipt via credit card.</p>

    <h4>Can the hours rollover?</h4>
    <p>No, if the maximum hour allotment is not achieved in a given month, the remaining hours do not rollover to the next month.</p>

    <h4>Are overages allowed?</h4>
    <p>No, if the maximum hour allotment is achieved in a given month, further work will be performed in the subsequent month.</p>
  </div>
</div>
