<div class="row" id="faqs">
  <div class="col-full">
    <h2>Frequently Asked Questions</h2>
  </div>
</div>

<div class="row">
  <div class="col-left">
    <h4>Is there a setup fee?</h4>
    <p>For standard subscription plans (ie, plans that include the e-commerce module), yes. The setup fee depends on the the degree of customization you desire in regards to the user interface. Please <a href="/contact">contact us for a quote</a>.</p>

    <h4>What's included?</h4>
    <p>All standard subscription plans include: Unlimited products, 4TB bandwidth, blogging module, file download module, discount code module, ingestion module, basic export functionality, technical support, and more.</p>

    <h4>What does file storage signify?</h4>
    <p>File storage encompasses the disk space needed for products images, digital products, file downloads, and other files associated with your site.</p>

    <h4>Need a larger plan?</h4>
    <p>If your file storage needs exceed the <em>Professional</em> plan, please refer to our <a href="/more-pricing">larger plans</a>. We can also devise plans on a bespoke basis.</p>

    <h4>Need help maintaining your site?</h4>
    <p>The TitleTeam offers a variety of <a href="/service-level-agreements">service plans</a> to help maintain and customize your site.</p>
  </div>

  <div class="col-right">
    <h4>Can I cancel my account at any time?</h4>
    <p>Yes. If you decide that TitleLeaf isn't the appropriate ecommerce platform for your business, simply cancel your account by contacting support.</p>
    <h4>How long are your contracts?</h4>
    <p>All subscription plans are month-to-month.</p>

    <h4>Can I change my plan in the future?</h4>
    <p>Yes. You can upgrade or downgrade your plan at any time.</p>

    <h4>Do I need a web host?</h4>
    <p>No. All subscription plans include secure ecommerce hosting for your online store.</p>

    <h4>Are there any hidden costs?</h4>
    <p>No. Everything needed to run your online store (such as domain registration and an SSL certificate) is provided under the TitleLeaf subscription plan. Keep in mind, however, that your merchant bank will impose a fee for credit card processing.</p>
  </div>
</div>
