<footer>
  <section>
    <p>
      © 2019 TitleLeaf.
      Created by <%= link_to 'propulsion', 'http://propulsion.co' %>.
    </p>
    <ul>
      <li><%= link_to 'Terms', '/terms-of-service.html' %></li>
      <li><%= link_to 'Privacy', '/privacy-policy.html' %></li>
    </ul>
  </section>
</footer>
