<footer>
  <section>
    <p>
      © <%= Date.today.year %> TitleLeaf.
      Created by <%= link_to 'propulsion', 'https://propulsion.co' %>.
    </p>
    <ul>
      <li><%= link_to 'Terms', '/terms-of-service' %></li>
      <li><%= link_to 'Privacy', '/privacy-policy' %></li>
    </ul>
  </section>
</footer>
