<section id="demonstration">
  <div class="col-left">
    <h5>Get a hands-on tour of the TitleLeaf application.</h5>
    <p>And then tinker with a live installation by yourself.</p>
  </div>
  <div class="col-right">
    <%= link_to 'Request a demonstration →', '#', class: 'button secondary', style: 'margin:0;' %>
  </div>
</section>

<footer>
  <section>
    <p>
      © 2019 TitleLeaf.
      Created by <%= link_to 'propulsion', 'http://propulsion.co' %>.
    </p>
    <ul>
      <li><%= link_to 'Terms', '/terms-of-service.html' %></li>
      <li><%= link_to 'Privacy', '/privacy.html' %></li>
    </ul>
  </section>
</footer>
