<section id="demonstration">
  <div class="col-left">
    <h5>Get a hands-on tour of the TitleLeaf application.</h5>
    <p>And then tinker with a live installation by yourself.</p>
  </div>
  <div class="col-right">
    <a href="/contact" class="button secondary" style="margin:0;">Request a demonstration →</a>
  </div>
</section>

<footer>
  <section>
    <p>
      © 2019 TitleLeaf.
      Created by <a href="http://propulsion.co">propulsion</a>.
    </p>
    <ul>
      <li><a href="/terms-of-service">Terms</a></li>
      <li><a href="/contact/privacy-policy">Privacy</a></li>
    </ul>
  </section>
</footer>
