<footer>
  <section>
    <p>
      © <%= Date.today.year %> TitleLeaf.
    </p>
    <ul>
      <li><%= link_to 'Terms', '/terms-of-service' %></li>
      <li><%= link_to 'Privacy', '/privacy-policy' %></li>
      <li><%= link_to 'Status', data.config.status_url %></li>
    </ul>
  </section>
</footer>
