<footer>
  <section>
    <p>
      © 2019 TitleLeaf.
      Created by <a href="http://propulsion.co">propulsion</a>.
    </p>
    <ul>
      <li><a href="/terms-of-service">Terms</a></li>
      <li><a href="/contact/privacy-policy">Privacy</a></li>
    </ul>
  </section>
</footer>
