<p>
  Note: The <em>ingest</em> directory of the FTP account is
  <a href="/guides/ingestions/ftp-ingestion-schedule">processed on regular basis</a>.
  If your files do not appear in the ingestion list after a processing cycle,
  check the <em>hold</em> directory of the FTP account.
</p>
