<header>
  <div class="col-left">
    <a href="/"><%= image_tag 'logo.png', alt: data.config.company_name %></a>
  </div>
  <div class="col-right">
    <ul id="menu">
      <li><a href="/features">Features</a></li>
      <li><a href="/pricing">Pricing</a></li>
      <li><a href="http://guide.titleleaf.com">Guide</a></li>
      <li><a href="/contact" class="button small">Contact</a></li>
    </ul>
  </div>
</header>
