<section id="sidebar">
  <div class="col-full">
    <dl class="accordion" data-accordion="">
      <dd>
        <a class="accordion-toggler">Basics</a>
        <div id="basics" class="content">
          <ul>
            <li class="first">
              <a href="/guides/basics/sign-in">Sign in</a>
            </li>
            <li>
              <a href="/guides/basics/create-an-account">Create an account</a>
            </li>
            <li>
              <a href="/guides/basics/access-admin-page">Access admin page</a>
            </li>
            <li>
              <a href="/guides/basics/settings">Settings</a>
            </li>
            <li>
              <a href="/guides/basics/navigate-to-admin-home-page">Navigate to admin home page</a>
            </li>
            <li>
              <a href="/guides/basics/navigate-to-public-home-page">Navigate to public home page</a>
            </li>
            <li class="last">
              <a href="/guides/basics/data-types">Data types</a>
            </li>
          </ul>
        </div>
      </dd>
      <dd>
        <a class="accordion-toggler">Product Catalog</a>
        <div id="product-catalog" class="content">
          <ul>
            <li class="first">
              <a href="/guides/product-catalog">Overview</a>
            </li>
            <li>
              <a href="/guides/product-catalog/advanced-search">Advanced search</a>
            </li>
            <li>
              <a href="/guides/product-catalog/determine-number-of-titles-in-a-set">Determine number of titles in a set</a>
            </li>
            <li>
              <a href="/guides/product-catalog/check-asset-status-of-upcoming-products">Check asset status of upcoming products</a>
            </li>
            <li>
              <a href="/guides/product-catalog/create-new-format-of-existing-product">Create new format of existing product</a>
            </li>
            <li>
              <a href="/guides/product-catalog/replace-a-product">Replace a product</a>
            </li>
            <li>
              <a href="/guides/product-catalog/duplicate-format-of-existing-product">Duplicate format of existing product</a>
            </li>
            <li>
              <a href="/guides/product-catalog/download-ebook">Download ebook</a>
            </li>
            <li>
              <a href="/guides/product-catalog/download-draft">Download draft</a>
            </li>
            <li>
              <a href="/guides/product-catalog/export-product-data">Export product data</a>
            </li>
            <li>
              <a href="/guides/product-catalog/export-all-product-data">Export all product data</a>
            </li>
            <li>
              <a href="/guides/product-catalog/export-asset-status-report">Export asset status report</a>
            </li>
            <li>
              <a href="/guides/product-catalog/export-isbn-report">Export ISBN report</a>
            </li>
            <li>
              <a href="/guides/product-catalog/determine-ebook-existence">Determine ebook existence</a>
            </li>
            <li>
              <a href="/guides/product-catalog/errata">Errata</a>
            </li>
            <li>
              <a href="/guides/product-catalog/change-status-of-erratum">Change status of erratum</a>
            </li>
            <li>
              <a href="/guides/product-catalog/update-cip-data">Update CIP data</a>
            </li>
            <li>
              <a href="/guides/product-catalog/contributors">Contributors</a>
            </li>
            <li>
              <a href="/guides/product-catalog/assigned-contributors-sequence">Assigned contributors sequence</a>
            </li>
            <li>
              <a href="/guides/product-catalog/package-assets">Package assets</a>
            </li>
            <li>
              <a href="/guides/product-catalog/create-excerpt">Create excerpt</a>
            </li>
            <li class="last">
              <a href="/guides/product-catalog/create-excerpt-from-pdf-ebook">Create excerpt from PDF ebook</a>
            </li>
          </ul>
        </div>
      </dd>
      <dd>
        <a class="accordion-toggler">Web Content</a>
        <div id="web-content" class="content">
          <ul>
            <li class="first">
              <a href="/guides/web-content">Overview</a>
            </li>
            <li>
              <a href="/guides/web-content/create-a-download">Create a download</a>
            </li>
            <li>
              <a href="/guides/web-content/headlines">Headlines</a>
            </li>
            <li>
              <a href="/guides/web-content/create-a-headline">Create a headline</a>
            </li>
            <li>
              <a href="/guides/web-content/pages">Pages</a>
            </li>
            <li>
              <a href="/guides/web-content/create-a-page">Create a page</a>
            </li>
            <li>
              <a href="/guides/web-content/faqs">FAQs</a>
            </li>
            <li>
              <a href="/guides/web-content/create-an-faq">Create an FAQ</a>
            </li>
            <li class="last">
              <a href="/guides/web-content/teaching-guides">Teaching Guides</a>
            </li>
          </ul>
        </div>
      </dd>
      <dd>
        <a class="accordion-toggler">Sales</a>
        <div id="sales" class="content">
          <ul>
            <li class="first">
              <a href="/guides/sales">Overview</a>
            </li>
            <li>
              <a href="/guides/sales/release-digital-order-to-customer">Release digital order to customer</a>
            </li>
            <li>
              <a href="/guides/sales/mark-order-as-paid">Mark order as paid</a>
            </li>
            <li>
              <a href="/guides/sales/mark-order-as-cancelled">Mark order as cancelled</a>
            </li>
            <li>
              <a href="/guides/sales/reset-password">Reset password</a>
            </li>
            <li>
              <a href="/guides/sales/change-user-name-email-category-or-password">Change user name, email, category or password</a>
            </li>
            <li>
              <a href="/guides/sales/assign-ebooks">Assign ebooks</a>
            </li>
            <li>
              <a href="/guides/sales/update-tax-rates">Update tax rates</a>
            </li>
            <li>
              <a href="/guides/sales/bundles">Bundles</a>
            </li>
            <li>
              <a href="/guides/sales/coupons">Coupons</a>
            </li>
            <li class="last">
              <a href="/guides/sales/users-page">Users</a>
            </li>
          </ul>
        </div>
      </dd>
      <dd>
        <a class="accordion-toggler">Ingestions</a>
        <div id="ingestions" class="content">
          <ul>
            <li class="first">
              <a href="/guides/ingestions">Overview</a>
            </li>
            <li>
              <a href="/guides/ingestions/view-ingestions">View ingestions</a>
            </li>
            <li>
              <a href="/guides/ingestions/ingest-price-change-data">Ingest price change data</a>
            </li>
            <li>
              <a href="/guides/ingestions/ingest-product-data">Ingest product data</a>
            </li>
            <li>
              <a href="/guides/ingestions/ingest-product-format-data">Ingest product format data</a>
            </li>
            <li>
              <a href="/guides/ingestions/ingest-accelerated-reader-data">Ingest accelerated reader data</a>
            </li>
            <li>
              <a href="/guides/ingestions/ingest-lexile-data">Ingest lexile data</a>
            </li>
            <li>
              <a href="/guides/ingestions/template-to-ingestion-type-table">Template to ingestion type table</a>
            </li>
            <li>
              <a href="/guides/ingestions/template-notes">Template notes</a>
            </li>
            <li>
              <a href="/guides/ingestions/ftp-file-naming-convention">FTP file naming convention</a>
            </li>
            <li>
              <a href="/guides/ingestions/ftp-image-ingestion">FTP image ingestion</a>
            </li>
            <li>
              <a href="/guides/ingestions/ftp-draft-ingestion">FTP draft ingestion</a>
            </li>
            <li>
              <a href="/guides/ingestions/ftp-portrait-ingestion">FTP portrait ingestion</a>
            </li>
            <li>
              <a href="/guides/ingestions/ftp-ingestion-rules">FTP ingestion rules</a>
            </li>
            <li>
              <a href="/guides/ingestions/ftp-ingestion-schedule">FTP ingestion schedule</a>
            </li>
            <li class="last">
              <a href="/guides/ingestions/ingest-product-tag-data">Ingest product tag data</a>
            </li>
          </ul>
        </div>
      </dd>
      <dd>
        <a class="accordion-toggler">Distributions</a>
        <div id="distributions" class="content">
          <ul>
            <li class="first">
              <a href="/guides/distributions">Overview</a>
            </li>
            <li>
              <a href="/guides/distributions/view-distributions">View distributions</a>
            </li>
            <li>
              <a href="/guides/distributions/view-ebook-distributions">View ebook distributions</a>
            </li>
            <li>
              <a href="/guides/distributions/view-product-format-distributions">View product format distributions</a>
            </li>
            <li>
              <a href="/guides/distributions/verify-distribution-channels">Verify distribution channels</a>
            </li>
            <li>
              <a href="/guides/distributions/dropbox-authorization">Dropbox Authorization</a>
            </li>
            <li>
              <a href="/guides/distributions/distribute-preliminary-images">Distribute preliminary images</a>
            </li>
            <li>
              <a href="/guides/distributions/distribute-final-images">Distribute final images</a>
            </li>
            <li>
              <a href="/guides/distributions/distribute-data-deltas">Distribute data deltas</a>
            </li>
            <li>
              <a href="/guides/distributions/distribution-template">Distribution template</a>
            </li>
            <li>
              <a href="/guides/distributions/new-distribution">New Distribution</a>
            </li>
            <li>
              <a href="/guides/distributions/distribution-email-notifications">Distribution email notifications</a>
            </li>
            <li>
              <a href="/guides/distributions/new-destination">New Destination</a>
            </li>
            <li>
              <a href="/guides/distributions/test-channel-destination">Test channel destination</a>
            </li>
            <li>
              <a href="/guides/distributions/verify-channel-destination">Verify channel destination</a>
            </li>
            <li>
              <a href="/guides/distributions/edit-channel-destination">Edit channel destination</a>
            </li>
            <li class="last">
              <a href="/guides/distributions/change-upload-directory">Change upload directory</a>
            </li>
          </ul>
        </div>
      </dd>
      <dd>
        <a class="accordion-toggler">Settings</a>
        <div id="settings" class="content">
          <ul>
            <li class="first">
              <a href="/guides/settings">Overview</a>
            </li>
            <li>
              <a href="/guides/settings/free-processing">Free Processing</a>
            </li>
            <li>
              <a href="/guides/settings/free-processing-minimum">Free Processing Minimum</a>
            </li>
            <li>
              <a href="/guides/settings/shipping">Shipping</a>
            </li>
            <li>
              <a href="/guides/settings/feature">Feature</a>
            </li>
            <li>
              <a href="/guides/settings/spotlight">Spotlight</a>
            </li>
            <li>
              <a href="/guides/settings/search-engine-optimization">Search engine optimization</a>
            </li>
            <li>
              <a href="/guides/settings/enable-upcoming-products-page">Enable upcoming products page</a>
            </li>
            <li class="last">
              <a href="/guides/settings/email">Email</a>
            </li>
          </ul>
        </div>
      </dd>
      <dd>
        <a class="accordion-toggler">Public</a>
        <div id="public" class="content">
          <ul>
            <li class="first">
              <a href="/guides/public/forgot-your-password">Forgot your password</a>
            </li>
            <li>
              <a href="/guides/public/download-purchased-ebooks">Download purchased ebooks</a>
            </li>
            <li>
              <a href="/guides/public/share-quote">Share quote</a>
            </li>
            <li class="last">
              <a href="/guides/public/email-quote-link">Email quote link</a>
            </li>
          </ul>
        </div>
      </dd>
      <dd>
        <a class="accordion-toggler">Reps</a>
        <div id="reps" class="content">
          <ul>
            <li class="first">
              <a href="/guides/reps">Overview</a>
            </li>
            <li>
              <a href="/guides/reps/create-customer">Create customer</a>
            </li>
            <li>
              <a href="/guides/reps/create-quote">Create quote</a>
            </li>
            <li>
              <a href="/guides/reps/create-collection-analysis-report">Create collection analysis report</a>
            </li>
            <li class="last">
              <a href="/guides/reps/collection-analysis-report-highlights">Collection analysis report highlights</a>
            </li>
          </ul>
        </div>
      </dd>
    </dl>
  </div>
</section>
