<section id="sidebar">
  <div class="col-full">
    <dl class="accordion" data-accordion="">
      <dd>
        <a class="accordion-toggler">Basics</a>
        <div id="basics" class="content">
          <ul>
            <li class="first">
              <a href="/guides/basics/sign-in.html">Sign in</a>
            </li>
            <li>
              <a href="/guides/basics/create-an-account.html">Create an account</a>
            </li>
            <li>
              <a href="/guides/basics/access-admin-page.html">Access admin page</a>
            </li>
            <li>
              <a href="/guides/basics/settings.html">Settings</a>
            </li>
            <li>
              <a href="/guides/basics/navigate-to-admin-home-page.html">Navigate to admin home page</a>
            </li>
            <li>
              <a href="/guides/basics/navigate-to-public-home-page.html">Navigate to public home page</a>
            </li>
            <li class="last">
              <a href="/guides/basics/data-types.html">Data types</a>
            </li>
          </ul>
        </div>
      </dd>
      <dd>
        <a class="accordion-toggler">Product Catalog</a>
        <div id="product-catalog" class="content">
          <ul>
            <li class="first">
              <a href="/guides/product-catalog.html">Overview</a>
            </li>
            <li>
              <a href="/guides/product-catalog/advanced-search.html">Advanced search</a>
            </li>
            <li>
              <a href="/guides/product-catalog/determine-number-of-titles-in-a-set.html">Determine number of titles in a set</a>
            </li>
            <li>
              <a href="/guides/product-catalog/check-asset-status-of-upcoming-products.html">Check asset status of upcoming products</a>
            </li>
            <li>
              <a href="/guides/product-catalog/create-new-format-of-existing-product.html">Create new format of existing product</a>
            </li>
            <li>
              <a href="/guides/product-catalog/replace-a-product.html">Replace a product</a>
            </li>
            <li>
              <a href="/guides/product-catalog/duplicate-format-of-existing-product.html">Duplicate format of existing product</a>
            </li>
            <li>
              <a href="/guides/product-catalog/download-ebook.html">Download ebook</a>
            </li>
            <li>
              <a href="/guides/product-catalog/download-draft.html">Download draft</a>
            </li>
            <li>
              <a href="/guides/product-catalog/export-product-data.html">Export product data</a>
            </li>
            <li>
              <a href="/guides/product-catalog/export-all-product-data.html">Export all product data</a>
            </li>
            <li>
              <a href="/guides/product-catalog/export-asset-status-report.html">Export asset status report</a>
            </li>
            <li>
              <a href="/guides/product-catalog/export-isbn-report.html">Export ISBN report</a>
            </li>
            <li>
              <a href="/guides/product-catalog/determine-ebook-existence.html">Determine ebook existence</a>
            </li>
            <li>
              <a href="/guides/product-catalog/errata.html">Errata</a>
            </li>
            <li>
              <a href="/guides/product-catalog/change-status-of-erratum.html">Change status of erratum</a>
            </li>
            <li>
              <a href="/guides/product-catalog/update-cip-data.html">Update CIP data</a>
            </li>
            <li>
              <a href="/guides/product-catalog/contributors.html">Contributors</a>
            </li>
            <li>
              <a href="/guides/product-catalog/assigned-contributors-sequence.html">Assigned contributors sequence</a>
            </li>
            <li>
              <a href="/guides/product-catalog/package-assets.html">Package assets</a>
            </li>
            <li>
              <a href="/guides/product-catalog/create-excerpt.html">Create excerpt</a>
            </li>
            <li class="last">
              <a href="/guides/product-catalog/create-excerpt-from-pdf-ebook.html">Create excerpt from PDF ebook</a>
            </li>
          </ul>
        </div>
      </dd>
      <dd>
        <a class="accordion-toggler">Web Content</a>
        <div id="web-content" class="content">
          <ul>
            <li class="first">
              <a href="/guides/web-content.html">Overview</a>
            </li>
            <li>
              <a href="/guides/web-content/create-a-download.html">Create a download</a>
            </li>
            <li>
              <a href="/guides/web-content/headlines.html">Headlines</a>
            </li>
            <li>
              <a href="/guides/web-content/create-a-headline.html">Create a headline</a>
            </li>
            <li>
              <a href="/guides/web-content/pages.html">Pages</a>
            </li>
            <li>
              <a href="/guides/web-content/create-a-page.html">Create a page</a>
            </li>
            <li>
              <a href="/guides/web-content/faqs.html">FAQs</a>
            </li>
            <li>
              <a href="/guides/web-content/create-an-faq.html">Create an FAQ</a>
            </li>
            <li class="last">
              <a href="/guides/web-content/teaching-guides.html">Teaching Guides</a>
            </li>
          </ul>
        </div>
      </dd>
      <dd>
        <a class="accordion-toggler">Sales</a>
        <div id="sales" class="content">
          <ul>
            <li class="first">
              <a href="/guides/sales.html">Overview</a>
            </li>
            <li>
              <a href="/guides/sales/release-digital-order-to-customer.html">Release digital order to customer</a>
            </li>
            <li>
              <a href="/guides/sales/mark-order-as-paid.html">Mark order as paid</a>
            </li>
            <li>
              <a href="/guides/sales/mark-order-as-cancelled.html">Mark order as cancelled</a>
            </li>
            <li>
              <a href="/guides/sales/reset-password.html">Reset password</a>
            </li>
            <li>
              <a href="/guides/sales/change-user-name-email-category-or-password.html">Change user name, email, category or password</a>
            </li>
            <li>
              <a href="/guides/sales/assign-ebooks.html">Assign ebooks</a>
            </li>
            <li>
              <a href="/guides/sales/update-tax-rates.html">Update tax rates</a>
            </li>
            <li>
              <a href="/guides/sales/bundles.html">Bundles</a>
            </li>
            <li>
              <a href="/guides/sales/coupons.html">Coupons</a>
            </li>
            <li class="last">
              <a href="/guides/sales/users-page.html">Users</a>
            </li>
          </ul>
        </div>
      </dd>
      <dd>
        <a class="accordion-toggler">Ingestions</a>
        <div id="ingestions" class="content">
          <ul>
            <li class="first">
              <a href="/guides/ingestions.html">Overview</a>
            </li>
            <li>
              <a href="/guides/ingestions/view-ingestions.html">View ingestions</a>
            </li>
            <li>
              <a href="/guides/ingestions/ingest-price-change-data.html">Ingest price change data</a>
            </li>
            <li>
              <a href="/guides/ingestions/ingest-product-data.html">Ingest product data</a>
            </li>
            <li>
              <a href="/guides/ingestions/ingest-product-format-data.html">Ingest product format data</a>
            </li>
            <li>
              <a href="/guides/ingestions/ingest-accelerated-reader-data.html">Ingest accelerated reader data</a>
            </li>
            <li>
              <a href="/guides/ingestions/ingest-lexile-data.html">Ingest lexile data</a>
            </li>
            <li>
              <a href="/guides/ingestions/template-to-ingestion-type-table.html">Template to ingestion type table</a>
            </li>
            <li>
              <a href="/guides/ingestions/template-notes.html">Template notes</a>
            </li>
            <li>
              <a href="/guides/ingestions/ftp-file-naming-convention.html">FTP file naming convention</a>
            </li>
            <li>
              <a href="/guides/ingestions/ftp-image-ingestion.html">FTP image ingestion</a>
            </li>
            <li>
              <a href="/guides/ingestions/ftp-draft-ingestion.html">FTP draft ingestion</a>
            </li>
            <li>
              <a href="/guides/ingestions/ftp-portrait-ingestion.html">FTP portrait ingestion</a>
            </li>
            <li>
              <a href="/guides/ingestions/ftp-ingestion-rules.html">FTP ingestion rules</a>
            </li>
            <li>
              <a href="/guides/ingestions/ftp-ingestion-schedule.html">FTP ingestion schedule</a>
            </li>
            <li class="last">
              <a href="/guides/ingestions/ingest-product-tag-data.html">Ingest product tag data</a>
            </li>
          </ul>
        </div>
      </dd>
      <dd>
        <a class="accordion-toggler">Distributions</a>
        <div id="distributions" class="content">
          <ul>
            <li class="first">
              <a href="/guides/distributions.html">Overview</a>
            </li>
            <li>
              <a href="/guides/distributions/view-distributions.html">View distributions</a>
            </li>
            <li>
              <a href="/guides/distributions/view-ebook-distributions.html">View ebook distributions</a>
            </li>
            <li>
              <a href="/guides/distributions/view-product-format-distributions.html">View product format distributions</a>
            </li>
            <li>
              <a href="/guides/distributions/verify-distribution-channels.html">Verify distribution channels</a>
            </li>
            <li>
              <a href="/guides/distributions/dropbox-authorization.html">Dropbox Authorization</a>
            </li>
            <li>
              <a href="/guides/distributions/distribute-preliminary-images.html">Distribute preliminary images</a>
            </li>
            <li>
              <a href="/guides/distributions/distribute-final-images.html">Distribute final images</a>
            </li>
            <li>
              <a href="/guides/distributions/distribute-data-deltas.html">Distribute data deltas</a>
            </li>
            <li>
              <a href="/guides/distributions/distribution-template.html">Distribution template</a>
            </li>
            <li>
              <a href="/guides/distributions/new-distribution.html">New Distribution</a>
            </li>
            <li>
              <a href="/guides/distributions/distribution-email-notifications.html">Distribution email notifications</a>
            </li>
            <li>
              <a href="/guides/distributions/new-destination.html">New Destination</a>
            </li>
            <li>
              <a href="/guides/distributions/test-channel-destination.html">Test channel destination</a>
            </li>
            <li>
              <a href="/guides/distributions/verify-channel-destination.html">Verify channel destination</a>
            </li>
            <li>
              <a href="/guides/distributions/edit-channel-destination.html">Edit channel destination</a>
            </li>
            <li class="last">
              <a href="/guides/distributions/change-upload-directory.html">Change upload directory</a>
            </li>
          </ul>
        </div>
      </dd>
      <dd>
        <a class="accordion-toggler">Settings</a>
        <div id="settings" class="content">
          <ul>
            <li class="first">
              <a href="/guides/settings.html">Overview</a>
            </li>
            <li>
              <a href="/guides/settings/free-processing.html">Free Processing</a>
            </li>
            <li>
              <a href="/guides/settings/free-processing-minimum.html">Free Processing Minimum</a>
            </li>
            <li>
              <a href="/guides/settings/shipping.html">Shipping</a>
            </li>
            <li>
              <a href="/guides/settings/feature.html">Feature</a>
            </li>
            <li>
              <a href="/guides/settings/spotlight.html">Spotlight</a>
            </li>
            <li>
              <a href="/guides/settings/search-engine-optimization.html">Search engine optimization</a>
            </li>
            <li>
              <a href="/guides/settings/enable-upcoming-products-page.html">Enable upcoming products page</a>
            </li>
            <li class="last">
              <a href="/guides/settings/email.html">Email</a>
            </li>
          </ul>
        </div>
      </dd>
      <dd>
        <a class="accordion-toggler">Public</a>
        <div id="public" class="content">
          <ul>
            <li class="first">
              <a href="/guides/public/forgot-your-password.html">Forgot your password</a>
            </li>
            <li>
              <a href="/guides/public/download-purchased-ebooks.html">Download purchased ebooks</a>
            </li>
            <li>
              <a href="/guides/public/share-quote.html">Share quote</a>
            </li>
            <li class="last">
              <a href="/guides/public/email-quote-link.html">Email quote link</a>
            </li>
          </ul>
        </div>
      </dd>
      <dd>
        <a class="accordion-toggler">Reps</a>
        <div id="reps" class="content">
          <ul>
            <li class="first">
              <a href="/guides/reps.html">Overview</a>
            </li>
            <li>
              <a href="/guides/reps/create-customer.html">Create customer</a>
            </li>
            <li>
              <a href="/guides/reps/create-quote.html">Create quote</a>
            </li>
            <li>
              <a href="/guides/reps/create-collection-analysis-report.html">Create collection analysis report</a>
            </li>
            <li class="last">
              <a href="/guides/reps/collection-analysis-report-highlights.html">Collection analysis report highlights</a>
            </li>
          </ul>
        </div>
      </dd>
    </dl>
  </div>
</section>
