---
title: FTP ingestion schedule
layout: guide_simple
parent: guide
category: ingestions
slug: ftp-ingestion-schedule
---

<p>The root directory of the FTP account is processed every half hour on the half hour (e.g., 8:30, 9:00, 9:30, etc). You can consult the ingestion list after thirty minutes to determine if your uploaded files were properly processed. Keep in mind that the file name dictates how the file is processed. <em>If the file name does not adhere to the naming convention, then the file will fail to be processed and will be placed in the <strong>failed</strong> directory of your FTP account.</em>
</p>