---
title: FTP ingestion schedule
layout: guide_simple
parent: guide
category: ingestions
slug: ftp-ingestion-schedule
---

<p>
  The <em>ingest</em> directory of the FTP account is processed every hour on
  the hour (e.g., 8:00, 9:00, 10:00, etc). If files are encountered, the
  modification time is checked. If the file has not been modified within the
  last fifteen minutes, then the file is processed. If the file has been
  modified within the last fifteen minutes, then it is ignored until the next
  scan.
</p>

<p>
  Keep in mind that the file name dictates how the file is processed.
  <em>
    If the file name does not adhere to the naming convention, then the file
    will fail to be ingested.
  </em>
</p>

<p class="block-notice">
  Outside the ingestion schedule, you can submit a request for TitleLeaf to
  process your ingestion directory on demand. Click the
  "Process Your Ingestion Account" link in the sidebar of the Ingestion module.
</p>

<p>
  <%= cdn_image "titleleaf-ingestions-process.png",
    alt: "TitleLeaf: Ingestions: Process Your Ingestion Account" %>
</p>
