---
title: FTP ingestion rules
layout: guide_simple
parent: guide
category: ingestions
slug: ftp-ingestion-rules
---

<p>General FTP rules for the ingestion account:</p>

<ul>
  <li>Upload to the ingest directory</li>
  <li>Do not create or upload directories</li>
  <li>Do not compress files (eg, no zips, tars, gzips, etc) except for layout files</li>
  <li>Do not upload more files than disk space available</li>
  <li>Do not upload more than 4 GB of files per ingestion</li>
  <li>Follow the <a href="/guides/ingestions/ftp-file-naming-convention">naming conventions</a></li>
</ul>

<%= partial "partials/ftp_directories" %>

<p>
  Files are moved to the <em>hold</em> directory if the ISBN in the file name is
  not present in the database. When new product formats are created, TitleLeaf
  will automatically ingest matching files in the <em>hold</em> directory.
</p>
