---
title: FTP ingestion account
layout: guide_simple
parent: guide
category: ingestions
slug: ftp-ingestion-account
---

<p>An FTP ingestion account is provided on request to select administrative users. It is used to upload data, images, and ebooks for bulk ingestion.</p>

<p>If you would like an FTP ingestion account, please <%= link_to 'create a support ticket', data.config.support_url %>.</p>

<p>Once you receive FTP credentials, please be aware of the general <a href="/guides/ingestions/ftp-ingestion-rules">FTP ingestion rules</a> before uploading assets.</p>
