---
title: FTP image ingestion
layout: guide_simple
parent: guide
category: ingestions
slug: ftp-image-ingestion
---

<p>Image files can be added to the database via the Ingestion section of the website admin or via FTP. This document describes the latter. </p>

<p>If you have yet to receive an FTP account for ingestion purposes (which is distinct from that for production purposes), please <%= link_to 'create a support ticket', data.config.support_url %>.</p>

<p>Please be aware of the general <a href="/guides/ingestions/ftp-ingestion-rules">FTP ingestion rules</a> before uploading.</p>

<p>Image file specifications:</p>

<ul>
<li>JPG format</li>
<li>RGB colorspace</li>
<li>Resolution of 150 dpi at actual size, cropped</li>
</ul>

<p>Image file naming convention:</p>

<ul>
<li>Front cover image = 13-digit ISBN + "_fc" + extension (e.g., 9781585368396_fc.jpg)</li>
<li>Back cover image = 13-digit ISBN + "_bc" + extension (e.g., 9781585368396_bc.jpg)</li>
<li>Spread image = 13-digit ISBN + "_int" + extension (e.g., 9781585368396_int.jpg)</li>
<li>Do not include hyphens in the ISBN</li>
</ul>

<p>Note: The root directory of the FTP account is <a href="/guides/ingestions/ftp-ingestion-schedule">processed on regular basis</a>. If your files do not appear in the ingestion list after a processing cycle, check the <em>failed</em> directory of the FTP account.</p>
