---
title: Ingest product data
layout: guide_simple
parent: guide
category: ingestions
slug: ingest-product-data
---

<p>Updating products in bulk with a data ingestion contrasts to updating products on a record-by-record basis using the "edit" forms.</p>

<ol>
<li>
<p>Create a new <a href="https://drive.google.com/folderview?id=0B5nSLzCVc941WEZFcmkteUhueFk&amp;usp=sharing#list">Google Doc</a> using the <em>products-default-template</em> file (See menu item: File &gt; Make a Copy…). Name the new file as you deem necessary, but omit spaces (e.g., products-default-YYYYMMDD where YYYYMMDD is today's date).</p>
<p><img src="https://assets.titleleaf.com/guide/google-file-menu-make-a-copy.png" alt="Google Doc: File menu, Make a copy" /></p>
</li>

<li>
<p>When the new file is complete, <a href="/guides/other/download-google-doc-as-csv.html">download the data as a CSV file</a> to your local machine. Follow the same naming convention as in step 1, but add a ".csv" extension (e.g., products-YYYYMMDD.csv).</p>
</li>

<li>
<p>Navigate to the new ingestion form.</p>
<p><img src="https://assets.titleleaf.com/guide/titleleaf-ingestion-menu.png" alt="Ingestion menu" /></p>
</li>

<li>
<p>Select the appropriate <a href="/guides/ingestions/template-to-ingestion-type-table.html">ingestion type</a>.</p>
</li>

<li>
<p>Choose the local CSV file to ingest.</p>
<p><img src="https://assets.titleleaf.com/guide/titleleaf-ingestion-new-default.png" alt="New ingestion form" /></p>
</li>
</ol>
