---
title: Ingest lexile data
layout: guide_simple
parent: guide
category: ingestions
slug: ingest-lexile-data
---

<p>When you've received Lexile, you should update the website database. This page explains that process using a Google Doc template. Google Doc is not mandatory; you can follow the same procedure using any modern spreadsheet application (e.g. Excel) that can save data as CSV (comma-separated values).</p>

<ol>
<li><p>Open Excel data file from Lexile.</p>
</li>
<li><p>Create a new Google Doc spreadsheet using the <a href="https://docs.google.com/spreadsheet/ccc?key=0ApnSLzCVc941dHRvUEdKYlNKcWtrR09aY3E1Y3VhaEE&amp;usp=sharing">lexile template</a> file (See menu item: File &gt; Make a Copy…). The required columns are: <em>isbn</em>, <em>lexile</em>. The <em>word_count</em> column is optional.</p>

<p><img src="http://guide.titleleaf.com/uploads/google-lexile-default-template.png" alt="Google Doc: lexile template" /></p>

<p><img src="http://guide.titleleaf.com/uploads/google-file-menu-make-a-copy.png" alt="Google Doc: File menu, Make a copy" /></p>
</li>
<li><p>Copy/paste data from Excel to the new Google Doc file.</p>
</li>
<li><p>Once complete, download the new Google Doc file as CSV to your local computer (See menu item: File &gt; Download as &gt; Comma Separated Values). Name the local file without spaces. For example: lexile-YYYYMMDD.csv (where YYYYMMDD represents today's date)</p>

<p><img src="http://guide.titleleaf.com/uploads/google-file-menu-download-as-csv.png" alt="Google Doc: File menu, Download as CSV" /></p>
</li>
<li><p>Ingest the local file through the web admin UI of the titleleaf site:</p>

<p>a. Admin &gt; Ingestion &gt; New</p>

<p><img src="http://guide.titleleaf.com/uploads/titleleaf-ingestion-menu-new-item.png" alt="Ingestion menu, new item" /></p>

<p>b. Type = Default</p>

<p>c. Attachment = lexile-YYYYMMDD.csv</p>

<p><img src="http://guide.titleleaf.com/uploads/titleleaf-ingestion-new-lexile.png" alt="New ingestion: Lexile data" /></p>
</li>
</ol>