---
title: Template to ingestion type table
layout: guide_simple
parent: guide
category: ingestions
slug: template-to-ingestion-type-table
---

<p>The following table correlates the <a href="https://drive.google.com/folderview?id=0B5nSLzCVc941WEZFcmkteUhueFk&amp;usp=sharing#list">Google Doc templates</a> to the appropriate ingestion type. So when you upload a file using the "New Ingestion" form, select the appropriate <em>type</em> from the dropdown menu.</p>

<p>Aside: As a rule of thumb, to determine what <em>template</em> to use, note the name of the "Edit" form in the TitleLeaf admin that contains the field you would like to affect. The form name most often matches template name.</p>

<table width="100%" cellspacing="0" cellpadding="0">  
<tbody>  
  <tr>  
  <td valign="top"><strong>Template Name</strong>
</td>  
  <td valign="top"><strong>Ingestion Type</strong>
</td>  
  </tr>  
<tr>
  <td valign="top">assembly_assignments</td>
  <td valign="top">Assembly Assignments</td>
</tr>
<tr>
  <td valign="top">awards</td>
  <td valign="top">Awards</td>
</tr>
<tr>
  <td valign="top">categories</td>
  <td valign="top">Categories</td>
</tr>
<tr>
  <td valign="top">category_assignments</td>
  <td valign="top">Category Assignments</td>
</tr>
<tr>
  <td valign="top">cip-default</td>
  <td valign="top">Cataloging in Publication</td>
</tr>
<tr>
  <td valign="top">contributors</td>
  <td valign="top">Contributors</td>
</tr>
<tr>
  <td valign="top">contributor_assignments</td>
  <td valign="top">Contributor Assignments</td>
</tr>
<tr>
  <td valign="top">editorial_reviews</td>
  <td valign="top">Editorial Reviews</td>
</tr>
<tr>
  <td valign="top">editorial_review_assignments</td>
  <td valign="top">Editorial Review Assignments</td>
</tr>
<tr>
  <td valign="top">links</td>
  <td valign="top">Links</td>
</tr>
<tr>
  <td valign="top">link_assignments</td>
  <td valign="top">Link Assignments</td>
</tr>
<tr>
  <td valign="top">postal_codes</td>
  <td valign="top">Postal Codes</td>
</tr>
<tr>
  <td valign="top">price_changes</td>
  <td valign="top">Price Changes</td>
</tr>
<tr>
  <td valign="top">products-default</td>
  <td valign="top">Default</td>
</tr>
<tr>
  <td valign="top">products-default-with-multiple-formats</td>
  <td valign="top">Default</td>
</tr>
<tr>
  <td valign="top">product_formats</td>
  <td valign="top">Product Formats</td>
</tr>
<tr>
  <td valign="top">products-only</td>
  <td valign="top">Products Only</td>
</tr>
<tr>
  <td valign="top">product_standards</td>
  <td valign="top">Product Standards</td>
</tr>
<tr>
  <td valign="top">product_tags</td>
  <td valign="top">Product Tags</td>
</tr>
<tr>
  <td valign="top">related_product_assignments</td>
  <td valign="top">Related Product Assignments</td>
</tr>
<tr>
  <td valign="top">renlearn-default</td>
  <td valign="top">Default</td>
</tr>
<tr>
  <td valign="top">sales_contracts</td>
  <td valign="top">Sales Contracts</td>
</tr>
<tr>
  <td valign="top">sales_teams</td>
  <td valign="top">Sales Teams</td>
</tr>
<tr>
  <td valign="top">sales_zones</td>
  <td valign="top">Sales Zones</td>
</tr>
<tr>
  <td valign="top">series</td>
  <td valign="top">Series</td>
</tr>
<tr>
  <td valign="top">testimonials</td>
  <td valign="top">Testimonials</td>
</tr>
<tr>
  <td valign="top">users (eg, customers or sales reps)</td>
  <td valign="top">Users</td>
</tr>
</tbody>  
</table>

<p><img src="https://www.evernote.com/l/AAYup8w9d7lHI528JZn07XiLtizlL4cryUsB/image.png" alt="New ingestion" /></p>