---
title: Access demo site
layout: guide_simple
parent: guide
category: 
slug: access-demo-site
---

<ol>

<li>
<p>Visit <a href="https://demo.titleleaf.com">demo.titleleaf.com</a>. Enter your credentials in the "Private Access" form.</p>
<p><img src="https://assets.titleleaf.com/guide/demo-private-access-challenge.png" alt="Private access" /></p>
</li>

<li>
<p>A website user account has already been created for you. To access the website sign-in page, click the Sign In link in the Account dropdown.</p>
<p><img src="https://assets.titleleaf.com/guide/demo-signin-link.png" alt="Demo: Sign in link" /></p>
</li>

<li>
<p>Sign in with your designated email address and password.</p>
<p><img src="https://assets.titleleaf.com/guide/demo-signin-form.png" alt="Demo: Sign in form" /></p>
</li>

<li>
<p>Your user account has been granted admin privileges. To access the admin section of the site, click the admin link in the Account dropdown.</p>
<p><img src="https://assets.titleleaf.com/guide/demo-admin-link.png" alt="Demo: Admin link" /></p>
</li>

</ol>
