---
title: Access dev site
layout: guide_simple
parent: guide
category: 
slug: access-dev-site
---

<ol>

  <li>
    <p>
      Enter the development site URL given to you into your preferred web
      browser. You will be greeted with a "Private Access" form. Enter your
      credentials.
    </p>
    <p><%= cdn_image "dev-private-access-challenge.png", alt: "Dev: Private access" %></p>
  </li>

  <li>
    <p>
      A website user account has already been created for you. To access the
      website sign-in page, click the "Sign In" link in the header of the site.
    </p>
    <p><%= cdn_image "dev-signin-link.png", alt: "Dev: Sign in link" %></p>
  </li>

  <li>
    <p>Sign in with your designated email address and password.</p>
    <p><%= cdn_image "dev-signin-form.png", alt: "Dev: Sign in form" %></p>
  </li>

  <li>
    <p>
      Your user account has been granted admin privileges. To access the admin
      section of the site, click the "Admin" link in the header of the site.
    </p>
    <p><%= cdn_image "dev-admin-link.png", alt: "Dev: Admin link" %></p>
  </li>

</ol>
