---
title: Basics
layout: guide_simple
parent: guide
category: 
slug: basics
---

<ul>
  <li>
    <a href="/guides/basics/create-an-account.html">Register</a>
  </li>
  <li>
    <a href="/guides/basics/sign-in.html">Sign In</a>
  </li>
  <li>
    <a href="/guides/basics/access-admin-page.html">Access admin page</a>
  </li>
  <li>
    <a href="/guides/basics/navigate-to-admin-home-page.html">Navigate to admin home page</a>
  </li>
  <li>
    <a href="/guides/basics/navigate-to-public-home-page.html">Return to public home page</a>
  </li>
</ul>
