---
title: Distributions
layout: guide_simple
parent: guide
category:
slug: distributions
---

<p>
  The <strong>Distributions</strong> module is not included with the standard
  installation of TitleLeaf. It is an add-on module. It manages the process of
  sending data to third parties. Most often the third party is a
  wholesaler/distributor but it can also be anyone with an email address (such
  as a sales representative) or an FTP site (such as an epub conversion house).
  In its most basic sense, the distribution module of TitleLeaf allows a
  publisher to track what assets go where.
</p>

<p>
  Before a publisher can begin sending assets to third-parties,
  <a href="/guides/distributions/verify-distribution-channels">distribution channels</a>
  must be setup by your data management team or by the TitleLeaf support team.
  These channels are technical definitions of the arrangements
  the publisher has with the third-parties. TitleLeaf has default definitions
  that apply for most relationships.
</p>

<p>
  If you have special requirements, the defaults can be overridden. TitleLeaf
  recommends discussing such overrides with the TitleLeaf support team before
  implementation.
</p>

<p class="block-notice">
  Note: TitleLeaf's distribution module connects to third party FTP/SFTP
  accounts, Webdav accounts, etc. It is, in essence, an enhanced FTP
  application. Similar to an FTP application, it is the user's
  (aka, publisher's) responsibility to maintain the FTP account credentials by
  communicating with the third party (aka, the wholesalers/distributors).
</p>
