---
title: Getting started
layout: guide_simple
parent: guide
category: 
slug: getting-started
---

<h3 class="subheader">TitleLeaf is the application on which your website runs. The following information is provided to quickly assist you in managing your website. More information can be found by using the search form in the sidebar or the table of contents thereunder.</h3>

<hr />

<div class="row">

  <div class="medium-6 columns">
    <h3><a href="/guides/basics/create-an-account">Create an Account</a>
</h3>
    <p>The first step is to create an account on your website. After doing so, contact your site administrator. He/she will provide you with admin privileges.</p>
    <p><a href="/guides/basics/create-an-account" class="small secondary button radius">Create →</a>
</p>
  </div>

  <div class="medium-6 columns">
    <h3><a href="/guides/basics/access-admin-page">Access Admin Page</a>
</h3>
    <p>Upon receiving admin privileges, you should again sign in to your account. Thereafter, you can access the admin page.</p>
    <p><a href="/guides/basics/access-admin-page" class="small secondary button radius">Admin →</a>
</p>
  </div>

</div>

<hr />

<h3>Obtaining Admin Access</h3>
<p>You must have admin privileges to access the pages mentioned in this documentation. Contact <em>support [at] titleleaf [dot] com</em> if you are having difficulties accessing the admin pages.</p>

<h3>Data Ingestion Templates</h3>
<p>Templates are available via <a href="https://drive.google.com/folderview?id=0B5nSLzCVc941WEZFcmkteUhueFk&amp;usp=sharing#list">Google Docs</a>.
</p>
