---
title: Ingestions
layout: guide_simple
parent: guide
category: 
slug: ingestions
---

<p>The ingestion module of TitleLeaf tracks what has been imported into the system. Assets can be ingested via the web interface (all admin users) or via an FTP account (select admin users -- requires setup). To monitor or create an ingestion select the appropriate item in the <em>Ingestion</em> menu.</p>

<p><img src="http://guide.titleleaf.com/uploads/titleleaf-ingestion-menu.png" alt="Ingestion menu" /></p>

<p>Ingestion list:</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-ingestions.png" alt="Ingestion list" /></p>

<p>Note: For data file templates, please visit the <a href="https://drive.google.com/folderview?id=0B5nSLzCVc941WEZFcmkteUhueFk&amp;usp=sharing#list" title="https://drive.google.com/folderview?id=0B5nSLzCVc941WEZFcmkteUhueFk&amp;usp=sharing#list" target="_blank">Google docs repository</a>.</p>
