---
title: Ingestions
layout: guide_simple
parent: guide
category: 
slug: ingestions
---

<p>The ingestion module of TitleLeaf tracks what has been imported into the system. Assets can be ingested via the web interface (all admin users) or via an FTP account (select admin users -- requires setup). To monitor or create an ingestion select the appropriate item in the <em>Ingestion</em> menu.</p>

<p><%= cdn_image "titleleaf-ingestion-menu.png", alt: "Ingestion menu" %></p>

<p>Ingestion list:</p>
<p><%= cdn_image "titleleaf-ingestions.png", alt: "Ingestion list" %></p>

<p>
  Note: For data file templates, please visit the
  <%= templates_link 'Google Docs repository' %>.
</p>
