---
title: Reps
layout: guide_simple
parent: guide
category: 
slug: reps
---

<p>The <strong>Sales Reps</strong> module provides functionality for Publishers to interact with their Sales Reps and the Sales Reps to interact with their assigned Customers.</p>