---
title: Sales
layout: guide_simple
parent: guide
category: 
slug: sales
---

<p>The Sales module encompasses functionality related to selling products.</p>

<p>The sale menu contains the following items:</p>

<p><%= cdn_image "titleleaf-sales-menu.png", alt: "TitleLeaf: Sales menu" %></p>
