---
title: Self-signed certificate
layout: guide_simple
parent: guide
category: 
slug: self-signed-certificate
---

<p>The demo site uses a <a href="https://en.wikipedia.org/wiki/Self-signed_certificate">self-signed certificate</a>. It is not validated by a third-party because it is used for demonstration purposes only. Simply click <em>Continue</em>. You should avoid entering sensitive information such as your credit card number and PIN into the site. It is for demonstration purposes only.</p>

<p><%= cdn_image "demo-cart-with-certificate-warning.png", alt: "Demo: Certificate warning" %></p>

<p>Note: You can instruct your browser to <em>always trust</em> the site by checking the checkbox.</p>

<p><%= cdn_image "demo-ssl-certificate.png", alt: "Demo: Self-signed certificate" %></p>
