---
title: Settings
layout: guide_simple
parent: guide
category: 
slug: settings
---

<p>The <em>Settings</em> page allows an administrator to control a wide-range of data and functionality throughout a TitleLeaf website. To access the <em>Settings</em> page, select the similarly titled item in the <em>Management</em> menu.</p>

<p><%= cdn_image "titleleaf-menu-settings.png", alt: "Titleleaf management menu, settings item" %></p>
