---
title: Reset Password for TitleLeaf Client Support Site
layout: guide_simple
parent: guide
category:
slug: support-forgot-password
---

<p>
  If you've forgotten your password to the
  <%= link_to 'TitleLeaf Client Support site', 'https://support.titleleaf.com' %>,
  follow the procedure below:
</p>
<ol>
  <li>
    Navigate to the support home page:
    <img src="https://assets.titleleaf.com/guide/support-home.png" alt="Support: Home page" />
  </li>
  <li>
    Click the <em>Login</em> button on the home page:
    <img src="https://assets.titleleaf.com/guide/support-login-button.png" alt="Support: Home page, login button" />
    <img src="https://assets.titleleaf.com/guide/support-login.png" alt="Support: Login page" />
  </li>
  <li>
    Enter your email address on the <em>Login</em> page:
    <img src="https://assets.titleleaf.com/guide/support-login-2.png" alt="Support: Login page, step 2" />
  </li>
  <li>
    Click the <em>Forgot your password?</em> link on the login page:
    <img src="https://assets.titleleaf.com/guide/support-login-forgot-password.png" alt="Support: Login page, forgot password link" />
  </li>
  <li>
    Assuming the reset is confirmed, click the <em>Reset my password</em> in the received email:
    <img src="https://assets.titleleaf.com/guide/support-login-password-reset.png" alt="Support: Password reset confirmation" />
    <img src="https://assets.titleleaf.com/guide/support-password-reset-email.png" alt="Support: Password reset email" />
  </li>
</ol>
