---
title: TitleLeaf Client Support
layout: guide_simple
parent: guide
category:
slug: support
---

<p>
  TitleLeaf client support is provided via an online help desk:
  <a href="https://titleleaf.atlassian.net/servicedesk/customer/portals">support.titleleaf.com</a>.
</p>

<p>
  Note: Before creating a ticket, please consult the
  <a href="https://titleleaf.com/guide">TitleLeaf guide</a>.
  Use the search field or the help widget to find articles containing terms relevant to your situation.
</p>

<p>
  To view or comment on pre-existing tickets, log in to the support site.
</p>

<img src="https://assets.titleleaf.com/guide/support-login-button.png" alt="Support: Home page, Login button" />

<p>
  Then select the appropriate option from the <em>Requests</em> dropdown menu.
</p>

<img src="https://assets.titleleaf.com/guide/support-requests-dropdown.png" alt="Support: Requests dropdown" />

<p>When choosing a ticket's priority, please refer to the guide below:</p>
<ul>
  <li>
    <em>Low:</em> Services’s primary functions are usable, but a subset of
    functionality is not usable. For example some minor management issues
    related to administrative interface. Workaround exists.
  </li>
  <li>
    <em>High:</em> Service’s primary functions are usable, but severely limited. For
    example if you're observing severely increased operation latencies, or if
    the administrative interface is not operational.
  </li>
  <li>
    <em>Highest:</em> Service’s primary functions are not usable. For example a major
    service malfunction with no workaround.
  </li>
</ul>
