---
title: Support Ticket Priority
layout: guide_simple
parent: guide
category:
slug: support-ticket-priority
---

<p>A support ticket's priority is defined as follows:</p>
<ul>
  <li>
    <em>Low:</em> Services’s primary functions are usable, but a subset of
    functionality is not usable. For example some minor management issues
    related to administrative interface. Workaround exists.
  </li>
  <li>
    <em>High:</em> Service’s primary functions are usable, but severely limited. For
    example if you're observing severely increased operation latencies, or if
    the administrative interface is not operational.
  </li>
  <li>
    <em>Highest:</em> Service’s primary functions are not usable. For example a major
    service malfunction with no workaround.
  </li>
</ul>
