---
title: Web Content
layout: guide_simple
parent: guide
category: 
slug: web-content
---

<p>Web content encompasses data that is used in or originates from the website: Catalog requests, downloads, errata, faqs, handouts, headlines, links, teaching guides, and testimonials. This data is not distributed to resellers.</p>
<p>Web content menu items:</p>
<ul>
  <li>Catalog Requests</li>
  <li>Downloads</li>
  <li>Errata</li>
  <li>Faqs</li>
  <li>Handouts</li>
  <li>Headlines</li>
  <li>Links</li>
  <li>Pages</li>
  <li>Teaching Guides</li>
  <li>Testimonials</li>
</ul>
