---
title: Access admin page
layout: guide_simple
parent: guide
category: basics
slug: access-admin-page
---

<ol>

<li>
<p><a href="/guides/basics/sign-in.html">Sign in</a> to the website.&#160;The Sign In link is named and located in different places depending on your custom website design. In most cases, it's located in the upper, right-hand corner of the site under the "Your Account" menu.</p>
<p><img src="https://assets.titleleaf.com/guide/demo-signin-link.png" alt="Sign in link" /></p>
</li>

<li>
<p>Navigate to the Administrative section of the website. You must have admin privileges to access this link. Contact propulsion if this link is not visible.</p>
<p><img src="https://assets.titleleaf.com/guide/demo-admin-link.png" alt="Admin link" /></p>
</li>

<li>
<p>You should now be viewing the <a href="/guides/basics/navigate-to-admin-home-page.html">admin home page</a>.</p>
<p><img src="https://assets.titleleaf.com/guide/titleleaf-admin-home-page.png" alt="Admin home page" /></p>
</li>

</ol>
