---
title: Create an account
layout: guide_simple
parent: guide
category: basics
slug: create-an-account
---

<p>Registering is synonymous with "creating an account". It is the process by which a user creates a user name and password for the website. It is mandatory for placing an order, among other things.</p>

<ol>
<li><p>To create an account, click the "Register" link. This is located in different places depending on your custom website design. In most cases, it's located in the upper, right-hand corner of the site under the "Your Account" menu.</p>

<p><img src="https://www.evernote.com/l/AAaYF9RFtuZNFaHg8IR_v--dVU9ATUDEQQIB/image.png" alt="Your account menu" /></p>

<p><img src="https://www.evernote.com/l/AAZB-5MUwSRFyqLqiipjBYIEOXrgsGD2cUQB/image.png" alt="Register, closeup" /></p>
</li>
<li><p>Complete the "Create an account" form. The mandatory fields are denoted with an asterisk.</p>

<p><img src="https://www.evernote.com/l/AAZRWhQTs6BL16eysG9UjWwEO6PlnkY0iDQB/image.png" alt="Create an account" /></p>
</li>
<li><p>Check your email for confirmation instructions. You must click the confirmation link to complete the registration.</p>

<p><img src="http://guide.titleleaf.com/uploads/sleepingbear-confirmation-email.png" alt="Confirmation instructions" /></p>
</li>
</ol>