---
title: Create an account
layout: guide_simple
parent: guide
category: basics
slug: create-an-account
---

<p>Registering is synonymous with "creating an account". It is the process by which a user creates a user name and password for the website. It is mandatory for placing an order, among other things.</p>

<ol>
  <li>
    <p>To create an account, click the "Register" link. This is located in different places depending on your custom website design. In most cases, it's located in the upper, right-hand corner of the site under the "Your Account" menu.</p>
    <p><%= cdn_image "demo-header-register.png", alt: "Demo: Register Link" %></p>
  </li>

  <li>
    <p>Complete the "Create an account" form. The mandatory fields are denoted with an asterisk.</p>
    <p><%= cdn_image "demo-create-an-account.png", alt: "Demo: Create an account" %></p>
  </li>

  <li>
    <p>Check your email for confirmation instructions. You must click the confirmation link to complete the registration.</p>
    <p><%= cdn_image "mail-account-confirmation.png", alt: "Confirmation instructions" %></p>
  </li>
</ol>
