---
title: Data types
layout: guide_simple
parent: guide
category: basics
slug: data-types
---

<p>
  Data is grouped into 2 types in TitleLeaf:
  <a href="/guides/product-catalog.html" title="Product Catalog">Product catalog</a> data and
  <a href="/guides/web-content.html" title="Web Content">web content</a> data.
  In some instances the definition might seem ambiguous but the overriding logic is as follows.
</p>
<p>The product catalog encompasses data that is directly associated to the products you sell: Products, awards, contributors, editorial reviews, series, and subjects. This data in most cases originates from the publisher's internal data management system. It is the bulk of product information that is distributed to wholesalers in order to resell your products.</p>
<p>Web content encompasses data that is used in or originates from the website: Catalog requests, downloads, errata, faqs, handouts, headlines, links, teaching guides, and testimonials. This data is not distributed to resellers.</p>
