---
title: Navigate to admin home page
layout: guide_simple
parent: guide
category: basics
slug: navigate-to-admin-home-page
---

<p>The admin home page (aka <em>dashboard</em>) is accessed by clicking the "titleleaf" logo in the upper, left-hand corner of any admin page.</p>

<p><img src="http://guide.titleleaf.com/uploads/titleleaf-logo.png" alt="TitleLeaf logo" /></p>

<p>Below is a screenshot of the home page. It provides a summary of recent activity and shortcuts to frequently-used items. The date defining recent activity is controlled via the <em>Settings</em> module.</p>

<p><img src="http://guide.titleleaf.com/uploads/titleleaf-dashboard.png" alt="Admin dashboard" /></p>