---
title: Settings
layout: guide_simple
parent: guide
category: basics
slug: settings
---

<p>The first step you should take upon accessing the admin page is to complete the <strong>Settings</strong> form. Fields from this form define such things as the company name, shipping prices and the number of products to display on a list page.</p>

<p><img src="http://guide.titleleaf.com/uploads/titleleaf-menu-settings.png" alt="Management menu, Settings item" /></p>

<p><img src="http://guide.titleleaf.com/uploads/titleleaf-settings.png" alt="Settings: Feature" /></p>

<p><img src="http://guide.titleleaf.com/uploads/titleleaf-settings-2.png" alt="Settings: Company" /></p>