---
title: Create an FAQ
layout: guide_simple
parent: guide
category: web-content
slug: create-an-faq
---

<p>FAQ is an acronym for the phrase Frequently Asked Questions. The <strong>FAQ</strong> module serves as a resource so that users can attempt to solve their issues before contacting customer service. To create an FAQ follow the procedure below:</p>

<ol>
  <li>
    <p>Go the main FAQ page by selecting the respective item in the <strong>Content</strong> menu.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-content-menu.png" alt="Web content menu" /></p>
  </li>
  <li>
    <p>Click the <strong>New FAQ</strong> link in the right sidebar.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-faqs.png" alt="FAQ index page" /></p>
  </li>
  <li>
    <p>Fill out the new FAQ form per your needs.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-faq-new.png" alt="New FAQ form" /></p>
    <p>The <strong>Question</strong> field should be relatively brief.</p>
    <p>The <strong>Answer</strong> field can contain simply text, <a href="/guides/other/textile-markup.html">Textile markup</a>, or HTML. By using HTML, you can create more complex pages, such as embedded videos.</p>
    <p>The <strong>Tags</strong> field can contain multiple tags. They must be separated with commas.</p>
  </li>
 <li>
    <p>Click the <strong>Create</strong> button at the bottom of the page. If the form was completed properly, you will be redirected to the FAQ list page and receive confirmation.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-faqs-message-created.png" alt="TitleLeaf: FAQ was successfully created" /></p>
  </li>
</ol>
