---
title: Create a download
layout: guide_simple
parent: guide
category: web-content
slug: create-a-download
---

<p>The download module allows the publisher to provide website users with access to downloadable files. Publishers use this module to distribute frequently requested files such as Excel order forms, Tip sheets, Logos, etc.</p>

<p>To create a record in the download module:</p>

<ol>
<li>
  <p>Select the "Downloads" item under the admin "Content" menu.</p>
  <p><img src="https://assets.titleleaf.com/guide/titleleaf-content-menu.png" alt="Content menu" /></p>
  <p><img src="https://assets.titleleaf.com/guide/titleleaf-downloads.png" alt="Downloads index" /></p>
</li>
<li>
  <p>Click the "New Download" link in the right sidebar. You will be presented with the following form.</p>
  <p><img src="https://assets.titleleaf.com/guide/titleleaf-download-new.png" alt="New download form" /></p>
</li>
<li><p>Choose a file and specify the associated metadata. Assigning tags allow users to filter the downloads list to only files with the desired tag.</p>
</li>
<li><p>Click the "Create" button.</p>
</li>
</ol>

<p>It's recommended to visit the public downloads page to verify the file and metadata is presented as desired.</p>
