---
title: Create a page
layout: guide_simple
parent: guide
category: web-content
slug: create-a-page
---

<p>The <a href="/guides/web-content/pages.html">pages module</a> allows an administrator to create custom pages. To create a custom page follow the procedure below:</p>

<ol>
  <li>
    <p>Go the index page of Pages module by selecting the respective item in the <strong>Content</strong> menu.</p>
    <p><img src="http://guide.titleleaf.com/uploads/titleleaf-content-menu.png" alt="Web content menu" /></p>
  </li>
  <li>
    <p>Click the <strong>New page</strong> link in the right sidebar.</p>
    <p><img src="http://guide.titleleaf.com/uploads/titleleaf-pages.png" alt="Pages module, index page" /></p>
  </li>
  <li>
    <p>Fill out the form per your needs.</p>
    <p><img src="http://guide.titleleaf.com/uploads/titleleaf-page-new.png" alt="New page form" /></p>
    <p>Note:</p>
    <ul>
      <li>The <strong>Title</strong> appears at the top of browser window and in the browser history.</li>
      <li>The <strong>Path</strong> determines the URL of the page.</li>
      <li>The <strong>Layout</strong> determines the design of the page.</li>
      <li>Designating a page as <strong>Public</strong> means all visitors can view it. If set to <strong>No</strong>, only admin users can.</li>
      <li>Entering a <strong>Password</strong> means only users with the password can view the page.</li>
      <li>Designating a page as <strong>Deletable</strong> means that an admin user can delete the page. Pages that are critical to the structure of the website should be marked as not deletable to avoid mistakes.</li>
      <li>The <strong>Body</strong> field can contain HTML, 
        <a href="/guides/other/textile-markup.html">Textile markup</a>, or plain text.
        By using HTML, you can create more complex pages, such as embedded videos. For convenience, TitleLeaf supports a limited amount of
        <a href="/guides/knowledge-base/page-variables.html">variables</a>. It is also possible to
        <a href="/guides/knowledge-base/page-feature-products.html">loop through the feature products</a>.</li>
  
</ul>
</li>
</ol>
