---
title: Create a headline
layout: guide_simple
parent: guide
category: web-content
slug: create-a-headline
---

<p><a href="/guides/knowledge-base/textile-markup"></a>The <strong>headlines</strong> module serves as a rudimentary blogging service. To create a headline follow the procedure below:</p>

<ol>
  <li>
    <p>Go the main headlines page by selecting the respective item in the <strong>Content</strong> menu.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-content-menu.png" alt="Web content menu" /></p>
  </li>
  <li>
    <p>Click the <strong>New headline</strong> link in the right sidebar.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-headlines.png" alt="Headline index page" /></p>
  </li>
  <li>
    <p>Fill out the new headline form per your needs.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-headline-new.png" alt="New headline form" /></p>
    <p>The <strong>Snippet</strong> field should contain a summary of the body of the entry. This information is presented on the headline list page and/or on the home page depending on your site design.</p>
    <p>The <strong>Body</strong> field can contain simply text, <a href="/guides/knowledge-base/textile-markup">Textile markup</a>, or HTML. By using HTML, you can create more complex pages, such as embedded videos.</p>
  </li>
</ol>
