---
title: FAQs
layout: guide_simple
parent: guide
category: web-content
slug: faqs
---

<p>The <strong>FAQs</strong> module serves as a knowledge base for questions frequently asked by your potential customers. The obvious benefit is that customer's can find answers without interacting with your customer service department. As with all content, the more you maintain the FAQs, the greater it's value.</p>

<p>The FAQs module is accessed under the <strong>Content</strong> menu.</p>

<p><img src="https://assets.titleleaf.com/guide/titleleaf-content-menu.png" alt="Web content menu" /></p>
