---
title: Headlines
layout: guide_simple
parent: guide
category: web-content
slug: headlines
---

<p>The <strong>headlines</strong> module serves as a rudimentary blog integrated with your ecommerce site. You can enter text, HTML or <a href="http://en.wikipedia.org/wiki/Textile_(markup_language)">Textile markup</a> in an entry. This allows you to create entries that are simply text or as complex as embedded videos.</p>

<p>The headlines module is accessed under the <strong>Content</strong> menu.</p>

<p><%= cdn_image "titleleaf-content-menu.png", alt: "Web content menu" %></p>
