---
title: Pages
layout: guide_simple
parent: guide
category: web-content
slug: pages
---

<p>The <strong>Pages </strong>module allows an administrator to create any type of page they want, assign any layout to it, and define the exact Url path. It essentially provides full control within the body of the page.</p>

<p>The pages module is accessed under the <strong>Content</strong> menu.</p>

<p><img src="http://guide.titleleaf.com/uploads/titleleaf-content-menu.png" alt="Web content menu" /></p>

<p>Some generic entries already exist in the original setup of your TitleLeaf site, such as a <strong>Terms of Use</strong> page.</p>

<p><img src="http://guide.titleleaf.com/uploads/titleleaf-pages.png" alt="Pages list" /></p>