---
title: Teaching Guides
layout: guide_simple
parent: guide
category: web-content
slug: teaching-guides
---

<p>The <strong>Teaching Guides</strong> module is accessed under the <strong>Content</strong> menu.</p>

<p><%= cdn_image "titleleaf-content-menu.png", alt: "Web content menu" %></p>

<p>Teaching Guides cannot be ingested. You must manually create through the TitleLeaf admin interface by clicking the <em>New Teaching Guide</em> link in the right sidebar.</p>

<p><%= cdn_image "titleleaf-teaching-guide-new.png", alt: "New teaching guide" %></p>

<p>Most teaching guides are originally in PDF or Text format. TitleLeaf recommends extracting key information from the original to complete the form as best possible. Doing so enhances the ability of search engines to properly categorize the information.</p>

<p>The original document should also be <em>attached</em> to the form, allowing educators to download and print at their convenience. See the <em>Document</em> field at the bottom of the page.</p>

<p><%= cdn_image "titleleaf-teaching-guide-new-bottom.png", alt: "New teaching guide, bottom" %></p>

<p>Also remember to assign the teaching guide to at least one product so that users can find the file from the product page as well.</p>
