---
title: Admin email notifications
layout: guide_simple
parent: guide
category: knowledge-base
slug: admin-email-notifications
---

<p>The <em>Notifications</em> module allows users to subscribe to a variety of TitleLeaf events. When an event occurs, the subscribers are sent an email.</p>

<h3>Supported Events</h3>
<ul>
  <li>Automatic Distribution Early Reminder</li>
  <li>Semi-Automatic Distribution Reminder</li>
  <li>Catalog Request Submitted</li>
  <li>Contact Form Submitted</li>
  <li>Ingestion Completed</li>
  <li>Payment Authorized</li>
  <li>Preview Created</li>
  <li>Library Processing Specification Changed</li>
  <li>Order Submitted</li>
  <li>Tenant Created</li>
</ul>

<h3>Email Examples</h3>
<ul>
  <li>
    <p>When a user submits the catalog request form, the following email notification is sent to subscribers:</p>
    <p><%= cdn_image "mail-catalog-request.png", alt: "Titleleaf Mailer Catalog Request" %></p>
  </li>
  <li>
    <p>When a user submits an order, the following email notification is sent to subscribers:</p>
    <p><%= cdn_image "mail-order-notification.png", alt: "Titleleaf Mailer Order Notification" %></p>
  </li>
  <li>
    <p>When a user submits the contact form, the following email notification is sent to subscribers:</p>
    <p><%= cdn_image "mail-contact.png", alt: "Titleleaf Mailer Contact" %></p>
  </li>
</ul>
