---
title: Admin email notifications
layout: guide_simple
parent: guide
category: knowledge-base
slug: admin-email-notifications
---

<p>The following email notifications are sent the <em>support email address</em> when certain events occur in TitleLeaf.</p>

<ul>
<li>
<p>When a user submits the catalog request form, the following email notification is sent to <em>support</em>:</p>
<p><img src="https://assets.titleleaf.com/guide/mail-catalog-request.png" alt="Titleleaf Mailer Catalog Request" /></p>
</li>
<li>
<p>When a user submits an order, the following email notification is sent to <em>support</em>:</p>
<p><img src="https://assets.titleleaf.com/guide/mail-order-notification.png" alt="Titleleaf Mailer Order Notification" /></p>
</li>
<li>
<p>When a user submits the contact form, the following email notification is sent to <em>support</em>:</p>
<p><img src="https://assets.titleleaf.com/guide/mail-contact.png" alt="Titleleaf Mailer Contact" /></p>
</li>
</ul>
