---
title: Admin module permissions
layout: guide_simple
parent: guide
category: knowledge-base
slug: admin-module-permissions
---

<div class="block-notice" style="margin-bottom: 1em;">
  Work-in-Progress
</div>

<table>
  <tbody>
    <tr>
      <th>Module</th>
      <th>Spectator</th>
      <th>Marketer</th>
      <th>Support</th>
      <th>Manager</th>
    </tr>
    <tr>
      <td>Award</td>
      <td>R</td>
      <td>R</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
    </tr>
    <tr>
      <td>Bundle</td>
      <td>R</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
    </tr>
    <tr>
      <td>Cart</td>
      <td>R, U</td>
      <td>R, U, D</td>
      <td>R, U, D</td>
      <td>R, U, D</td>
    </tr>
    <tr>
      <td>Contact</td>
      <td>R</td>
      <td></td>
      <td>R, U</td>
      <td>R, U, D</td>
    </tr>
    <tr>
      <td>Coupon</td>
      <td>R</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
    </tr>
    <tr>
      <td>Distribution</td>
      <td>R</td>
      <td>R</td>
      <td>C, R, U</td>
      <td>C, R, U</td>
    </tr>
    <tr>
      <td>Download</td>
      <td>R</td>
      <td>C, R, U, D</td>
      <td>C, R, U</td>
      <td>C, R, U, D</td>
    </tr>
    <tr>
      <td>Editorial Review</td>
      <td>R</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
    </tr>
    <tr>
      <td>Faq</td>
      <td>R</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
    </tr>
    <tr>
      <td>Format</td>
      <td>R</td>
      <td>R</td>
      <td>C, R, U</td>
      <td>C, R, U, D</td>
    </tr>
    <tr>
      <td>Handout</td>
      <td>R</td>
      <td>C, R, U, D</td>
      <td>C, R, U</td>
      <td>C, R, U, D</td>
    </tr>
    <tr>
      <td>Headline</td>
      <td>R</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
    </tr>
    <tr>
      <td>Image</td>
      <td>R</td>
      <td>C, R, U, D</td>
      <td>C, R, U</td>
      <td>C, R, U, D</td>
    </tr>
    <tr>
      <td>Ingestion</td>
      <td>R</td>
      <td>R</td>
      <td>C, R, U</td>
      <td>C, R, U</td>
    </tr>
    <tr>
      <td>Package</td>
      <td>C, R</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
    </tr>
    <tr>
      <td>Product</td>
      <td>R</td>
      <td>R</td>
      <td>C, R, U</td>
      <td>C, R, U, D</td>
    </tr>
    <tr>
      <td>Page</td>
      <td>R</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
    </tr>
    <tr>
      <td>Search</td>
      <td>C, R</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
    </tr>
    <tr>
      <td>Setting</td>
      <td>R</td>
      <td>R, U</td>
      <td>R, U</td>
      <td>R, U</td>
    </tr>
    <tr>
      <td>Tag</td>
      <td>R</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
    </tr>
    <tr>
      <td>Teaching Guide</td>
      <td>R</td>
      <td>C, R, U, D</td>
      <td>C, R, U</td>
      <td>C, R, U, D</td>
    </tr>
    <tr>
      <td>User</td>
      <td>R</td>
      <td>R</td>
      <td>C, R, U, D</td>
      <td>C, R, U, D</td>
    </tr>
  </tbody>
</table>

<ul>
  <li>C = Create</li>
  <li>R = Read</li>
  <li>U = Update</li>
  <li>D = Delete</li>
</ul>

<p>See also: <%= link_to 'User Privileges', '/guides/knowledge-base/user-privileges' %></p>
