---
title: Admin email notifications
layout: guide_simple
parent: guide
category: knowledge-base
slug: admin-email-notifications
---

<p>The following email notifications are sent the <em>support email address</em> when certain events occur in TitleLeaf.</p>

<ul>
<li>
<p>When a user submits the catalog request form, the following email notification is sent to <em>support</em>:</p>
<p><img src="http://guide.titleleaf.com/uploads/mail-catalog-request.png" title="Titleleaf Mailer Catalog Request" alt="Titleleaf Mailer Catalog Request" data-rel="225x255" width="800" height="397" /></p>
</li>
<li>
<p>When a user submits an order, the following email notification is sent to <em>support</em>:</p>
<p><img src="http://guide.titleleaf.com/uploads/mail-order-notification.png" title="Titleleaf Mailer Order Notification" alt="Titleleaf Mailer Order Notification" data-rel="225x255" width="800" height="397" /></p>
</li>
<li>
<p>When a user submits the contact form, the following email notification is sent to <em>support</em>:</p>
<p><img src="http://guide.titleleaf.com/uploads/mail-contact.png" title="Titleleaf Mailer Contact" alt="Titleleaf Mailer Contact" data-rel="225x255" width="800" height="397" /></p>
</li>
</ul>
