---
title: Are there restrictions on the length of the product description?
layout: guide_simple
parent: guide
category: knowledge-base
slug: are-there-restrictions-on-the-length-of-the-product-description
---

<p>There are no length restrictions on the description field by the book industry. For full disclosure, TitleLeaf restricts the field to 65535 bytes of data.</p>

<p>ONIX restricts the "Annotation" field to 350 characters. As such, we recommend that publishers fill the "Annotation" field with the LOC CIP book summary. LOC tries to limit such a summary to 50 words -- which is comparable to 350 characters.</p>

<p>For more information:</p>

<ul>
  <li>
    <a href="https://www.editeur.org/files/ONIX%20for%20books%20-%20code%20lists/ONIX_BookProduct_Codelists_Issue_31.html">ONIX code lists</a>
  </li>
  <li>
    <a href="https://www.loc.gov/publish/cip/techinfo/summary_guidelines.html">CIP summary guidelines</a>
  </li>
</ul>
