---
title: Best sellers
layout: guide_simple
parent: guide
category: knowledge-base
slug: best-sellers
---

<p>The best sellers list presents products sorted by <em>sales rate</em> in descending order. In other words, the product with the highest <em>sales rate</em> is presented first.</p>
<p>Aside: Depending on your TitleLeaf setup, it is possible that only Sets are displayed in the best sellers list. This would be the case if your company is a Series publisher.</p>
<p><img src="https://assets.titleleaf.com/guide/demo-bestsellers.png" alt="Demo Bestsellers" /></p>
<p>
  The <em>sales rate</em> of a product is stored in a field name
  <em>sales_rate</em>. To update the <em>sales_rate</em> value of
  specific products, use the <em>bestsellers-products</em>
  <%= templates_link 'template' %>.
</p>
<p><img src="https://assets.titleleaf.com/guide/bestsellers-products-template.png" alt="Bestsellers Products Template" /></p>
<p>Note: As shown above, the ingestion file must have 2 columns: <em>isbn</em> and <em>sales_rate</em>. The sales_rate value can be any number. Again, the product with the highest number will be displayed first in the best sellers list.</p>

<p>After entering your data into the template, <a href="/guides/ingestions">ingest</a> the resultant file using the <em>Products Only</em> ingestion type.</p>
<p><img src="https://assets.titleleaf.com/guide/titleleaf-ingestion-new-bestsellers.png" alt="Titleleaf Ingestion New Bestsellers" /></p>
