---
title: Calculate set prices
layout: guide_simple
parent: guide
category: knowledge-base
slug: calculate-set-prices
---

<p>The <em>Calculate Set Prices</em> link on the <em>Edit Product</em> and <em>Edit Product Format</em> forms will update the given Set's prices to the sum of the prices of the constituent titles. The link on the <em>Edit Product</em> form will update prices of all associated product formats. The link on the <em>Edit Product Format</em> form will update prices of only the current product format. </p>

<p><%= cdn_image "admin-calculate-set-prices.png", alt: "Admin: Edit Product: Calculate Set Prices" %></p>
