---
title: Can I add a video to the product page?
layout: guide_simple
parent: guide
category: knowledge-base
slug: can-i-add-a-video-to-the-product-page
---

<p>Yes, each product page can be assigned one video. To do so:</p>

<ol>
  <li>
    <p>Obtain the <em>embed src value</em> of the video in question.</p>
    <p><%= cdn_image "youtube-embed-src.png", alt: "YouTube embed src" %></p>
  </li>
  <li>
    <p>Enter the src value into the <em>Video url</em> field of the <em>Edit Product</em> form, then click the <em>Save</em> button at the bottom of the page.</p>
    <p><%= cdn_image "titleleaf-product-video-url.png", alt: "TitleLeaf: Product video url field" %></p>
  </li>
  <li>
    <p>The video will now be accessible on the respective product page via the <em>Watch video</em> link. The video will appear in a popup window.</p>
    <p><%= cdn_image "childsworld-video-link.png", alt: "The Child's World: Watch video link" %></p>
    <p><%= cdn_image "childsworld-video-popup.png", alt: "The Child's World: Video popup" %></p>
  </li>
</ol>
