---
title: Can I request site changes?
layout: guide_simple
parent: guide
category: knowledge-base
slug: can-i-request-site-changes
---

<p>After site launch, most adjustments to a site can be accomplished through the TitleLeaf admin by the client. For more substantial changes, the TitleLeaf development team will schedule what is termed a <a href="https://en.wikipedia.org/wiki/Scrum_(software_development)#Workflow">sprint</a>. Together, the development team and the client define the goals of a sprint. The maximum amount of workable hours in any one sprint is 20. Once defined, a sprint starts on a Monday and, if no roadblocks are encountered, ends 2 weeks later.</p>