---
title: Change user privileges
layout: guide_simple
parent: guide
category: knowledge-base
slug: change-user-privileges
---

<p>Changing a <a href="/guides/sales/users-page">user's</a> <em>type</em> changes their access privileges to TitleLeaf.</p>

<p>
  <img src="https://assets.titleleaf.com/guide/titleleaf-users-type.png" alt="Change user type" />
</p>

<p>See also: <%= link_to 'User Privileges', '/guides/knowledge-base/user-privileges' %></p>
