---
title: Change product type
layout: guide_simple
parent: guide
category: knowledge-base
slug: change-product-type
---

<p>A product's type cannot be changed. For example, a <em>Title</em> cannot be changed to a <em>Set</em> or vice versa. For this reason, the <em>type</em> field is disabled on the <em>Edit Product</em> page.</p>

<p><img src="http://guide.titleleaf.com/uploads/titleleaf-product-edit-type.png" alt="TitleLeaf: Edit product, type disabled" /></p>

<p>To effectively change a product's type, one would need to create a new product with the same attributes as a pre-existing product, then <a href="/guides/knowledge-base/delete-product.html">delete the pre-existing product</a> (and its associated product formats).</p>
