---
title: Change user privileges
layout: guide_simple
parent: guide
category: knowledge-base
slug: change-user-privileges
---

<p>Changing a <a href="/guides/sales/users-page">user's</a> <em>type</em> changes their access privileges to TitleLeaf.</p>

<p>
  <img src="https://assets.titleleaf.com/guide/titleleaf-users-type.png" alt="Change user type" />
</p>

<p>User types in increasing order of privilege:</p>

<ol>
<li><em>Customer</em> — No special privileges. No access to Rep dashboard. No access to Admin dashboard. Only access to personal account to place orders. The default privilege for all new accounts.</li>
<li><em>SalesRep</em> — Access to Rep dashboard. No access to Admin dashboard. Requires the setup of Sales Teams.</li>
<li><em>Support</em> — Use for customer service representatives. No access to Rep dashboard. Access to Admin dashboard. For employees that need access to view orders, respond to customer requests, etc. Deletion is restricted.</li>
<li><em>Manager</em> — Use for your IT staff. Access to Rep dashboard. Access to Admin dashboard. It allows deletion of product data and other important records.</li>
</ol>

<table>
<tbody>
<tr>
<th>Type</th>
<th>Rep Dashboard</th>
<th>Admin Dashboard</th>
</tr>
<tr>
<td>Customer</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Sales Rep</td>
<td>✓</td>
<td></td>
</tr>
<tr>
<td>Support</td>
<td></td>
<td>✓</td>
</tr>
<tr>
<td>Manager</td>
<td>✓</td>
<td>✓</td>
</tr>
</tbody>
</table>

<p><em>Support</em> and <em>Manager</em> view of the Admin dashboard:</p>

<p><img src="https://assets.titleleaf.com/guide/titleleaf-dashboard.png" alt="TitleLeaf: Admin Dashboard" /></p>

<p><em>Sales Rep</em> view of the Rep dashboard:</p>

<p><img src="https://assets.titleleaf.com/guide/titleleaf-dashboard-rep.png" alt="TitleLeaf: Sales Rep Dashboard" /></p>
