---
title: Cleanup Ingestion
layout: guide_simple
parent: guide
category: knowledge-base
slug: cleanup-ingestion
---

<p>An ingestion is marked as <em>failed</em> when the uploaded asset is not successfully entered into TitleLeaf. TitleLeaf does not delete such ingestions so that the person responsible can address as necessary. After addressing the failed ingestion, the person responsible can subsequently delete the file associated with the ingestion if disk space is needed or the file is no longer needed. The TitleLeaf term for deleting an ingestion file is <em>cleanup</em>. For detailed information, follow the procedure below:</p>

<ol>

  <li>
    <p>Navigate to the Ingestions list page (Admin &gt; Ingestions &gt; List).</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-ingestion-menu-list-item.png" alt="TitleLeaf: Admin ingestions list" /></p>
  </li>

  <li>
    <p>Search of <em>failed</em> ingestions</p>
    <p><img src="https://assets.titleleaf.com/guide/admin-ingestions-failed.png" alt="TitleLeaf: Failed ingestions list" class="selected_by_wym" /></p>
    <p>Note: If the ingestion file still exists, then the file size cell for the given row will be populated.
  </p>
</li>

  <li>
    <p>Click the <em>ID</em> link for the ingestion that you'd like to alter.</p>
  </li>

  <li>
    <p>Click the <em>Cleanup Ingestion</em> link in the sidebar to delete the associated ingestion file.</p>
    <p><img src="https://assets.titleleaf.com/guide/admin-ingestion-cleanup.png" alt="TitleLeaf: Failed ingestion view" /></p>
  </li>

  <li>
    <p>Note the <em>success</em> message and that the file size is no longer indicated.</p>
    <p><img src="https://assets.titleleaf.com/guide/admin-ingestion-cleanup-successful.png" alt="TitleLeaf: Successful cleanup of ingestion" /></p>
  </li>
</ol>
