---
title: Confirmation token is invalid
layout: guide_simple
parent: guide
category: knowledge-base
slug: confirmation-token-is-invalid
---

<p>If you, as a publisher, are contacted by a new user indicating that they've encountered a <em>confirmation token is invalid</em> error, follow the procedure below:</p>

<p><img src="https://www.evernote.com/l/AAYYJMKD_I5I_Lz4ZdkU1cjDuS5BDCGdZCYB/image.png" alt="Confirmation token is invalid" /></p>

<ol>

  <li>
    <p>Navigate to the <em>Users</em> module by clicking the <em>Users</em> link in the <em>Sales</em> dropdown menu.</p>
    <p><img src="https://www.evernote.com/l/AAb9Tz0vsURI7qBRYjXH33H3KBKFgVBvdeoB/image.png" alt="Sales menu: Users menu item" /></p>
  </li>

  <li>
    <p>Find the <em>user</em> record in question.</p>
  </li>

  <li>
    <p>Verify that the user is <em>confirmed</em>.</p>
    <p><img src="https://www.evernote.com/l/AAYHCh0vPsJBG71m0EOjMCAkjWHDhjL-mwoB/image.png" alt="Verify User Confirmed" /></p>
  </li> 

  <li>
    <p>If the user is not <em>confirmed</em>, click the <em>Confirm User</em> link at the top of the page. Note: The link won't be visible if the user is already confirmed.</p>
    <p><img src="https://www.evernote.com/l/AAYmiZAgJX1E7pDNezja0qGx8ZUHqZtzl6YB/image.png" alt="Confirm User" /></p>
  </li>

</ol>

<p>NOTE: If the user was <em>confirmed</em>, they should have no problem logging into the site. They simply clicked the <em>Confirm my account</em> link twice. Note: The confirmation email describes this potential error at the bottom of the message.</p>

<p><img src="https://www.evernote.com/l/AAabJoE8snhPuYcuX9vHArs2980bU_u9crwB/image.png" alt="Confirmation instructions" /></p>