---
title: Confirm user
layout: guide_simple
parent: guide
category: knowledge-base
slug: confirm-user
---

<p>By default, TitleLeaf requires email confirmation to activate a new user account. If a user does not receive the confirmation email (eg, due to spam filters), an admin user can confirm the account using the procedure below:</p>

<ol>

  <li>
    <p>Navigate to the admin <em>Users</em> module.</p>
    <p><%= cdn_image "titleleaf-sales-menu-users-highlighted.png", alt: "TitleLeaf: Sales menu, Users highlighted" %></p>
  </li>

  <li>
    <p>Search for the user in question by name, email or another method.</p>
  </li>

  <li>
    <p>Click the appropriate user name in the list to view the user details.</p>
    <p><%= cdn_image "titleleaf-users-search.png", alt: "TitleLeaf: Users index" %></p>
  </li>

  <li>
    <p>Click the <em>Confirm user</em> link.</p>
    <p><%= cdn_image "titleleaf-users-confirm.png", alt: "TitleLeaf: User confirm link" %></p>

 </li>
<li>
   <p>A message will appear at the top of the page if the procedure is successful.</p>
    <p><%= cdn_image "titleleaf-users-confirmed.png", alt: "TitleLeaf: User confirmed" %></p>
  </li>

</ol>
