---
title: Troubleshoot customer account
layout: guide_simple
parent: guide
category: knowledge-base
slug: control-customer-account
---

<p>TitleLeaf allows admin users to troubleshoot customer accounts via a <em>masquerading</em> feature. By clicking the <em>Masquerade As</em> link on a given user's admin page, the admin user can navigate the public site as if they were using that given user's account. This allows an admin user to perform functions on behalf of the given user.</p>

<p>
  <img src="https://assets.titleleaf.com/guide/titleleaf-masquerade-as-link.png" alt="Admin: Masquerad as link" />
</p>

<p class="nb">Note: TitleLeaf warns that there is potential to lose Cart contents when masquerading. This is only possible if an admin user makes adjustments to the Cart. For this reason, the admin user must be certain their changes are desired. To be safe, they can save both their Cart and the customer's Cart as Lists before proceeding.</p>

<p>
  <img src="https://assets.titleleaf.com/guide/titleleaf-masquerade-as-confirm.png" alt="Admin: Masquerading as confirmation modal" />
</p>

<p>TitleLeaf indicates to an admin user that they are in "masquerade" mode by displaying a prominent message at the top of each page. Once their troubleshooting functions have been performed, the admin user must click the <em>Stop</em> link, to revert to their admin account.</p>

<p>
  <img src="https://assets.titleleaf.com/guide/demo-masquerading-header.png" alt="Demo: Masquerading as header" />
</p>
