---
title: Control customer account
layout: guide_simple
parent: guide
category: knowledge-base
slug: control-customer-account
---

<p>TitleLeaf allows admin users to control customer accounts. By clicking the <em>Control user</em> link on a given user's admin page, the admin user can log into the given user's account using the given user's email address and the admin user's password. This allows an admin user to perform functions on behalf of the given user. Once those functions have been performed, the admin user must click the <em>Release user</em> link, to release control back to the given user.</p>

<p>Note: It's recommended to perform such control/release using two separate browsers in tandem (eg, Google Chrome and Mozilla Firefox). One browser (eg, Google Chrome) allows the admin user to control/release. The other browser (eg, Mozilla Firefox) allows the admin user to sign in as the given user.</p>