---
title: Convert Excel file to Google sheet
layout: guide_simple
parent: guide
category: knowledge-base
slug: convert-excel-file-to-google-sheet
---

<p>Follow the procedure below to convert an Excel file to Google sheet:</p>

<ol>

  <li>
    <p>Go to your <a href="http://drive.google.com">Google Drive home page</a>.</p>
  </li>

  <li>
    <p>Go to the Settings.</p>
    <p><img src="https://www.evernote.com/l/AAYtHK7z_I9GSLIcQcCWIemKtmJYpOKTP5sB/image.png" alt="google-drive-settings-menu" /></p>
  </li>

  <li>
    <p>Check the "Convert uploaded files..." box, then click "Done".</p>
    <p><img src="https://www.evernote.com/l/AAbObgfEORtERaGqaXeqDsbPI8J3gkMENAsB/image.png" alt="google-drive-settings" /></p>
  </li>

  <li>
    <p>Click the "New" button, select the "File Upload" submenu, then choose the file to upload.</p>
    <p><img src="https://www.evernote.com/l/AAZlnb8NRttH67hBz0ijLkglzGPIYaUfC_IB/image.png" alt="google-drive-new-file-upload" /></p>
  </li>

  <li>
    <p>You should receive an "Uploads complete" message. The message should also say that the file was "converted".</p>
    <p><img src="https://www.evernote.com/l/AAbToQBxFZZFjKmiQP8ROsGVZzxhzsVty44B/image.png" alt="google-drive-uploads-complete" /></p>
  </li>

</ol>