---
title: Convert Excel file to Google sheet
layout: guide_simple
parent: guide
category: knowledge-base
slug: convert-excel-file-to-google-sheet
---

<p>Follow the procedure below to convert an Excel file to Google sheet:</p>

<ol>

  <li>
    <p>Go to your <a href="http://drive.google.com">Google Drive home page</a>.</p>
  </li>

  <li>
    <p>Go to the Settings.</p>
    <p><%= cdn_image 'google-drive-settings-menu-zoomed.png', alt: 'Google Drive: Settings menu zoomed' %></p>
  </li>

  <li>
    <p>Check the "Convert uploaded files..." box, then click "Done".</p>
    <p><%= cdn_image 'google-drive-settings.png', alt: 'Google Drive: Settings' %></p>
  </li>

  <li>
    <p>Click the "New" button, select the "File Upload" submenu, then choose the file to upload.</p>
    <p><%= cdn_image 'google-drive-new-file-upload.png', alt: 'Google Drive: New file upload' %></p>
  </li>

  <li>
    <p>You should receive an "Uploads complete" message. The message should also say that the file was "converted".</p>
    <p><%= cdn_image 'google-drive-uploads-complete.png', alt: 'Google Drive: Uploads complete' %></p>
  </li>

</ol>
