---
title: Copy search results links
layout: guide_simple
parent: guide
category: knowledge-base
slug: copy-search-results-links
---

<p>To be able to copy a link to certain search results:</p>

<ol>
  <li>
    <p>Perform the search and adjust the filters as desired.</p>
  </li>
  <li>
    <p>Click the "Save Search" link.</p>
    <p><%= cdn_image "demo-search-results-save-search.png", alt: "Save Search Results" %></p>
  </li>
  <li>
    <p>Give a descriptive name to the search being saved. Upon clicking "Create", you'll be redirected to your search results.</p>
    <p><%= cdn_image "demo-search-results-saved.png", alt: "Search Saved" %></p>
  </li>
  <li>
    <p>Copy the URL in the address bar. That's the search link. It's most likely long. I recommend using a link shortener such as <a href="http://bitly.com">Bitly</a>.</p>
    <p><%= cdn_image "demo-search-result-url.png", alt: "search-index-url" %></p>
  </li>
</ol>

<p>Note: To subsequently view your saved searches, navigate to "Your Account" section of the website. Click the appropriate "Searches" link.</p>
