---
title: Correlations package
layout: guide_simple
parent: guide
category: knowledge-base
slug: correlations-package
---

<p>In order for "Permabound Correlations (csv)" package to be meaningful, you need to assign "standards" to your products. See screenshot below. This can be done via ingestion as well. The CSV package would then list products with their associated/correlated standards.</p>

<p><img src="http://guide.titleleaf.com/uploads/titleleaf-common-core-standards.png" /></p>