---
title: Create ebook cover and interior for Quark Xpress
layout: guide_simple
parent: guide
category: knowledge-base
slug: create-ebook-cover-and-interior-for-quark-xpress
---

<p>A PDF ebook is created from individual cover and interior PDFs exported from the original, respective layout files.</p>

<p>Download the Quark Xpress PDF presets from the <a href="https://drive.google.com/folderview?id=0B5nSLzCVc941cmJiUUp2UUdZeGc&amp;usp=sharing">shared Google Drive directory</a>. The specific presets are named <em>ebook-cover</em> and <em>ebook-interior</em>.</p>
<p>If you are using Adobe InDesign, please follow these <a href="/guides/knowledge-base/create-ebook-cover-and-interior">alternate instructions</a>.</p>

<p>To load a preset into Quark Xpress:</p>

<ol>

<li>
<p>Select menu item: Edit &gt; Output Styles…</p>
<p><img src="https://assets.titleleaf.com/guide/quark-xpress-output-styles-menu.png" alt="Quark XPress: Edit menu &gt; Output Styles" /></p>
</li>

<li>
<p>Import the attached preset file (ebook-interiors).</p>
<p><img src="https://assets.titleleaf.com/guide/quark-xpress-output-styles-window.png" alt="Quark Xpress: Output styles window" /></p>
</li>

</ol>

<p>To create a PDF interior using a preset:</p>

<ol>

<li>
<p>Open the XPress file representing the book's interior.</p>
</li>

<li><p>Select the XPress menu item: File &gt; Export &gt; Layout as PDF…</p>
<p><img src="https://assets.titleleaf.com/guide/quark-xpress-export-menu.png" alt="XPress: File &gt; Export &gt; Layout as PDF" /></p>
</li>

<li>
<p>Set <em>PDF Style</em> to <em>ebook-interior</em>, the preset that you previously imported. Also, name the file by the 13-digit ISBN in the "Save As" field of the "Export" window.</p>
<p><img src="https://assets.titleleaf.com/guide/quark-xpress-export-window.png" alt="Export, save as" /></p>
</li>

</ol>

<p>Note: The "ebook-cover" preset is slightly different from the "ebook-interior" preset. The resultant cover PDF will have crop marks; the interior will not. The resultant cover will be one page; the interior will be multiple.</p>
