---
title: Create ebook cover and interior
layout: guide_simple
parent: guide
category: knowledge-base
slug: create-ebook-cover-and-interior
---

<p>A PDF ebook is created from individual cover and interior PDFs exported from the original, respective InDesign files.</p>

<p>Download the Adobe InDesign PDF presets from the <a href="https://drive.google.com/folderview?id=0B5nSLzCVc941cmJiUUp2UUdZeGc&amp;usp=sharing#list">shared Google Drive directory</a>. The specific presets are named <em>ebook-cover.joboptions</em> and <em>ebook-interior.joboptions</em>.</p>

<p>If you are using Quark Xpress, please follow these <a href="/guides/knowledge-base/create-ebook-cover-and-interior-for-quark-xpress.html">alternate instructions</a>.</p>

<p>To load a preset into InDesign:</p>

<ol>
<li><p>Select InDesign menu item: File &gt; Adobe PDF presets &gt; Define…</p>

<p><img src="https://assets.titleleaf.com/guide/indesign-file-menu-adobe-pdf-presets-define.png" alt="InDesign: File menu &gt; Adobe PDF Presets &gt; Define" /></p>
</li>
<li><p>Load the attached preset file (ebook-interiors.joboptions).</p>

<p><img src="https://assets.titleleaf.com/guide/indesign-adobe-pdf-presets-window.png" alt="InDesign: Adobe PDF Presets window" /></p>
</li>
</ol>

<p>To create a PDF interior using a preset:</p>

<ol>
<li><p>Open the InDesign file representing the book's interior.</p>
</li>
<li><p>Select the InDesign menu item: File &gt; Adobe PDF presets &gt; ebook-interior…</p>

<p><img src="https://assets.titleleaf.com/guide/indesign-ebook-interior.png" alt="InDesign: File &gt; Adobe PDF Presets &gt; ebook-interior" /></p>
</li>
<li><p>Follow the <a href="http://guide.titleleaf.com/ingestions/ftp-file-naming-convention#ebooks">ebook naming conventions</a> in the "Save As" field of the "Export" window when saving the file. Specifically, the cover should be named <em>ISBN_ebook_cvr.pdf</em> and the interior should be named <em>ISBN_ebook_int.pdf</em>.</p>

<p><img src="https://assets.titleleaf.com/guide/indesign-export-save-window.png" alt="Export, save as" /></p>
</li>
<li><p>Export all pages.</p>

<p><img src="https://assets.titleleaf.com/guide/indesign-export-adobe-pdf.png" alt="Export, settings" /></p>
</li>
</ol>

<p>Note: The "ebook-cover" preset is slightly different from the "ebook-interior" preset. The resultant cover PDF will have crop marks; the interior will not. The resultant cover will be one page; the interior will be multiple.</p>
