---
title: Custom page details
layout: guide_simple
parent: guide
category: knowledge-base
slug: custom-page-details
---

<p>The guide to <a href="/guides/web-content/create-a-page">create a custom page</a> focuses on general navigation and buttons. The following information describes the fields on the form in detail.</p>

<p><%= cdn_image "titleleaf-page-new.png", alt: "TitleLeaf: New Page Form" %></p>

<h3>Title</h3>
<p>This information appears in the browser window header. </p>
<p>The value specified will be concatenated to the application name. For example, specifying <em>My Page</em> as the title would result in <em>My Page : Acme Publishing</em> appearing in the browser header.</p>

<p>For information about HTML head and title tags, see:</p>
<ul>
<li><a href="https://www.w3schools.com/tags/tag_title.asp">W3Schools: HTML "title" Tag</a>
</li>
<li><a href="https://www.w3schools.com/tags/tag_head.asp">W3Schools: HTML "head" Tag</a>
</li>
</ul>

<h3>Path</h3>
<p>This is the part of the URL (the web address for the page) that appears after the domain name (ie, example.com). It should be formatted like <em>path/to/file</em>. Limit to lowercase characters a-z, numbers 0-9, and dashes.</p>

<p>The value specified will be concatenated to the website domain name. For example, specifying <em>about/my-page</em> as the path would result in <em>https://acme-publishing.com/about/my-page</em> being the full URL for the page.</p>

<p>For information about URLs and paths, see:</p>
<ul>
<li><a href="https://developer.mozilla.org/en-US/docs/Learn/Common_questions/What_is_a_URL">Mozilla.org: What is a URL?</a>
</li>
</ul>

<h3>Layout</h3>
<p>Pages within TitleLeaf follow a limited number of layouts. The name and number of such layouts depend on your website design.</p>

<h3>Body</h3>
<p>This is the content that will be displayed in the browser window, according to the specified layout.</p>
