---
title: Customer email notifications
layout: guide_simple
parent: guide
category: knowledge-base
slug: customer-email-notifications
---

<p>The following email notifications are sent to customers when they perform certain actions in a TitleLeaf site.</p>

<ul>
<li>
<p>Upon creating a user account, the user is sent confirmation:</p>
<p><img src="https://assets.titleleaf.com/guide/mail-account-confirmation.png" title="Titleleaf Mailer Account Confirmation" alt="Titleleaf Mailer Account Confirmation" data-rel="225x255" width="800" height="397" /></p>
</li>
<li>
<p>Upon submitting an order, the customer is sent confirmation:</p>
<p><img src="https://assets.titleleaf.com/guide/mail-order-confirmation.png" title="Titleleaf Mailer Order Confirmation" alt="Titleleaf Mailer Order Confirmation" data-rel="225x255" width="800" height="1064" /></p>
</li>
<li>
<p>Upon releasing an order that contains PDFs or EPUBs, the customer is sent notification:</p>
<p><img src="https://assets.titleleaf.com/guide/mail-downloads-available.png" title="Titleleaf Mailer Downloads Available Notification" alt="Titleleaf Mailer Downloads Available Notification" /></p>
</li>
</ul>
