---
title: Delete product
layout: guide_simple
parent: guide
category: knowledge-base
slug: delete-product
---

<p>Deleting products and product formats is highly discouraged. It can cause significant confusion to users if the product format exists in carts, wishlists and orders; totals will no longer be correct. The recommended course of action is to change the status of the product format from <em>active</em> to the appropriate value.</p>