---
title: Delete product
layout: guide_simple
parent: guide
category: knowledge-base
slug: delete-product
---

<p>Deleting products and product formats is highly discouraged. It can cause significant confusion to users if the product format exists in carts, wishlists and orders; totals will no longer be correct. For this reason, TitleLeaf will not allow deletion of certain products. Instead, you will encounter the following error message:</p>

<p class="block-error">Cannot delete record because of dependent line_items</p>

<p>Alternatives to deletion are:</p>
<ul>
  <li>Changing the status of the product format from <em>active</em> to the appropriate value.</li>
  <li>Disabling either the product or product format <em>visible</em> value.</li>
</ul>
