---
title: Disk usage
layout: guide_simple
parent: guide
category: knowledge-base
slug: disk-usage
---

<p>
<strong>Important: TitleLeaf does <em>not</em> have safeguards against exceeding disk space when uploading via FTP.</strong>
</p>

<p>The available disk space can be determined from admin dashboard.</p>

<p><img src="http://guide.titleleaf.com/uploads/admin-dashboard.png" alt="Titleleaf: Admin dashboard, disk usage highlighted" /></p>

<p>In the scenario above, 0.75GB is available (ie, 4.25 - 5.00 = 0.75).</p>

<p>Before packaging numerous files, users must ensure there is sufficient disk space. The following table can be a helpful resource in calculating the necessary disk space:</p>

<table>
<tbody><tr>
<th>File Type</th>
<th>File Size</th>
</tr>
<tr>
<td>Ebook</td>
<td>20MB</td>
</tr>
<tr>
<td>Image</td>
<td>2MB</td>
</tr>
<tr>
<td>Archive</td>
<td>1GB</td>
</tr>
</tbody>
</table>

<p>So, packaging 2000 ebooks requires about 40GB of disk space. Packaging 2000 images requires about 4GB. Both requests would greatly exceed the available disk space in this scenario.</p>