---
title: Distribution failed to upload
layout: guide_simple
parent: guide
category: knowledge-base
slug: distribution-failed-to-upload
---

<p>If you attempt a distribution and receive an "upload failed" message, it means TitleLeaf either failed to connect to the FTP site or the connection broke during upload. To remedy, <a href="/guides/distributions/test-channel-destination">test the channel destination</a>. Resend the distribution once the channel destination is accessible. If the account is inaccessible for multiple days, contact the third-party in charge of the destination indicating so.</p>

<p><img src="https://assets.titleleaf.com/guide/titleleaf-distribution-failed-to-upload.png" alt="Distribution failed to upload" /></p>
