---
title: Do I need to fill every column of the template?
layout: guide_simple
parent: guide
category: knowledge-base
slug: do-i-need-to-fill-every-column-of-the-template
---

<p>When creating new records, you should respect the mandatory/optional indications in the template. In general, column headings in red indicate that the column is mandatory. Hover your cursor over a specific column heading for detailed information/guidelines.</p>

<p>When updating records, you do not need to fill every column. If you only want to update certain values, you should delete the other columns from the template. Simply leaving the column blank will not have the desired effect. TitleLeaf will assume you want to set those values to blank. So, again, delete the columns for which you don't want the pre-existing values to change.</p>