---
title: Download google doc as csv
layout: guide_simple
parent: guide
category: knowledge-base
slug: download-google-doc-as-csv
---

<p>Preamble: Data ingestion templates are available via <a href="https://drive.google.com/folderview?id=0B5nSLzCVc941WEZFcmkteUhueFk&amp;usp=sharing#list">Google Docs</a>.</p>

<p>When using the Google Doc template to organize website data, the user must download the file to their local machine in order to later import into titleleaf. The data must be downloaded as a CSV (comma-separated values). To do so, select the following menu item: File &gt; Download as &gt; Comma Separated Values. See screenshot.</p>

<p><img src="https://assets.titleleaf.com/guide/google-file-menu-download-as-csv.png" alt="Google Doc: File menu, Download as CSV" /></p>
