---
title: Error: Could not get 3xx (550)
layout: guide_simple
parent: guide
category: knowledge-base
slug: error-could-not-get-3xx-550
---

<p>A <em>3xx</em> error message indicates a problem with the SMTP server:</p>

<p><img src="http://guide.titleleaf.com/uploads/error-could-not-get-3xx.png" alt="Error: Could not get 3xx (500)" /></p>

<p>The most common cause is that the server has reached its <a href="https://support.google.com/mail/answer/22839?hl=en">daily sending limit</a>.</p>