---
title: Features
layout: guide_simple
parent: guide
category: knowledge-base
slug: features
---

<p>Like Genres, Features are handled differently than Subjects. Features are not editable; they are "hard-wired" into the code because certain values are tied to wholesaler templates distribution templates. So, if you would like to create/update/delete features, you'll need to submit a request to TitleLeaf support. Aside: Assigning features to products, on the other hand, is nevertheless under your team's control like any other data point.</p>

<p>As cited in the ingestion templates, acceptable feature values during ingestion are:</p>

<ul>
  <li>Audio</li>
  <li>Activities</li>
  <li>Awards</li>
  <li>Bibliography</li>
  <li>Biography</li>
  <li>Correlations</li>
  <li>Glossary</li>
  <li>Handouts</li>
  <li>Index</li>
  <li>Infographics</li>
  <li>Links</li>
  <li>Maps</li>
  <li>Parental note</li>
  <li>Primary source</li>
  <li>Reviewed</li>
  <li>Sidebars</li>
  <li>Supplements</li>
  <li>Table of contents</li>
  <li>Teaching guides</li>
  <li>Timelines</li>
  <li>Video</li>
</ul>

<p>The labels for these features can be overridden on the public site. Again, you'll need to submit a request to TitleLeaf support.</p>