---
title: Features
layout: guide_simple
parent: guide
category: knowledge-base
slug: features
---

<p>
  Features are managed via the <em>Features module</em>.
</p>

<p>
  Like Genres, some Feature records cannot be deleted. They are "hard-wired" into the TitleLeaf code because certain values are tied to wholesaler templates distribution templates.
</p>

<p>As cited in the ingestion templates, the default acceptable feature values are:</p>

<ul>
  <li>Audio</li>
  <li>Activities</li>
  <li>Awards</li>
  <li>Bibliography</li>
  <li>Biography</li>
  <li>Correlations</li>
  <li>Glossary</li>
  <li>Handouts</li>
  <li>Index</li>
  <li>Infographics</li>
  <li>Links</li>
  <li>Maps</li>
  <li>Parental note</li>
  <li>Primary source</li>
  <li>Reviewed</li>
  <li>Sidebars</li>
  <li>Supplements</li>
  <li>Table of contents</li>
  <li>Teaching guides</li>
  <li>Timelines</li>
  <li>Video</li>
</ul>

<p class="block-notice">
  The labels for these features can be overridden on the public site.
</p>
