---
title: Formats
layout: guide_simple
parent: guide
category: knowledge-base
slug: formats
---

<p>In TitleLeaf, <em>products</em> can have multiple <em>product formats</em>. Each product format is assigned it's own ISBN. Each product format also has other attributes that are distinct from other product formats of the same product. The key/distinguishing attribute is the <em>format</em>. TitleLeaf supports the following formats.</p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Form</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Hardcover</td>
      <td>Hardcover</td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Reinforced book</td>
      <td>Hardcover</td>
      <td>Reinforced binding</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Unsewn book</td>
      <td>Hardcover</td>
      <td>Unsewn</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Sewn book</td>
      <td>Hardcover</td>
      <td>Sewn</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Saddle-sewn book</td>
      <td>Hardcover</td>
      <td>Saddle-sewn</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Boardbook</td>
      <td>Boardbook</td>
      <td>Paper over boards</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Paperback</td>
      <td>Paperback</td>
      <td>Trade paperback</td>
    </tr>
    <tr>
      <td>8</td>
      <td>CD-Audio</td>
      <td>CD-Audio</td>
      <td>CD standard audio</td>
    </tr>
    <tr>
      <td>9</td>
      <td>PDF</td>
      <td>Ebook</td>
      <td>Adobe PDF</td>
    </tr>
    <tr>
      <td>10</td>
      <td>ePub</td>
      <td>Ebook</td>
      <td>ePub</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Hosted ebook</td>
      <td>Online resource</td>
      <td>FlippingBook</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Kindle</td>
      <td>Ebook</td>
      <td>MobiPocket</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Mass market paperback</td>
      <td>Paperback</td>
      <td>Mass market paperback</td>
    </tr>
    <tr>
      <td>14</td>
      <td>iBook</td>
      <td>Ebook</td>
      <td>iBook</td>
    </tr>
    <tr>
      <td>15</td>
      <td>ePIB</td>
      <td>Ebook</td>
      <td>ePIB</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Hosted ibook</td>
      <td>Online resource</td>
      <td>HTML</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Database</td>
      <td>Online resource</td>
      <td>HTML</td>
    </tr>
    <tr>
      <td>18</td>
      <td>eBoost</td>
      <td>Online resource</td>
      <td>HTML</td>
    </tr>
    <tr>
      <td>19</td>
      <td>ePub with audio</td>
      <td>Ebook</td>
      <td>ePub</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Bundle</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Spiral-bound book</td>
      <td>Spiral-bound</td>
      <td>Coiled</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Other</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>23</td>
      <td>MP3 audio</td>
      <td>Downloadable audio</td>
      <td>MP3 audio</td>
    </tr>
</tbody>
</table>

<p>Note:</p>

<ul>
<li>TitleLeaf formats are patterned after the <a href="http://www.editeur.org/8/ONIX/">ONIX standard</a>.</li>
<li>The <em>Name</em> column is a descriptor. It is used for presentation purposes throughout TitleLeaf.</li>
<li>The <em>Form</em> column matches ONIX values for the <em>ProductForm</em> entity. See <a href="http://www.stison.com/onix/codelists/onix-codelist-7.htm">ONIX Code List 7</a> for value descriptions. It is used when exporting product data in ONIX format.</li>
<li>The <em>Detail</em> column matches ONIX values for the <em>ProductFormDetail</em> entity and <em>EpubType</em> entity combined. See <a href="http://www.stison.com/onix/codelists/onix-codelist-10.htm">ONIX Code List 10</a> and <a href="http://www.stison.com/onix/codelists/onix-codelist-78.htm">ONIX Code List 78</a> for value descriptions. It is used when exporting product data in ONIX format.</li>
<li>Depending on your TitleLeaf setup, it is quite possible that not all formats will be visible on the public-side of the site. If your operations change, you will need to contact TitleLeaf support to activate formats that were previously inactive.</li>
</ul>
