---
title: Full-text search
layout: guide_simple
parent: guide
category: knowledge-base
slug: full-text-search
---

<p>Premium TitleLeaf subscription plans include <a href="https://en.wikipedia.org/wiki/Full-text_search">full-text search</a> to improve performance and offer <a href="https://en.wikipedia.org/wiki/Approximate_string_matching">approximate string matching</a>. Another benefit is <a href="https://en.wikipedia.org/wiki/Stemming">stemming</a> wherein a search for <em>running</em> will match the terms <em>run</em> as well as <em>ran</em>.</p>

<p>By default, search results are based on the following fields and weighting:</p>

<table>
<tbody><tr>
<th>Field name</th>
<th>Field weighting</th>
</tr>
<tr>
<td>product name</td>
<td>2</td>
</tr>
<tr>
<td>product description</td>
<td>1</td>
</tr>
<tr>
<td>product table of contents</td>
<td>1.3</td>
</tr>
<tr>
<td>series name</td>
<td>1</td>
</tr>
<tr>
<td>contributor name</td>
<td>1</td>
</tr>
<tr>
<td>product keywords</td>
<td>1</td>
</tr>
</tbody>
</table>

<p>Note: Both the fields and the weighing can be adjusted upon request.</p>