---
title: Genres
layout: guide_simple
parent: guide
category: knowledge-base
slug: genres
---

<p>Genres are handled differently than Subjects. Genres are not editable; they are "hard-wired" into the code because certain values (eg, Fiction) are tied to elements in the ONIX standard (and other wholesaler templates). So, if you would like to create/update/delete genres, you'll need to submit a request to TitleLeaf support. Aside: Assigning genres to products, on the other hand, is nevertheless under your team's control like any other data point</p>

<p>As cited in the ingestion templates, acceptable genre values during ingestion are:</p>

<ul>
  <li>Beginning reader</li>
  <li>Chapter book</li>
  <li>Fiction</li>
  <li>Graphic novel</li>
  <li>Hi-lo</li>
  <li>Leveled reader</li>
  <li>Narrative</li>
  <li>Nonfiction</li>
  <li>Picture book</li>
  <li>Young adult</li>
</ul>

<p>The labels for these genres can be overridden on the public site. Again, you'll need to submit a request to TitleLeaf support.</p>