---
title: How do I add a link to a downloadable PDF to a page?
layout: guide_simple
parent: guide
category: knowledge-base
slug: how-do-i-add-a-link-to-a-downloadable-pdf-to-a-page
---

<p>Use either the following HTML or Textile markup to add a link to a downloadable PDF to a <a href="/guides/web-content/create-a-page.html">custom page</a>:</p>

<p>HTML markup:</p>
<pre><code>&lt;a href="PDF_URL"&gt;PDF_DESCRIPTION&lt;/a&gt;
</code>
</pre>

<p>Textile markup:</p>
<pre><code>!PDF_URL(PDF_DESCRIPTION)!
</code>
</pre>

<p>Where:</p>
<ul>
<li><em>PDF_URL<em> is a URL pointing to the PDF (eg http://domain.com/path/to/file.pdf).</em>
</em>
</li>
<em><em>
<li><em>PDF_DESCRIPTION<em> is text describing the PDF (eg "A research paper on flowers")</em>
</em>
</li>

</em>
</em>
</ul>
