---
title: How do I connect to a join.me meeting?
layout: guide_simple
parent: guide
category: knowledge-base
slug: how-do-i-connect-to-a-joinme-meeting
---

<p>To participate in <em>join.me</em> meetings, we recommend <a href="https://www.join.me/apps">installing the join.me application</a> instead of accessing through a web browser.</p>

<ol>
<li>
<p>At the time of the meeting, you should open the join.me app and enter "titleleaf" in the "join" field.</p>
<p><img src="http://guide.titleleaf.com/uploads/join-me-enter-code.png" alt="Join.me: Enter titleleaf in the join field" /></p>
</li>
<li>
<p>If you're not logged in, you will need to <em>knock</em> to join the meeting in progress.</p>
<p><img src="http://guide.titleleaf.com/uploads/join-me-knock.png" alt="Join.me: Knock to join meeting" /></p>
</li>
<li>
<p>Once in the meeting, you should click the phone icon to connect audio.</p>
<p><img src="http://guide.titleleaf.com/uploads/join-me-connect-audio.png" alt="Join.me: Click the audio icon for audio options" /></p>
<p>You can choose to call in by phone or by computer assuming your computer has a microphone.</p>
<p><img src="http://guide.titleleaf.com/uploads/join-me-audio-options.png" alt="Join.me: Audio connection options" /></p>
</li>
</ol>

<p>Note: In case of problems, call the organizer directly on their cell phone (not to be confused with the join.me number).</p>