---
title: How do I upload a video to YouTube?
layout: guide_simple
parent: guide
category: knowledge-base
slug: how-do-i-upload-a-video-to-youtube
---

<p>TitleLeaf allows admin users to associate videos with product pages. You must host the videos with a third-party video site such as <a href="https://www.youtube.com">YouTube</a> or <a href="https://vimeo.com">Vimeo</a>. The following procedure outlines how to upload videos to YouTube. It's assumed that you already have an account.</p>

<ol>
  <li>
    <p>Sign in.</p>
    <p><img src="http://guide.titleleaf.com/uploads/youtube-sign-in.png" alt="YouTube sign in button" /></p>
    <p><img src="http://guide.titleleaf.com/uploads/youtube-sign-in-form.png" alt="YouTube sign in form" /></p>
  </li>
  <li>
    <p>Click the upload button.</p>
    <p><img src="http://guide.titleleaf.com/uploads/youtube-upload-button.png" alt="YouTube upload button" /></p>
  </li>
  <li>
    <p>Drag-and-drop videos onto the upload section of the YouTube page.</p>
    <p><img src="http://guide.titleleaf.com/uploads/youtube-select-files-to-upload.png" alt="YouTube select files to upload" /></p>
  </li>
  <li>
    <p>Complete the video details fields.</p>
    <p><img src="http://guide.titleleaf.com/uploads/youtube-edit-video-details.png" alt="YouTube edit video details" /></p>
  </li>
</ol>