---
title: How do I add an image to a page?
layout: guide_simple
parent: guide
category: knowledge-base
slug: how-do-i-add-an-image-to-a-page
---

<p>Use either the following HTML or Textile markup to add an inline JPG/PNG image to a <a href="/guides/web-content/create-a-page.html">custom page</a>:</p>

<p>HTML markup:</p>
<pre><code>&lt;img src="IMAGE_URL" alt="IMAGE_DESCRIPTION" /&gt;
</code>
</pre>

<p>Textile markup:</p>
<pre><code>!IMAGE_URL(IMAGE_DESCRIPTION)!
</code>
</pre>

<p>Where:</p>
<ul>
<li><em>IMAGE_URL<em> is a URL pointing to the image (eg http://domain.com/path/to/image.jpg).</em>
</em>
</li>
<em><em>
<li><em>IMAGE_DESCRIPTION<em> is text describing the image (eg "A flower in bloom")</em>
</em>
</li>

</em>
</em>
</ul>
