---
title: How do I compose a link to Scribd document?
layout: guide_simple
parent: guide
category: knowledge-base
slug: how-do-i-compose-a-link-to-scribd-document
---

<p style="margin-top:2em;">As an alternative to an <a href="/guides/knowledge-base/how-do-i-embed-a-scribd-document-in-a-headline">embedded Scribd document</a>, you can compose a link to a Scribd document and place in a TitleLeaf headline or custom page. The following HTML code is a link that opens a new browser window and presents the Scribd document in full-screen mode:</p>

<pre><code>&lt;a href="http://www.scribd.com/fullscreen/SCRIBD-ID?access_key=SCRIBD-ACCESS-KEY" 
target="_blank"&gt;CLICK HERE&lt;/a&gt;</code>
</pre>

<p style="margin-top:2em;">You'll need to enter your specific details in the <code>SCRIBD-ID</code>, <code>SCRIBD-ACCESS-KEY</code>, and <code>CLICK HERE</code> placeholders obtained from the <a href="/guides/knowledge-base/how-do-i-embed-a-scribd-document-in-a-headline">Scribd embed code</a>. Here's an example:</p>

<p><a href="http://www.scribd.com/fullscreen/173423881?access_key=key-27ramssuzxaeali91u8o" target="_blank">Click here</a> for a full-screen view.</p>
