---
title: How do I connect to a GoTo meeting?
layout: guide_simple
parent: guide
category: knowledge-base
slug: how-do-i-connect-to-a-go-to-meeting
---

<p>TitleLeaf uses GoToMeeting for conference audio calls and screen sharing.</p>

<h2>For Audio</h2>
<ol>
  <li>
    <p>Dial the number provided using your phone of choice.</p>
  </li>
  <li>
    <p>When prompted, enter your access code.</p>
  </li>
</ol>

<p class="block-notice">
  Web audio is deactivated for TitleLeaf meetings to avoid bandwidth issues.
</p>

<h2>For Screen Sharing</h2>
<p>Follow the procedure below:</p>
<ol>
  <li>
    <p>At the time of the meeting, visit <a href="https://gotomeet.me/titleleaf">gotomeet.me/titleleaf</a> with your preferred web browser, then click the button to join the meeting.</p>
    <p><%= cdn_image "gotomeeting-home.png", alt: "GoToMeeting: Home page" %></p>
  </li>
  <li>
    <p>If this is your first time using GoToMeeting, click the button to download the application, then open the downloaded file to install.</p>
    <p><%= cdn_image "gotomeeting-download.png", alt: "GoToMeeting: Download the App" %></p>
    <p><%= cdn_image "gotomeeting-install.png", alt: "GoToMeeting: Install the App" %></p>
  </li>
  <li>
    <p>If you're asked for permission to open GoToOpener.app, confirm by clicking the "Allow" option.</p>
    <p><%= cdn_image "gotomeeting-allow.png", alt: "GoToMeeting: Allow opening of GoToOpener" %></p>
  </li>
</ol>

<p class="block-warning">
  In case of problems, call the organizer directly on their cell phone (not to be confused with the GoToMeeting conference call number).
</p>
