---
title: How do I find products with missing covers or spreads?
layout: guide_simple
parent: guide
category: knowledge-base
slug: how-do-i-find-products-with-missing-covers-or-spreads
---

<p>There are several methods to pinpoint products with missing covers or spreads:</p>

<ul>

  <li>
    <p>Option 1: Use the <em>Products</em> module search form:</p>
    <p><%= cdn_image "titleleaf-products-missing-images.png", alt: "Products index, missing covers and spreads" %></p>
  </li>

  <li>
    <p>Option 2: Perform an <a href="/guides/product-catalog/export-asset-status-report">Asset Status Report</a>.</p>
  </li>

</ul>
