---
title: How do I embed a video in a headline?
layout: guide_simple
parent: guide
category: knowledge-base
slug: how-do-i-embed-a-video-in-a-headline
---

<ol>
  <li>
    <p>Obtain the embed src value of the video in question.</p>
    <p><img src="https://assets.titleleaf.com/guide/youtube-embed-src.png" alt="YouTube embed src" /></p>
  </li>
  <li>
    <p>Enter the following code into the body of a new headline:</p>
    <p><code>&lt;iframe width="640" height="480" src="PLACE-YOUTUBE-EMBED-SRC-HERE" frameborder="0"&gt;&lt;/iframe&gt;</code>
</p>
  </li>
  <li>
    <p>Replace <em>PLACE-YOUTUBE-EMBED-SRC-HERE</em> with the src value found in step one (e.g., <em>//www.youtube.com/embed/VqdpGvWJkiQ</em>).</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-headline-video.png" alt="TitleLeaf headline with embedded video code" /></p>
  </li>
  <li>
    <p>Click the <em>Save</em> button once your edits are complete.</p>
  </li>
</ol>
