---
title: I uploaded files to the FTP account but they were not ingested
layout: guide_simple
parent: guide
category: knowledge-base
slug: i-uploaded-files-to-the-ftp-account-but-they-were-not-ingested
---

<p>Check for a <strong>failed</strong> directory in your FTP account. It's quite possible the files were rejected because you didn't follow the <a href="/guides/ingestions/ftp-file-naming-convention.html">naming conventions</a>.</p>
