---
title: Implement Live Chat
layout: guide_simple
parent: guide
category: knowledge-base
slug: implement-live-chat
---

<p>Offering a chat channel on your website has many <a href="https://www.zopim.com/product/">benefits</a>. To implement the Zendesk Chat widget into TitleLeaf, follow the procedure below:</p>

<ol>

  <li>
    <p>Create a <a href="https://www.zendesk.com/chat">Zendesk Chat</a> account</p>
  </li>

  <li>
    <p>Once logged in, navigate to Settings &gt; Widget &gt; Getting Started.</p>
  </li>

  <li>
    <p>Copy the "Embed the Zendesk Chat Widget" script.</p>
    <p><img src="https://assets.titleleaf.com/guide/zendesk-widget.png" alt="Zendesk: Widget Setting" /></p>
    <p>The script looks similar to following snippet:</p>
<pre><code class="js">&lt;!--Start of Zendesk Chat Script--&gt;
&lt;script type="text/javascript"&gt;...
window.$zopim...
&lt;/script&gt;
&lt;!--End of Zendesk Chat Script--&gt;
</code>
</pre>
  </li>

  <li>
    <p>Navigate to TitleLeaf Admin &gt; Management &gt; Settings.</p>
  </li>

  <li>
    <p>Paste the script into the "Chat Script" field in the "Other" section of the "Settings" page.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-settings-chat.png" alt="TitleLeaf: Live Chat Setting" /></p>
  </li>

  <li>
    <p>Click the "Save" button. The widget should now be visible at the bottom of the public site.</p>
    <p><img src="https://assets.titleleaf.com/guide/demo-home-chat.png" alt="Demo: Home with live chat widget" /></p>
  </li>

</ol>
