---
title: Make a copy of a google doc template
layout: guide_simple
parent: guide
category: knowledge-base
slug: make-a-copy-of-a-google-doc-template
---

<p>
  Preamble: Data ingestion templates are available via the
  <%= templates_link 'Google docs repository' %>.
  In order to follow these instructions, you must have a Google
  account and <em>be signed in</em>.
</p>

<p>To make a copy of a given google doc:</p>

<ol>
<li>
  <p>Open the template. See screenshot for example:</p>
  <p><img src="https://assets.titleleaf.com/guide/google-lexile-default-template.png" alt="Google Doc: renlearn-template" /></p>
</li>
<li>
  <p>Select the following <em>Make a copy</em> menu item. Important: You <em>must be signed in</em> to your Google account to access that menu item.</p>
  <p><img src="https://assets.titleleaf.com/guide/google-file-menu-make-a-copy.png" alt="Google Doc: File menu, Make a copy" /></p>
</li>
<li><p>Name the new file as you deem necessary, but omit spaces (e.g., product_formats-YYYYMMDD where YYYYMMDD is today's date).</p>
</li>
</ol>
