---
title: Merge Subjects
layout: guide_simple
parent: guide
category: knowledge-base
slug: merge-subjects
---

<p>Follow the procedure below to merge multiple subjects into another subject:</p>

<ol>

  <li>
    <p>Navigate to the <em>Subjects</em> module. Click the <em>Merge Subjects</em> link in the sidebar.</p>
    <p><%= cdn_image "titleleaf-subjects-merge-link.png", alt: "Titleleaf: Merge subjects link" %></p>
  </li>

  <li>
    <p>Select the subjects that are to be merged. These are the <em>source</em> subjects. You can select multiple source subjects by holding the shift or alt keys on your keyboard.</p>
    <p><%= cdn_image "titleleaf-subjects-merge.png", alt: "Titleleaf: Merge subjects form" %></p>
  </li>

  <li>
    <p>If you would like the source subjects to be deleted after they are merged, check the respective checkbox.</p>
  </li>

  <li>
    <p>Select the target subject. This is the subject that the source subjects will be merged into.</p>
  </li>

  <li>
    <p>Click the <em>Merge</em> to perform the merge.</p>
  </li>

</ol>
