---
title: Merge Publishers
layout: guide_simple
parent: guide
category: knowledge-base
slug: merge-publishers
---

<p>Follow the procedure below to merge multiple publishers into another publisher:</p>

<ol>

  <li>
    <p>Navigate to the <em>Publishers</em> module. Click the <em>Merge Publishers</em> link in the sidebar.</p>
    <p><%= cdn_image "titleleaf-publishers-merge-link.png", alt: "Titleleaf: Merge publishers link" %></p>
  </li>

  <li>
    <p>Select the publishers that are to be merged. These are the <em>source</em> publishers. You can select multiple source publishers by holding the shift or alt keys on your keyboard.</p>
    <p><%= cdn_image "titleleaf-publishers-merge.png", alt: "Titleleaf: Merge publishers form" %></p>
  </li>

  <li>
    <p>If you would like the source publishers to be deleted after they are merged, check the respective checkbox.</p>
  </li>

  <li>
    <p>Select the target publisher. This is the publisher that the source publishers will be merged into.</p>
  </li>

  <li>
    <p>Click the <em>Merge</em> to perform the merge.</p>
  </li>

</ol>
