---
title: New Feature: Lists
layout: guide_simple
parent: guide
category: knowledge-base
slug: new-feature-lists
---

<p>The <em>Lists</em> module is an alternative to the <em>Wishlist</em> and <em>Quotes</em> modules. Instead of one wishlist and multiple quotes per user, TitleLeaf can be setup such that each user can have simply multiple lists.</p>

<p>With the <em>Lists</em> module implemented, a user has one <em>active</em> list, but limitless secondary lists. Any list can be activated. Lists can be merged. Line items can be quickly added by ISBN or keyword. Line items can also be edited/removed. See below for further details and screenshots.</p>

<ul>

  <li>
    <p>The main <em>Lists</em> page presents all the lists for a given user.</p>
    <p><img src="http://guide.titleleaf.com/uploads/demo-lists.png" alt="demo-lists" /></p>
  </li>

  <li>
    <p>While creating a new list, a user can add products and assign a library specification, billing address, and shipping address.</p>
    <p><img src="http://guide.titleleaf.com/uploads/demo-lists-new.png" alt="demo-lists-new" /></p>
  </li>

  <li>
    <p>The list view presents subtotals and total which are dependent on the assigned library specification, shipping address, and billing address. If no specification or addresses are assigned to the list, then the processing, shipping and tax subtotals will be zero.</p>
    <p><img src="http://guide.titleleaf.com/uploads/demo-lists-show.png" alt="demo-lists-show" /></p>
  </li>

  <li>
    <p>Add products to a list by ISBN from the show list view.</p>
    <p><img src="http://guide.titleleaf.com/uploads/demo-lists-add-by-isbn.png" alt="demo-lists-add-by-isbn" /></p>
    <p><img src="http://guide.titleleaf.com/uploads/demo-lists-add-by-isbn-2.png" alt="demo-lists-add-by-isbn-2" /></p>
  </li>

  <li>
    <p>Edit every aspect of a list. For example, products can be removed from a list by clicking the red <em>Remove</em> icon.</p>
    <p><img src="http://guide.titleleaf.com/uploads/demo-lists-edit.png" alt="demo-lists-edit" /></p>
  </li>

  <li>
    <p>Add products to a list by keyword from the edit list view.</p>
    <p><img src="http://guide.titleleaf.com/uploads/demo-lists-add-by-name.png" alt="demo-lists-add-by-name" /></p>
    <p><img src="http://guide.titleleaf.com/uploads/demo-lists-add-by-name-2.png" alt="demo-lists-add-by-name-2" /></p>
  </li>

  <li>
    <p>Click the checkbox in the <em>Active?</em> column to add items to the respective list from product pages.</p>
    <p><img src="http://guide.titleleaf.com/uploads/demo-lists-activate.png" alt="demo-lists-activate" /></p>
  </li>

  <li>
    <p>Note the <em>Add to List</em> button on product pages which are linked to the currently <em>active</em> list.</p>
    <p><img src="http://guide.titleleaf.com/uploads/demo-product-show.png" alt="demo-product-show.png" /></p>
    <p>After clicking the <em>Add to List</em> button, a user is presented with
confirmation and a link to <em>View List</em>.</p>
    <p><img src="http://guide.titleleaf.com/uploads/demo-product-show-list.png" alt="demo-product-show-list" /></p>
    <p>The <em>View List</em> will take the user to the currently active list.</p>
    <p><img src="http://guide.titleleaf.com/uploads/demo-lists-show-post-add.png" alt="demo-lists-show-post-add" /></p>
  </li>

  <li>
    <p>Merge multiple <em>source</em> lists into a <em>target</em> list and optionally delete the source lists.</p>
    <p><img src="http://guide.titleleaf.com/uploads/demo-lists-merge.png" alt="demo-lists-merge" /></p>
  </li>

  <li>
    <p>Copy/duplicate a list and add or remove products in the process.</p>
    <p><img src="http://guide.titleleaf.com/uploads/demo-lists-copy.png" alt="demo-lists-copy" /></p>
  </li>

</ul>