---
title: ONIX data requirements
layout: guide_simple
parent: guide
category: knowledge-base
slug: onix-data-requirements
---

<p>Below is a list of ONIX data requirements by various partners.</p>

<ul>
  <li>Title information must be consistent -- no editions, volume numbers, physical formats, series titles, etc should be included with the title. Subtitles must be in entered into the product subtitle field. The product name field should contain the title plus subtitle. [Baker &amp; Taylor]</li>
  <li>The product <em>Name</em> field should contain the title plus subtitle. Divide the product <em>Name</em> into its constituent parts and enter into the <em>Title</em> and <em>Subtitle</em> fields. [TitleLeaf]</li>
  <li>Publication dates must coincide with status NYP (not yet published) - the date shouldn’t be in the past with an NYP status. [Baker &amp; Taylor]</li>
  <li>TitleLeaf checks the release data of <em>NYP</em> product formats each. If a product format is NYP and the release date has passed, then TitleLeaf will update the status to <em>ACT</em>. [TitleLeaf]</li>
  <li>The spelling of the publisher name and imprint name must be consistent. [Baker &amp; Taylor]</li>
  <li>Verify that your data does not contain multiple publishers that are in fact indicating the same publisher but with slightly different spelling. See Catalog &gt; Publishers menu item. [TitleLeaf]</li>
  <li>Complete imprint names must be provided. [Baker &amp; Taylor]</li>
  <li>Similar to the publisher name, you should verify that your data does not contain multiple imprints that are in fact indicating the same imprint but with slightly different spelling. [TitleLeaf]</li>
  <li>Each title must have at least 1 valid BISAC code from the latest code list. [Baker &amp; Taylor]</li>
  <li>TitleLeaf recommends assigning at least 2 BISAC codes to each product. The most important BISAC should be assigned appear last in the list. [TitleLeaf]</li>
  <li>Juvenile titles must have grade or age ranges. [Baker &amp; Taylor]</li>
  <li>Mixed media packages must identify components included. [Baker &amp; Taylor]</li>
  <li>Contributor (eg, Authors and Illustrator) names should be defined in standard order (not "last name, first name"). TitleLeaf divides the name accordingly when distributing. [TitleLeaf]</li>
</ul>