---
title: Orphaned product formats
layout: guide_simple
parent: guide
category: knowledge-base
slug: orphaned-product-formats
---

<p>An <em>orphaned</em> product format is a product format that no longer is associated with a product. The most likely cause of such a scenario is that an administrator deleted a product but did not delete the associated product formats.</p>

<p>As a result, if it is essential to delete such a product, then delete the associated product formats beforehand.</p>

<p>To find and delete orphaned product formats after the fact, follow the procedure below:</p>

<ol>

  <li>
    <p>Navigate to the <em>Product Formats</em> module using the <em>Product Formats</em> link in the sidebar on the <em>Products</em> list page.</p>
    <p><%= cdn_image "titleleaf-product_formats-link.png", alt: "TitleLeaf: Product formats link" %></p>
  </li>

  <li>
    <p>Once on the <em>Product Formats</em> list page, click the <em>Is Orphaned?</em> checkbox in the search form and then click the <em>Search</em> button.</p>
    <p><%= cdn_image "titleleaf-product_formats-orphaned.png", alt: "TitleLeaf: Product formats link" %></p>
  </li>

  <li>
    <p>The records returned, if any, are orphaned product formats. If you have sufficient privileges, you can delete the product formats. Important: It is not recommended to delete product formats. Totals on carts, wishlists, quotes, and orders containing said product format will no longer be valid once deleted.</p>
  </li>

</ol>
