---
title: Override Format Name
layout: guide_simple
parent: guide
category: knowledge-base
slug: override-format-name
---

<p>TitleLeaf allows overriding the format name on a <em>global level</em> and on a <em>product format level</em>.</p>

<ul>
<li><em>Global Level</em> — Navigate to Admin &gt; Management &gt; Formats. See the "Override Name" column. That field also exists on the "Edit Format" form.</li>
<li><em>Product Format Level</em> — Navigate to Admin &gt; Catalog &gt; Product &gt; Product Formats. Click the ISBN of any product format to arrive at the "Edit Product Format" form. Note the "Override Format Name" field.</li>
</ul>

<p>It is possible to import/ingest such product format overrides as well. See the <em>format_name</em> column in <em>product_formats</em> template. This is the recommended method to update multiple records at once.</p>