---
title: Package sets with constituent titles grouped beneath
layout: guide_simple
parent: guide
category: knowledge-base
slug: package-sets-with-constituent-titles-grouped-beneath
---

<p>Follow the procedure below to package sets with constituent titles grouped beneath:</p>

<ul>

  <li>
    <p>Complete the <em>New Package</em> form similar to below:</p>
    <p><img src="https://www.evernote.com/l/AAZmXdyqkOhH4Z8rcReUtGYnYyN3zltGm2gB/image.png" alt="Complete form" /></p>
    <p>Important:</p>
    <ul style="margin-bottom:1em;">
      <li>Product Type = "Set"</li>
      <li>Expand Sets? = Checked</li>
    </ul>    
  </li>

  <li>
    <p>Successfully created package:</p>
    <p><img src="https://www.evernote.com/l/AAYk5oXci5ZGWJSXldXLRQR7B9mllJDOR_8B/image.png" alt="Successfully created package" /></p>
  </li>

  <li>
    <p>Once processing is complete, the zipped file is ready for download:</p>
    <p><img src="https://www.evernote.com/l/AAaixjzgYtNMLqnK6PHkrpVzrfznOXLBwngB/image.png" alt="Processing complete" /></p>
  </li>

</ul>