---
title: Package processing stalled
layout: guide_simple
parent: guide
category: knowledge-base
slug: package-processing-stalled
---

<p>Depending upon the number of formats associated with your products, it is possible that TitleLeaf will stall when trying to process a large amount of products. To avoid stalled package processing, set the <em>Package Limit</em> to <em>4000</em> or lower.</p>

<p>The <em>Package Limit</em> field is accessed from the <em>Settings</em> menu under the Management heading.</p>
<p><%= cdn_image 'settings-package-limit.png', alt: 'Settings: Package Limit' %></p>

<p>In the event that a package is created that exceeds the limit, you will be presented with the following message:</p>
<p><%= cdn_image 'new-package-limit-exceeded.png', alt: 'New Package: Limit exceeded' %></p>
