---
title: Private Access Challenge
layout: guide_simple
parent: guide
category: knowledge-base
slug: private-access-challenge
---

<p>Demo and development sites are password-protected to prevent anonymous internet users and bots from accessing. Depending on your browser, you will be presented with a form similar to the one below.</p>

<p><%= cdn_image "demo-private-access-challenge-secure.png", alt: "Demo: Private access, secure" %></p>

<p>Note: If you access the page using <em>http://</em>, your connection will be <em>insecure</em> (port 80). Use <em>https://</em> for a secure connection (port 443).</p>

<p>Enter the credentials you were given. Click the "Remember this password" checkbox to avoid this challenge in future visits.</p>

<p>If you've entered your credentials correctly, you will be redirected to the demo or development site.</p>

<p><%= cdn_image "demo-home.png", alt: "Demo: Home page" %></p>
