---
title: Process Images Using Photoshop
layout: guide_simple
parent: guide
category: knowledge-base
slug: process-images-using-photoshop
---

<p>TitleLeaf recommends the following <a href="/guides/ingestions/ftp-image-ingestion">image file specifications</a> when uploading images. To convert images in bulk using Adobe Photoshop, refer to the procedure below.</p>

<p>Setup: Download the Adobe Photoshop JPG settings from the <a href="https://drive.google.com/folderview?id=0B5nSLzCVc941cmJiUUp2UUdZeGc&amp;usp=sharing#list">shared Google Drive directory</a> and unzip. There should be two files contained therein: 1) an actions file named <em>TitleLeaf.atn</em>; 2) an image processor script named <em>TitleLeaf.xml</em>.</p>

<ol>
  <li>
    <p>Load the actions file, <em>TitleLeaf.atn</em>, into Photoshop (Menu: Window &gt; Actions).</p>
    <p><img src="https://assets.titleleaf.com/guide/photoshop-menu-actions.png" alt="Photoshop: Load Actions" /></p>
  </li>
  <li>
    <p>Open the Image Processor window (Menu: File &gt; Scripts &gt; Image Processor...).</p>
    <p><img src="https://assets.titleleaf.com/guide/photoshop-menu-scripts.png" alt="Photoshop: File menu, Scripts item" /><img src="https://assets.titleleaf.com/guide/photoshop-menu-image-processor.png" alt="Photoshop: File menu, Image Processor item" /></p>
  </li>
  <li>
    <p>Load the image processor script, <em>TitleLeaf.xml</em>, by clicking the <em>Load...</em> button.</p>
    <p><img src="https://assets.titleleaf.com/guide/photoshop-image-processor.png" alt="Photoshop: Load Actions..." /></p>
  </li>
  <li>
    <p>Select the source and target folders, verify that the action being run is <em>TitleLeaf 150 dpi</em>, then click the <em>Run</em> button.</p>
  </li>
</ol>
