---
title: Products vs Product Formats
layout: guide_simple
parent: guide
category: knowledge-base
slug: products-vs-product-formats
---

<p>In TitleLeaf, a "Product" can have one or more "Product Formats". The Product attributes can be found on the "Edit Product" form of the Admin UI or the "products-only" ingestion template. The Product Format attributes can be found on the "Edit Product Format" form of the Admin UI or the "product_formats" ingestion template.</p>

<p>The "products-default" template and the "products-default-with-multiple-formats" template contain attributes for both Product and Product Format records. These templates are offered as convenience methods to create/update Product <em>and</em> Product Format attributes simultaneously.</p>

<p>If, as a publisher, you release your product in multiple formats simultaneously, it is recommended that you use the "products-default-with-multiple-formats" template to create a Product and all its associated Product Formats at once. After such an ingestion, each Product Format for a given Product will be assigned the same attributes. For this reason, you will normally need to ingest the "product_formats" template afterwards. You are essentially overriding some attributes (eg, prices and dimensions) if they differ across the different formats of a given product.</p>

<p>Products List (Admin &gt; Catalog &gt; Products):</p>
<p><%= cdn_image "admin-products-list.png", alt: "Admin: Products list" %></p>

<p>Edit Product Form (Admin &gt; Catalog &gt; Products):</p>
<p><%= cdn_image "admin-products-edit.png", alt: "Admin: Edit product form" %></p>

<p>Product Formats List (Admin &gt; Catalog &gt; Products &gt; Edit Product):</p>
<p><%= cdn_image "admin-product-formats-list.png", alt: "Admin: Product formats list" %></p>

<p>Edit Product Format Form (Admin &gt; Catalog &gt; Products &gt; Edit Product &gt; Product Formats):</p>
<p><%= cdn_image "admin-product-formats-edit.png", alt: "Admin: Edit product format form" %></p>
