---
title: Products missing product formats
layout: guide_simple
parent: guide
category: knowledge-base
slug: products-missing-product-formats
---

<p>It is essential that every product have at least one associated product format. To verify, visit the <em>Products</em> list page. Click the <em>Missing Product Format?</em> checkbox. Then, click the <em>Search</em> button. Any found products should be updated as soon as possible.</p>