---
title: Product Keywords vs Tags
layout: guide_simple
parent: guide
category: knowledge-base
slug: product-keywords-vs-tags
---

<p>The <em>Edit Product</em> form has two seemingly similar fields named <em>Keywords</em> and <em>Tags</em>.</p>

<p><img src="https://www.evernote.com/l/AAYu-B8iYFxEI63rJWLXeqb_gyaMDUUd1M4B/image.png" alt="Product keywords and tags" /></p>

<h3>Keywords</h3>
<p>Keywords have multiple purposes. First, keywords will appear in the HTML <em>meta</em> field of the public product page. In other words, it is a search engine optimization (SEO) tool. Second, keywords influence the TitleLeaf search engine. Therefore, if you want a certain product to be included in TitleLeaf's search results for a certain term, add the term to the Keywords field. Third, <strong>Keyword data is distributed to third-party wholesalers/distributors</strong> (if requested) and is included in the ONIX feed.</p>

<h3>Tags</h3>
<p>Tags address a single need: to group products under specific terms without using the <em>Subjects</em> module. It is similar in functionality to <em>Subjects</em> but is hidden from visitors. This allows the publisher to create a page showing select titles without having the term appear in the <em>Subjects</em> hierarchy. It's useful for temporary promotions. Tag data is <em>not</em> distributed to third-party wholesalers/distributors and is <em>not</em> included in the ONIX feed.</p>

<h5>For more information:</h5>
<ul>
<li><a href="/guides/knowledge-base/compose-keyword-search-results-link">Compose keyword link</a>
</li>
<li><a href="/guides/knowledge-base/compose-tag-link">Compose tag link</a>
</li>
</ul>
