---
title: Remove ebook
layout: guide_simple
parent: guide
category: knowledge-base
slug: remove-ebook
---

<p>To remove an ebook associated with a given product format, follow the procedure below:</p>

<ol>

  <li>
    <p>Navigate to the <em>Edit Product Format</em> form.</p>
  </li>

  <li>
    <p>Check the <em>Remove</em> box.</p>
    <p><img src="https://assets.titleleaf.com/guide/admin-product-format-remove-ebook.png" alt="Admin: Remove product format ebook" /></p>
  </li>

  <li>
    <p>Click the <em>Save</em> button at the bottom of the form.</p>
  </li>

</ol>
