---
title: Rename format
layout: guide_simple
parent: guide
category: knowledge-base
slug: rename-format
---

<p>TitleLeaf allows admin users to override the names of formats. Note: Admin user cannot edit the characteristics of a format, so it's best to utilize the appropriate format.</p>

<ol>
  <li>
    <p>Navigate to the <em>Formats</em> module.</p>
    <p><%= cdn_image 'management-menu.png', alt: 'Management menu' %></p>
  </li>
  <li>
    <p>Select the format in question.</p>
    <p><%= cdn_image 'formats-index.png', alt: 'Formats index' %></p>
  </li>
  <li>
    <p>Enter the value desired into the <em>Override Name</em> field.</p>
    <p><%= cdn_image 'edit-format-form.png', alt: 'Edit format form' %></p>
  </li>
</ol>
