---
title: Set vs Series
layout: guide_simple
parent: guide
category: knowledge-base
slug: set-vs-series
---

<p>When utilizing TitleLeaf, the term <em>Set</em> should not be confused with the term <em>Series</em>. TitleLeaf follows closely the <a href="https://www.bisg.org/onix-books/">ONIX for Books standard</a>. To paraphrase their definitions, a <em>Set</em> is a salable product, composed of a fixed number of sub-products. A <em>Series</em> is not a salable product; it is a grouping for marketing purposes of an indefinite number of products published over an indefinite period of time.</p>

<p>In TitleLeaf terms, a <em>Set</em> is managed via the <em>Product</em> module (see Admin → Catalog → Products). A <em>Set</em> is a <em>Product</em> record with its <em>type</em> defined as <em>Set</em> (as opposed to <em>Title</em>). A <em>Series</em>, on the other hand, is managed via the <em>Series</em> module (see Admin → Catalog → Series). Another distinction is that a <em>Series</em> cannot span products from multiple publishers, whereas a <em>Set</em> can.</p>

<h4>Further Explanation</h4>

<p>In practical terms, a <em>Set</em> is snapshot of a <em>Series</em> on a specific date. The contents of a <em>Set</em> are fixed. If titles are added to a <em>Series</em> at a later date, then a new <em>Set</em> should be created to replace the old <em>Set</em>.</p>

<p>For an exact definition, please consult the following excerpts from <cite>ONIX for Books, Release 2.1, Revision 03</cite>:</p>

<blockquote>
<h5>PR.5 Series</h5>
<p>A “series” means an indefinite number of products, published over an indefinite time period, and grouped together under a series title, primarily for marketing purposes. A series does not have an EAN-13 number, ISBN or UPC, and it is not traded as a single item, although it may be possible to place a standing order for successive items in the series to be supplied automatically.</p>
</blockquote>

<blockquote>
<h5>PR.6 Set</h5>
<p>A “set” means a finite number of products grouped together under a set title. The products may originally be published over a period of time, but generally they have become or will become available for simultaneous purchase. A set may be traded as a single item or in separate parts or both. If traded as a single item, a set should have its own product identifier such as an EAN-13 number and/or an ISBN.</p>
</blockquote>
