---
title: Share a google doc
layout: guide_simple
parent: guide
category: knowledge-base
slug: share-a-google-doc
---

<p>To share a Google Doc:</p>

<ol>
  <li>
    <p>Open the Google Doc in question, then select the <em>Share</em> item in the File menu.</p>
    <p><img src="https://assets.titleleaf.com/guide/google-file-share.png" alt="Google doc file menu, share item" /></p>
  </li>
  <li>
    <p>Add the email address of the person with whom you'd like to share the Doc in the <em>People</em> section of the Share window.</p>
    
<p><img src="https://assets.titleleaf.com/guide/google-file-share-2.png" alt="Google doc share window" /></p>
<p><img src="https://assets.titleleaf.com/guide/google-file-share-3.png" alt="Google doc share window, with email" /></p>
  </li>
</ol>
