---
title: Show upcoming products
layout: guide_simple
parent: guide
category: knowledge-base
slug: show-upcoming-products
---

<p>To allow visitors to view a specific product format before its official release date, set the <code>announce_on</code> value. The <code>announce_on</code> value must precede the <code>release_on</code> value.</p>

<ol>

  <li>
    <p>Navigate to the <em>Edit Product Format</em> form.</p>
  </li>

  <li>
    <p>Set the <em>Announcement Date</em> value to a date that precedes the <em>Release Date</em>.</p>
    <p><img src="https://assets.titleleaf.com/guide/admin-product-format-edit-dates.png" alt="TitleLeaf: Edit product format dates" /></p>
  </li>

  <li>
    <p>
      Click the <em>Save</em> button at the bottom of the
      <em>Edit Product Format</em> page.
      The product format will be visible once the <em>search index</em>
      is updated. This normally occurs within a few minutes.
    </p>
  </li>

</ol>

<p><sup>1</sup> The "Show Upcoming" functionality was previously controlled by a
global Setting. All products would be visible a specific number of days
before their release date. That functionality has been removed. Product format
visibility is now controlled on the product format level.</p>
