---
title: Show upcoming products
layout: guide_simple
parent: guide
category: knowledge-base
slug: show-upcoming-products
---

<p>
  To allow visitors to view a specific product format before its official
  release date, populate the <code>announce_on</code> field with a value that
  precedes that of the <code>release_on</code> field.
</p>

<ol>

  <li>
    <p>Navigate to the <em>Edit Product Format</em> form.</p>
  </li>

  <li>
    <p>Set the <em>Announcement Date</em> value to a date that precedes the <em>Release Date</em>.</p>
    <p><%= cdn_image "admin-product-format-edit-dates.png", alt: "TitleLeaf: Edit product format dates" %></p>
  </li>

  <li>
    <p>
      Click the <em>Save</em> button at the bottom of the
      <em>Edit Product Format</em> page.
      The product format will be visible once the <em>search index</em>
      is updated. This normally occurs within a few minutes.
    </p>
  </li>

</ol>

<p class="block-warning">
  The "Show Upcoming" functionality was previously controlled by a
  global Setting. All products would be visible a specific number of days
  before their release date. <em>That functionality has been removed.</em>
  Product format visibility is now controlled on the product format level,
  as described above.
</p>
