---
title: Textile markup
layout: guide_simple
parent: guide
category: knowledge-base
slug: textile-markup
---

<p>Some form fields in the TitleLeaf system can accept <a href="http://en.wikipedia.org/wiki/Textile_(markup_language)" title="http://en.wikipedia.org/wiki/Textile_(markup_language)">Textile markup</a>. Such fields are listed at the bottom of the respective form.</p>

<p><img src="http://guide.titleleaf.com/uploads/titleleaf-textile-allowed-in-body.png" alt="Textile allowed in Body" /></p>

<p>Textile is a lightweight markup language. It is an easier way to style text in comparison to HTML. Textile converts its marked-up text input to valid, well-formed XHTML and also inserts character entity references for apostrophes, opening and closing single and double quotation marks, ellipses and em dashes.</p>

<p>For more information about Textile, please refer to the <a href="http://redcloth.org/hobix.com/textile" title="http://redcloth.org/hobix.com/textile">Textile Reference</a> page.</p>

<p><img src="http://guide.titleleaf.com/uploads/textile-reference.png" alt="Textile reference" /></p>