---
title: Unlock user account
layout: guide_simple
parent: guide
category: knowledge-base
slug: unlock-user-account
---

<p>If a user repeatedly enters an incorrect password, their associated account will eventually be <em>locked</em>. They will be presented with a message saying their account is locked and they will be sent an email as well. The email message will contain a link to unlock their account.</p>

<p>Note: If the user did not receive the email message, it is possible that they no longer have access to their email account. In this situation, you might need to <a href="/guides/sales/change-user-name-email-category-or-password">edit both the user's email address and password</a>, in addition to unlocking the account, as shown below.</p>

<ol>

  <li>
    <p>Navigate to the Users module (Admin &gt; Sales &gt; Users).</p>
    <p><%= cdn_image 'sales-menu-user-item.png', alt: 'Sales menu: User item' %></p>
  </li>

  <li>
    <p>Find the user. Notice the <em>lock</em> icon next to their name. Click the desired account name to view the account details.</p>
    <p><%= cdn_image 'find-user-by-email-address.png', alt: 'Find user by email address' %></p>
  </li>

  <li>
    <p>On the account details page, click the <em>Unlock user</em> link.</p>
    <p><%= cdn_image 'unlock-user-link.png', alt: 'Unlock user link' %></p>
    <p>Upon clicking the link, you should be presented with confirmation.</p>
    <p><%= cdn_image 'unlock-confirmation-message.png', alt: 'Unlock confirmation message' %></p>
  </li>

</ol>
