---
title: Update home page
layout: guide_simple
parent: guide
category: knowledge-base
slug: update-home-page
---

<h5>NB: This procedure is applicable to <em>Sleeping Bear Press</em> only.</h5>

<p>Use the following procedure to change the titles presented on the home page of the public website. As always, you must
  <a href="/guides/basics/access-admin-page.html">login</a> and navigate to the
  <a href="/guides/basics/navigate-to-admin-home-page.html">admin section</a> of the website.</p>

<ol>

<li>
<p>From the Admin menu, click “Management” and from the dropdown select “Settings”. </p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-menu-settings.png" alt="Management menu, Settings item" /></p>
</li>

<li>
<p>Change the values in the "Home page" section of the settings window (see screenshot below). Click "Save" when complete.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-settings-homepage.png" alt="Settings page, Home page customization" /></p>
<p>a. Primary Heading box: Use this box to create the text for the primary products you wish to promote.  Currently, this box contains “h1. New Releases” which means that we’re using the main headline font (h1.) and the text “New Releases”.</p>
<p>b. Primary Titles box:  Insert the ISBN numbers of the titles you wish to promote under the primary heading, separating each ISBN with a comma.</p>
<p>c. Secondary Heading box:  Use this box to create the text for the secondary products you wish to promote.  Currently, this box contains “h1. Featured Titles: Fun Summer Reading!” which means that we’re using the main headline font (h1.) and the text “Featured Titles: Fun Summer Reading!”.</p>
<p>d. Secondary Titles box:  Insert the ISBN numbers of the titles you wish to promote under the secondary heading, separating each ISBN with a comma.</p>
</li>

<li>
<p>Visit the public home page to confirm the changes.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-settings-homepage-confirmation.png" alt="Settings page, Home page customization, Confirmation" /></p>
</li>

</ol>
