---
title: Uploading files to Google Drive
layout: guide_simple
parent: guide
category: knowledge-base
slug: uploading-files-to-google-drive
---

<p>When uploading CSV or Excel files to Google Drive in order to collaboratively edit, be certain to <em>convert</em> the file on upload.</p>


<ol>

  <li>
    <p>Naviage to the Google Drive settings menu:</p>
    <p><img src="https://www.evernote.com/l/AAYNDNfG11hGrq6dGBx6j7apdmEp6fmYkrwB/image.png" alt="Google Drive: Settings menu" /></p>
  </li>

  <li>
    <p>Check the <em>convert uploads</em> box:</p>
    <p><img src="https://www.evernote.com/l/AAYwG9-l4OhCoqb42OxM9_b_iecorso91GQB/image.png" alt="Google Drive: Settings window" /></p>
  </li>

  <li>
    <p>After upload, the message should indicate that the file was converted:</p>
    <p><img src="https://www.evernote.com/l/AAbToQBxFZZFjKmiQP8ROsGVZzxhzsVty44B/image.png" alt="Google Drive: Upload converted" /></p>
  </li>

</ol>