---
title: URL shortening
layout: guide_simple
parent: guide
category: knowledge-base
slug: url-shortening
---

<p>URLs pointing to search results are not user-friendly. See the following example for products matching the term <em>volcano</em>:</p>

<pre><code>https://demo.titleleaf.com/products/search_results?search%5Bid_notin%5D=&amp;search%5Bproduct_formats_status_in%5D%5B%5D=ACT&amp;search%5Bq%5D=volcano
</code>
</pre>

<p>We do not recommend sharing such links with others since errors can easily creep into the copy/paste process thereby rendering the link invalid.</p>

<p>A better way to share such a link is to use a third-party URL shortening service. Here are a couple:</p>

<ul>
  <li>Google: <a href="https://goo.gl">https://goo.gl</a></li>
  <li>Bitly: <a href="https://bitly.com">https://bitly.com</a></li>
</ul>

<p>Here is the aforementioned URL after it's been shortened:</p>

<pre><code>https://goo.gl/xJ8mLL</code></pre>

<p>For more information, please refer to Wikipedia entry on <a href="https://en.wikipedia.org/wiki/URL_shortening">URL shortening</a>.</p>
