---
title: Use price change package when distributing
layout: guide_simple
parent: guide
category: knowledge-base
slug: use-price-change-package-when-distributing
---

<p>When distributing data, a <em>Channel</em> must be selected. The Channel defines the formatting for the data being sent. For example, in the screenshot below, Mackin receives data using the <em>Default (csv)</em> package. The resultant file for this channel is in CSV format and it contains a generic layout of columns that is acceptable to many vendors. In comparison, some vendors require a specific file format such as Excel and a specific ordering of columns.</p>

<p>By checking the <em>Use Price Change Package</em> box on the <em>New Distribution</em> form, the Channel's normal package (eg, <em>Default (csv)</em>) is overridden with the <em>Price Change (csv)</em> package.</p>

<p><img src="https://assets.titleleaf.com/guide/distribution-new-use-price-change-package.png" /></p>

<p>For reference, the <em>Price Change</em> package contains the following columns:</p>

<ul>
  <li>ISBN 13</li>
  <li>Product Name</li>
  <li>Type</li>
  <li>Format</li>
  <li>Series</li>
  <li>Old Price</li>
  <li>New Price</li>
  <li>Date Effective</li>
</ul>

<p>The significant information in this package is the <em>Old Price</em> and <em>New Price</em>. No other package contains such data columns. In this way, a vendor can visualize the before and after affect of a price change. Note: If a designated product has no associated price changes, it will be skipped. In other words, a row will not be created for it in the resultant CSV file.</p>
