---
title: Use price change data when distributing
layout: guide_simple
parent: guide
category: knowledge-base
slug: use-price-change-data-when-distributing
---

<p>To send a product's upcoming price change data instead of current price data, check the <em>Use Upcoming Price Change</em> box on the <em>New Distribution</em> form. If an upcoming price change does not exist for the given product, then the current price will be distributed.</p>

<p><%= cdn_image "distribution-new-use-upcoming-price-change.png", alt: "TitleLeaf: New Price Change - Use upcoming prices" %></p>
