---
title: Versioning
layout: guide_simple
parent: guide
category: knowledge-base
slug: versioning
---

<p>Both the <em>Product</em> and <em>Product Format</em> modules are <em>versioned</em>. This means that the changes to the data in those two modules are recorded. Basically, versioning allows you to track down who changed what and when. It also provides the option to <em>restore</em> a record to a previous state. Think of it as a light-weight backup in case things go wrong.</p>

<p>Important: Versioning does <em>not</em> allow you to restore a record if it has been deleted.</p>

<p>To view the change history of specific product:</p>

<ol>

  <li>
    <p>Click the version number at the bottom of the page, under the <em>Save</em> button.</p>
    <p><%= cdn_image "titleleaf-product-version-link.png", alt: "TitleLeaf: Product version link" %></p>
  </li>

  <li>
    <p>The version history page shows the data changes in reverse chronological order.</p>
    <p><%= cdn_image "titleleaf-product-version.png", alt: "TitleLeaf: Product version history page" %></p>
  </li>

  <li>
    <p>Clicking the <em>Compare</em> button will display the exact changes. Clicking the <em>Restore</em> changes the product record to its prior state.</p>
    <p><%= cdn_image "titleleaf-product-version-compare.png", alt: "TitleLeaf: Product version history page, compare view" %></p>
  </li>

  <li>
    <p>Clicking the <em>Restore</em> button changes the product record to its prior state.</p>
    <p><%= cdn_image "titleleaf-product-version-restored.png", alt: "TitleLeaf: Product version restored" %></p>
  </li>

</ol>
