---
title: Visible Formats
layout: guide_simple
parent: guide
category: knowledge-base
slug: visible-formats
---

<p>The formats visible on the public site are dictated by an internal setting. That setting is defined during setup of the TitleLeaf site. If, at a later date, you would like to display/sell other product formats on your site, contact TitleLeaf client support. Changing the setting requires the TitleLeaf server to be restarted.</p>

<ul>

  <li>
    <p>Public product page with multiple formats:</p>
    <p><img src="https://assets.titleleaf.com/guide/demo-product-show-formats.png" alt="Demo: Multiple product formats" /></p>
  </li>

  <li>
    <p>Admin formats list displaying all formats and indicating those that are "visible" on the public site:</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-admin-formats.png" alt="TitleLeaf: Admin formats list" /></p>
  </li>

</ul>
