---
title: What is a Proprietary ID?
layout: guide_simple
parent: guide
category: knowledge-base
slug: what-is-a-proprietary-id
---

<p>It is not uncommon for a data template to have a column entitled <em>proprietary_id</em>. Such a column is used to synchronize data between a publisher's internal content management system (CMS) and TitleLeaf. If the publisher does not have an internal CMS and the <em>proprietary_id</em> is required by TitleLeaf, then the publisher must populate the column with a unique number that they have generated.</p>

<p>Note: The Proprietary ID does not need to be unique across all types of data (i.e., Products vs Reviews vs Contributors); it needs to be unique in the scope of the specific data type. In other words, a publisher can have a Product with ID of 1000 and a Review of ID 1000. But a publisher cannot have two Products with ID of 1000.</p>