---
title: What to do when your site is down
layout: guide_simple
parent: guide
category: knowledge-base
slug: what-to-do-when-your-site-is-down
---

<h3>If your site is unstable or completely down, please follow these steps:</h3>
<ol>
  <li>Check the <%= status_link %></li>
  <li>
    <p>If no relevant incident is listed, create a support ticket on the <%= support_link %></p>
    <p><%= cdn_image "titleleaf-status-page.png", alt: "TitleLeaf Status Page" %></p>
  </li>
</ol>

<p class="block-notice">
  For further information about service and support, visit the <%= service_link(name: "service page") %>.
</p>
