---
title: Bundles
layout: guide_simple
parent: guide
category: sales
slug: bundles
---

<p>TitleLeaf offers two types of cart discounts: <em>Bundle discounts</em> and <a href="/guides/sales/coupons"><em>Coupon discounts</em>
</a>. Discounts are applied to a user's cart when the user submits a discount code via the form on the cart page. The Bundle module provides a means for the publisher to offer product-related discounts. For example, a publisher can create bundle discount that is applied only if the customer has product A and product B in their cart. Bundles can be restricted by date (Valid from, Valid to), by the cart's subtotal (Subtotal minimum), and by the number of cart items matching the bundle items (Minimum number of matching items).</p>

<p>Edit Bundle Form:</p>
<p><%= cdn_image "admin-bundle-edit.png", alt: "TitleLeaf: Edit bundle form" %></p>
