---
title: Change user name, email, category or password
layout: guide_simple
parent: guide
category: sales
slug: change-user-name-email-category-or-password
---

<p>This process can be used to change information associated with a user's account such as name, email, category or password. A common reason to do this is when a user incorrectly assigns their <em>Category</em> when registering. An <em>Individual</em>, for example, cannot access the <em>Library processing</em> functionality of TitleLeaf.</p>

<ol>

<li>
<p>Find the user record in question.</p>
<p><img src="https://assets.titleleaf.com/guide/titleleaf-users-search.png" alt="TitleLeaf: Users, find tolstoy" /></p>
</li>

<li>
<p>Click the <em>Edit user</em> link in the right sidebar.</p>
<p><img src="https://assets.titleleaf.com/guide/titleleaf-users-show.png" alt="TitleLeaf: User, show, edit link" /></p>
</li>

<li>
<p>Change the user's information, then click the <em>Save</em> button.</p>
<p><img src="https://assets.titleleaf.com/guide/titleleaf-edit-user.png" alt="TitleLeaf: User, edit" /></p>
</li>

</ol>
