---
title: Coupons
layout: guide_simple
parent: guide
category: sales
slug: coupons
---

<p>TitleLeaf offers two types of cart discounts:  <a href="/guides/sales/bundles"><em>Bundle discounts</em>
</a> and <em>Coupon discounts</em>. Discounts are applied to a user's cart when the user submits a discount code via the form on the cart page. The Coupon module provides a means for the publisher to offer non-product-related discounts. For example, a publisher can create a coupon discount that subtracts $10 from the cart's subtotal. Another option is to create a coupon discount that reduces the cart subtotal by 10%. Coupons can be restricted by date (Valid from, Valid to), by the cart's subtotal (Subtotal minimum), and by the cart's title count (Count minimum).</p>

<p>New Coupon Form:</p>
<p><img src="https://assets.titleleaf.com/guide/admin-coupon-new.png" alt="TitleLeaf: New coupon form" /></p>
