---
title: Mark order as cancelled
layout: guide_simple
parent: guide
category: sales
slug: mark-order-as-cancelled
---

<p>If the payment type is credit card, then marking an order as "Cancelled" will also attempt to "release" the authorized amount from the associated credit card. Note: To reach this stage, TitleLeaf has received authorization from the merchant bank to capture the amount from the credit card. Releasing the authorized amount can also be performed through the merchant website.</p>

<ol>

<li>
<p>Find the order from the list that appears on the Order page (Menu Sales &gt; Orders).</p>
<p><%= cdn_image "titleleaf-sales-menu-orders-highlighted.png", alt: "TitleLeaf: Sales menu, orders highlighted" %></p>
<p>Order page:</p>
<p><%= cdn_image "titleleaf-order-submitted.png", alt: "Order not yet released" %></p>
</li>

<li>
<p>Notice the "Cancelled" link is active.</p>
<p><%= cdn_image "titleleaf-order-status-links-submitted.png", alt: "Order status links" %></p>
</li>

<li>
<p>Click the "Cancelled" link. Now the link is no longer active and a message appears at the top of the page indicating that the order status has been updated.</p>
<p><%= cdn_image "titleleaf-order-cancelled.png", alt: "Order cancelled" %></p>
</li>

</ol>
