---
title: Release digital order to customer
layout: guide_simple
parent: guide
category: sales
slug: release-digital-order-to-customer
---

<p>When a customer purchases a downloadable product (PDF or Epub format), that product is not delivered/released to the customer until an admin user updates the order status. Consider this process as the analogy to shipping physical products to a customer. Only do so when you're confident the order is correct and the order will be paid.</p>

<p class="block-notice">Important: Hosted ebooks are not downloadable and so do not fall under this category of products that need to be <em>released</em>. Sales of hosted ebooks need to be forwarded to Big Timber for setup.</p>

<ol>
  <li>
    <p>Go to specific order page, by selecting the Sales &gt; Orders menu item.</p>
    <p><%= cdn_image "titleleaf-sales-menu-orders-highlighted.png", alt: "TitleLeaf: Sales menu, orders highlighted" %></p>
  </li>

  <li>
    <p>Note that the order has not yet been "Released" (See "Set status to" section).</p>
    <p><%= cdn_image "titleleaf-order-to-be-released.png", alt: "Order not yet released" %></p>
  </li>

  <li><p>Click the "Released" link. This action will add the product(s) to the user's account and send an email to the customer notifying them that their product is available for download.</p>
    <p><%= cdn_image "titleleaf-order-status-links.png", alt: "Order status links" %></p>
  </li>

  <li><p>Notice the notification stating that the status has been updated. Also notice that the "Released" link is no longer active. When an order is "Released", "Shipped" or "Paid", the digital products in the respective order are downloadable from the website by the customer.</p>
    <p><%= cdn_image "titleleaf-order-released.png", alt: "Order released" %></p>
  </li>
</ol>
