---
title: Reset password
layout: guide_simple
parent: guide
category: sales
slug: reset-password
---

<p>It is preferable that users reset their password on their own using the <a href="/guides/public/forgot-your-password.html">forgot your password form</a>. In the situation where this isn't possible, follow the procedure below to reset a user's password through the admin.</p>

<p>By following this procedure, an email message will be sent to the user indicating their new, temporary password. Note: The email address on file must be valid for the user to receive the email message.</p>

<ol>

<li>
<p>Select the <em>Users</em> menu item from the <em>Sales</em> menu.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-sales-menu-users-highlighted.png" alt="TitleLeaf: Sales menu, users highlighted" /></p>
</li>

<li>
<p>Find the user, then go to the user page by clicking the user name link in the list.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-find-user.png" alt="TitleLeaf: User, find Jane Doe" /></p>
</li>

<li>
<p>Click the <em>Reset Password</em> link at the top of the user page.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-reset-password.png" alt="Reset password link" /></p>
</li>

<li>
<p>If successful, you should see a confirmation message.</p>
<p><img src="http://guide.titleleaf.com/uploads/titleleaf-reset-password-confirmation.png" alt="Reset password confirmation" /></p>
</li>

</ol>
