---
title: Users
layout: guide_simple
parent: guide
category: sales
slug: users-page
---

<ul>

  <li>
    <p>The <em>Users</em> module is accessible under the <em>Sales</em> menu:</p>
    <p><img src="https://www.evernote.com/l/AAb9Tz0vsURI7qBRYjXH33H3KBKFgVBvdeoB/image.png" alt="Sales menu" /></p>
    <p><img src="https://www.evernote.com/l/AAZ8OeCJATJA74D58WxXyVDeezXHZ8xoEZcB/image.png" alt="Users index" /></p>
  </li>

  <li>
    <p>Search for a specific user using the form at the top of the page. Click the user name in the search results list for details about that specific user.</p>
    <p><img src="https://www.evernote.com/l/AAZoyoPRyxxI5JJJ-2WHWi3dm0bzlr790GYB/image.png" alt="Search for a specific user" /></p>
  </li>

  <li>
    <p>User detail page.</p>
    <p><img src="https://www.evernote.com/l/AAYJCa_wh1VCXYkb0FzksNdmKajSAzXQ0IwB/image.png" alt="Show user" /></p>
  </li>

</ul>