---
title: Users
layout: guide_simple
parent: guide
category: sales
slug: users-page
---

<ul>

  <li>
    <p>The <em>Users</em> module is accessible under the <em>Sales</em> menu:</p>
    <p><%= cdn_image 'sales-menu.png', alt: 'Sales menu' %></p>
    <p><%= cdn_image 'users-index.png', alt: 'Users index' %></p>
  </li>

  <li>
    <p>Search for a specific user using the form at the top of the page. Click the user name in the search results list for details about that specific user.</p>
    <p><%= cdn_image 'search-for-a-specific-user.png', alt: 'Search for a specific user' %></p>
  </li>

  <li>
    <p>User detail page.</p>
    <p><%= cdn_image 'show-user.png', alt: 'Show user' %></p>
  </li>

</ul>
