---
title: Countries
layout: guide_simple
parent: guide
category: management
slug: countries
---

<p>The <em>Countries</em> module is the foundation of the <em>Addresses</em> module. To allow the creation of addresses from non-USA countries, one first must activate the respective country.</p>

<p>The list of Countries is fixed.</p>
<p><img src="https://assets.titleleaf.com/guide/titleleaf-countries.png" alt="Countries, Index" /></p>

<p class="block-notice">To add a country to the list, please open a support ticket.</p>

<p>By activating a country, one is, in effect, agreeing to ship orders to said country.</p>
<p><img src="https://assets.titleleaf.com/guide/titleleaf-countries-active.png" alt="Countries, Edit, Activate" /></p>
