---
title: Change Log
layout: legal
---

<style>
  dl {
    display: block;
    margin: 2rem 0 0 0;
  }
  dt {
    display: block;
    margin: 2rem 0 0 0;
  }
</style>

<div class="row">
  <div class="col-full">

    <p>A brief history of the TitleLeaf application.</p>

    <dl>

      <dt>2025-10-20</dt>
      <dd>Add setting to make purchase order number requirement optional.</dd>

      <dt>2025-10-15</dt>
      <dd>Allow guest checkout.</dd>

      <dt>2025-09-11</dt>
      <dd>Allow admin users to specify multiple series in one search request.</dd>
      <dd>Prohibit guests from viewing excerpts.</dd>

      <dt>2025-08-29</dt>
      <dd>Allow manager to delete channel rules.</dd>
      <dd>Allow manager to delete distribution groups.</dd>

      <dt>2025-08-01</dt>
      <dd>Support Stipe Elements payment solution.</dd>
      <dd>Support Authorize.net Accept.js payment solution.</dd>

      <dt>2025-07-20</dt>
      <dd>Add Brands module.</dd>

      <dt>2025-07-01</dt>
      <dd>Allow login via username.</dd>

      <dt>2025-06-01</dt>
      <dd>Add "Allow Blank Values?" checkbox to new ingestion form.</dd>

      <dt>2025-05-15</dt>
      <dd>Add "Show Recent" link to admin modules.</dd>

      <dt>2025-02-02</dt>
      <dd>Add accessibility_codes to Product Formats module.</dd>

      <dt>2024-10-05</dt>
      <dd>Support automated ingestion via third-party cloud solution.</dd>

      <dt>2024-07-16</dt>
      <dd>Add Merchandising Themes module.</dd>

      <dt>2024-06-14</dt>
      <dd>Add review quotes to ONIX 3 package.</dd>
      <dd>Add table of contents to ONIX 2 and ONIX 3 packages.</dd>
      <dd>Add 'Message' to Discount modules.</dd>

      <dt>2024-06-04</dt>
      <dd>Add 'Spam?' to the Contact module.</dd>
      <dd>Add 'Spam?' to the Catalog Request module.</dd>

      <dt>2024-06-01</dt>
      <dd>Update Google ReCaptcha to version 3 (from version 2).</dd>
      <dd>Add setting to adjust captcha protection level.</dd>

      <dt>2024-05-25</dt>
      <dd>Add ability to cancel all distributions associated with a given distribution template.</dd>

      <dt>2024-05-20</dt>
      <dd>Add ability for user to upload tax certificate after order submission.</dd>

      <dt>2024-04-01</dt>
      <dd>Add functionality to bulk delete product and product format assets.</dd>

      <dt>2024-03-01</dt>
      <dd>Add shareable package link to distribution notification if destination not defined.</dd>

      <dt>2024-02-10</dt>
      <dd>Add ability to restrict channels to select publishers and imprints.</dd>

      <dt>2024-02-05</dt>
      <dd>Add Thema Subjects module.</dd>

      <dt>2023-01-25</dt>
      <dd>Add shareable link to packages.</dd>

      <dt>2023-12-12</dt>
      <dd>Add review source to advanced search.</dd>

      <dt>2023-11-23</dt>
      <dd>Add award name to advanced search.</dd>

      <dt>2023-11-10</dt>
      <dd>Add 'City of Publication' to the Product module.</dd>
      <dd>Add 'Country of Publication' to the Product module.</dd>
      <dd>Remove 'City of Publication' from Configuration.</dd>
      <dd>Remove 'Country of Publication' from Configuration.</dd>

      <dt>2023-11-01</dt>
      <dd>Add 'Harmonized System Code' to the Product Format module.</dd>
      <dd>Add 'Country of Manufacture' to the Product Format module.</dd>

      <dt>2023-03-01</dt>
      <dd>Add Imprints module.</dd>

      <dt>2023-01-21</dt>
      <dd>Add 'Title without Prefix' to the Product module.</dd>

      <dt>2022-12-06</dt>
      <dd>Add dewey value validation.</dd>

      <dt>2022-11-01</dt>
      <dd>Control if shipping is taxed on the postal code level.</dd>

      <dt>2022-10-25</dt>
      <dd>Add copy-to-clipboard option to search results.</dd>

      <dt>2022-10-03</dt>
      <dd>Add 'Series/Volume/Part Number' field to the Product module.</dd>

      <dt>2022-09-17</dt>
      <dd>Allow visitors to navigate the BISAC hierarchy.</dd>

      <dt>2022-08-20</dt>
      <dd>Add 'Viewer URL' and 'Embed Code' fields to the Download module.</dd>

      <dt>2022-07-15</dt>
      <dd>Add Classification module.</dd>

      <dt>2022-06-20</dt>
      <dd>Add 'Expected Date' field to the Product Format module representing the date on which an out-of-stock item is expected to be back-in-stock.</dd>

      <dt>2022-05-10</dt>
      <dd>Add field to store product name in translated language.</dd>
      <dd>Add 'translated' relation between products.</dd>

      <dt>2022-04-18</dt>
      <dd>Add headlines ingestion template.</dd>

      <dt>2022-04-17</dt>
      <dd>Add settings to use Title image for Set products always or just as fallback (if Set image missing).</dd>
      <dd>Add setting to control the visibility of ancillary records (eg, Subjects, Contributors) created during the ingestion of the products template.</dd>

      <dt>2022-04-01</dt>
      <dd>Allow import of HTML file to create/update custom pages.</dd>
      <dd>Bug Fix: Prohibit admin users from masquerading as unconfirmed or locked users.</dd>

      <dt>2021-03-13</dt>
      <dd>Add position field to the Handouts module, used to sort handouts for a given teaching guide.</dd>

      <dt>2021-01-28</dt>
      <dd>Restrict discount with usage limit. In effect, a discount can be limited to a specific number of orders.</dd>
      <dd>Restrict discount with user's order count limit. In effect, a discount can be limited to first-time buyers.</dd>

      <dt>2021-01-20</dt>
      <dd>Link custom pages to Google Sheets so admin users can update pages by editing a spreadsheet instead of dealing with HTML/Textile markup.</dd>

      <dt>2021-01-14</dt>
      <dd>Add fixed-price discounts (ie, all qualifying line items will be discounted such that the effective unit price is a fixed value)</dd>

      <dt>2021-01-01</dt>
      <dd>Restrict discounts to products matching a saved search</dd>
      <dd>Add tiered discounts (ie, via on discount code, offer multiple discount amounts based on cart subtotal or title count)</dd>

      <dt>2020-12-18</dt>
      <dd>Automate delivery of abandoned cart emails</dd>

      <dt>2020-12-01</dt>
      <dd>Add 'order submitted' event to Notifications module.</dd>

      <dt>2020-11-20</dt>
      <dd>Support data distribution in ONIX 3 format.</dd>

      <dt>2020-10-01</dt>
      <dd>Assign products by ISBN in admin UI.</dd>

      <dt>2020-09-01</dt>
      <dd>Add Preview module.</dd>

      <dt>2020-08-01</dt>
      <dd>Provide limited-time access to select hosted ebooks per customer, convert to sales.</dd>

      <dt>2020-07-01</dt>
      <dd>Allow admin users to troubleshoot as a specific customer.</dd>

      <dt>2020-03-01</dt>
      <dd>Use TitleLeaf without the e-commerce front-end for asset management and distribution purposes.</dd>

      <dt>2020-01-01</dt>
      <dd>Host multiple sites from one database using the Multi-Store feature.</dd>

      <dt>2019-05-15</dt>
      <dd>New admin interface featuring an updated dashboard and responsive design.</dd>

      <dt>2019-05-05</dt>
      <dd>Support ingestion of tags via the "products" template.</dd>

      <dt>2019-04-31</dt>
      <dd>Allow tag management through admin interface.</dd>

      <dt>2019-03-20</dt>
      <dd>Add settings to clear specific tables prior to ingestion.</dd>

      <dt>2019-02-28</dt>
      <dd>Track user responsible for order status changes.</dd>

      <dt>2019-01-15</dt>
      <dd>Integration with Stripe API for customer creation and credit card retention.</dd>

      <dt>2018-11-01</dt>
      <dd>Allow backorder of temporarily out-of-stock products.</dd>

      <dt>2018-10-01</dt>
      <dd>Shipping rates module to allow rates to change per user, per postal code, per state, per country.</dd>

      <dt>2018-09-01</dt>
      <dd>Allow preorder of products.</dd>

      <dt>2018-08-01</dt>
      <dd>FontAwesome 5 support.</dd>

      <dt>2018-07-01</dt>
      <dd>Multiple carts. Switch carts from product pages.</dd>

      <dt>2018-03-01</dt>
      <dd>De-dupe cart or list via collection analysis.</dd>

      <dt>2018-02-01</dt>
      <dd>Support for Stripe credit card processing.</dd>

      <dt>2017-07-25</dt>
      <dd>Allow admin to edit cart items.</dd>

      <dt>2017-07-15</dt>
      <dd>Support ingestion and distribution of MP3 audio files.</dd>

      <dt>2017-06-30</dt>
      <dd>Allow registered users to have multiple wish lists.</dd>

      <dt>2017-02-26</dt>
      <dd>Pre-orders: Allow visitors to purchase products that within a certain number of days to the release date.</dd>

      <dt>2017-01-31</dt>
      <dd>Tiered discounts: Create multiple discounts with the same promotional code. When certain criteria are met, the appropriate discount will be applied.</dd>

      <dt>2016-10-31</dt>
      <dd>A products field has been added to the custom page module. This allows publishers to highlight products on pages they create with HTML or Textile.</dd>

      <dt>2016-07-23</dt>
      <dd>Subjects can be nested under other subjects to create a tree-like structure for navigating.</dd>

      <dt>2016-03-29</dt>
      <dd>Abandoned cart notifications.</dd>
      <dd>Send reminder to users of abandoned carts urging them to complete their order.</dd>

      <dt>2016-03-17</dt>
      <dd>Google ReCaptcha.</dd>
      <dd>An improved method to stop spam bots from submitting forms within the site.</dd>

      <dt>2016-03-10</dt>
      <dd>Collection analysis reports.</dd>
      <dd>Added module to allow users to upload MARC records. TitleLeaf will analyze the records and present a report indicating products to buy.</dd>

      <dt>2016-01-24</dt>
      <dd>Liquid templates.</dd>
      <dd>Updated BISACs to 2015 edition.</dd>

      <dt>2016-01-10</dt>
      <dd>Product tags.</dd>

      <dt>2015-12-15</dt>
      <dd>Enhanced multiple-select fields using jQuery.</dd>

      <dt>2015-12-11</dt>
      <dd>Define start dates for Spring and Fall publishing seasons.</dd>

      <dt>2015-11-27</dt>
      <dd>Add tag field to Product.</dd>

      <dt>2015-10-20</dt>
      <dd>Enhanced quote functionality. Library processing specification, billing address and shipping address can be saved with quote. Estimate of processing and shipping costs included in total.</dd>

      <dt>2015-10-10</dt>
      <dd>Enable/disable the sharing of quotes with others via a tokenized link.</dd>

      <dt>2015-09-28</dt>
      <dd>Support FTPS protocol as a distribution destination.</dd>
      <dd>Support ebook distributions to <a href="https://www.biguniverse.com">Big Universe</a></dd>
      <dd>Support ebook distributions to TotalBoox</dd>

      <dt>2015-08-17</dt>
      <dd>Expand acceptable values for product genres and features.</dd>

      <dt>2015-07-15</dt>
      <dd>Support ebook distributions to <a href="https://www.renaissance.com">Renaissance Learning</a>
      </dd>

      <dt>2015-05-20</dt>
      <dd>Support ebook distributions to <a href="https://www.hoopladigital.com/">Hoopla</a>
      </dd>

      <dt>2015-05-04</dt>
      <dd>Support data distributions to <a href="https://www.edelweiss.plus/">Edelweiss</a>
      </dd>

      <dt>2015-04-27</dt>
      <dd>Support ebook distributions to <a href="https://www.kaeden.com">Kaeden</a>
      </dd>

      <dt>2015-03-23</dt>
      <dd>Introduce country-specific shipping settings: free shipping threshold, shipping cost minimum, shipping cost maximum.</dd>

      <dt>2015-03-15</dt>
      <dd>Offering full-text search functionality via <a href="https://www.elastic.co/products/elasticsearch">Elasticsearch</a>! Supports <a href="https://en.wikipedia.org/wiki/Approximate_string_matching">fuzzy searches</a> among <em>many</em> other things.</dd>

      <dt>2015-03-01</dt>
      <dd>Update K12Buy template to v14.5</dd>

      <dt>2015-02-27</dt>
      <dd>Accept orders from designated countries of your choice via the admin.</dd>

      <dt>2015-02-15</dt>
      <dd>Option to retrieve data from the <a href="https://catalog.loc.gov">Library of Congress</a> for upcoming books.</dd>

      <dt>2015-01-27</dt>
      <dd>Support ebook distributions to <a href="https://play.google.com/">Google Play</a>
      </dd>

      <dt>2015-01-08</dt>
      <dd>Specify sales rights on the product format level.</dd>

      <dt>2014-12-29</dt>
      <dd>Support ebook distributions to <a href="https://www.biblioboard.com">Biblioboard</a>
      </dd>

      <dt>2014-12-05</dt>
      <dd>Add file count to distribution mailers.</dd>

      <dt>2014-11-21</dt>
      <dd>Support ebook distributions to <a href="https://www.getepic.com">Epic!</a>
      </dd>

      <dt>2014-11-13</dt>
      <dd>Add QR code support to library specifications.</dd>

      <dt>2014-10-10</dt>
      <dd>Add product count minimum to bundles.</dd>

      <dt>2014-09-25</dt>
      <dd>Add publishers model, controller, and views.</dd>

      <dt>2014-09-21</dt>
      <dd>Add subtotal minimum to bundles.</dd>
      <dd>Add Hardcover + Ebook format.</dd>

      <dt>2014-09-18</dt>
      <dd>Allow admin to confirm user in the event that they didn't receive confirmation email.</dd>

      <dt>2014-08-18</dt>
      <dd>Export quote as PDF.</dd>

      <dt>2014-08-17</dt>
      <dd>Admin access to quotes.</dd>

      <dt>2014-08-16</dt>
      <dd>Offer free processing when cart subtotal exceeds threshold.</dd>

      <dt>2014-08-14</dt>
      <dd>Optionally password protect custom pages.</dd>

      <dt>2014-08-12</dt>
      <dd>Add Escue template to the distribution module.</dd>

      <dt>2014-07-27</dt>
      <dd>Generate sitemap.xml on a weekly basis.</dd>

      <dt>2014-07-27</dt>
      <dd>Add subtotal minimum to coupons.</dd>

      <dt>2014-06-25</dt>
      <dd>Customizable library processing specifications.</dd>

      <dt>2014-06-10</dt>
      <dd>I18n support.</dd>

      <dt>2014-05-28</dt>
      <dd>Add distribution date to distribution groups.</dd>

      <dt>2014-02-25</dt>
      <dd>Associate products to Common Core State Standards.</dd>

      <dt>2014-02-04</dt>
      <dd>Add DropBox support to distribution module.</dd>

      <dt>2014-01-05</dt>
      <dd>Add configuration setting to control if browsing is be set or title.</dd>

      <dt>2013-09-23</dt>
      <dd>Allow user to save search criteria.</dd>

      <dt>2013-08-08</dt>
      <dd>Support back cover images.</dd>

      <dt>2013-05-04</dt>
      <dd>Add ingestion module.</dd>

      <dt>2013-01-01</dt>
      <dd>Add distribution module.</dd>

      <dt>2012-03-21</dt>
      <dd>Revamped admin interface.</dd>

      <dt>2012-01-28</dt>
      <dd>Integrate with Facebook.</dd>

      <dt>2012-01-26</dt>
      <dd>Add Teaching Guides module.</dd>

      <dt>2011-03-01</dt>
      <dd>Upgrade to Rails 3.</dd>

      <dt>2010-03-01</dt>
      <dd>Add spam protection to contact form.</dd>

      <dt>2009-06-13</dt>
      <dd>Support downloadable products.</dd>

      <dt>2009-04-15</dt>
      <dd>Connect to Campaign Monitor subscription list.</dd>

      <dt>2008-06-19</dt>
      <dd>Connect to Google Analytics.</dd>

      <dt>2007-07-31</dt>
      <dd>Initial release.</dd>
    </dl>

  </div>
</div>
