---
title: Contact
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <h1>Contact</h1>
      <p>
        Interested in improving your online business?
        Intrigued by the TitleLeaf platform?
        Get in touch with us by submitting the form below or by
        <%= schedule_link %>
      </p>
    </div>
    <div class="col-right" style="line-height: 0;">
      <%= image_tag 'splash-contact.png' %>
    </div>
  </div>
</section>

<section id="content">
  <div class="row">
    <div class="col-left">

      <p class="block-notice">
        Prefer to talk? Feel free to
        <%= schedule_link name: "schedule a meeting" %>.
      </p>

      <p class="block-notice">
        Are you a current client? If so, please use the
        <%= support_link name: "online help desk" %>.
      </p>

      <form name="contact" method="POST" data-netlify="true">

        <div class="field">
          <label for="contact_name" class="required">Name</label>
          <input class="text" id="contact_name" name="name" placeholder="Name" required="required" size="30" type="text">
        </div>

        <div class="field">
          <label for="contact_email" class="required">Email</label>
          <input class="text email" id="contact_email" name="email" placeholder="Email" required="required" size="30" type="email">
        </div>

        <div class="field">
          <label for="contact_phone">Phone</label>
          <input class="text phone" id="contact_phone" name="phone" placeholder="Phone" size="30" type="text">
        </div>

        <div class="field">
          <label for="contact_message" class="required">Message</label>
          <textarea cols="40" id="contact_message" name="message" placeholder="Message" required="required" rows="10"></textarea>
        </div>

        <div class="actions">
          <button type="submit">Send message</button>
          <a href="/privacy-policy" style="padding-left: 1em; font-size: 80%;">We value your privacy</a>
        </div>

      </form>

    </div>
  </div>
</section>
