---
title: Contact
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <h1>Pricing</h1>
      <p>
        To launch your online e-commerce business with TitleLeaf,
        you will need to select a one-time setup arrangement
        and a monthly subscription plan.
      </p>
    </div>
    <div class="col-right" style="line-height: 0;">
      <%= image_tag 'splash-pricing.png' %>
    </div>
  </div>
</section>

<section id="content">
  <div class="row">
    <div class="col-left">

      <p>
        Submit the following form to select a TitleLeaf
        <%= setup_link name: "setup" %> and
        <%= pricing_link name: "subscription plan" %>.
      </p>

      <form name="subscription" method="POST" data-netlify="true">

        <div class="field">
          <label for="contact_name" class="required">Name</label>
          <input class="text" id="contact_name" name="name" placeholder="Name" required="required" size="30" type="text">
        </div>

        <div class="field">
          <label for="contact_email" class="required">Email</label>
          <input class="text email" id="contact_email" name="email" placeholder="Email" required="required" size="30" type="email">
        </div>

        <div class="field">
          <label for="contact_setup_plan" class="required">One-Time Setup Plan</label>
          <select id="contact_setup_plan" name="setup_plan" required="required">
            <option value="">-- Select --</option>
            <option value="cost-cutter">Cost-Cutter ($4999)</option>
            <option value="self-starter">Self-Starter ($9999)</option>
            <option value="collaborative">Collaborative ($14999)</option>
            <option value="full-service">Full-Service ($19999)</option>
          </select>
        </div>

        <div class="field">
          <label for="contact_subscription_plan" class="required">Monthly Subscription Plan</label>
          <select id="contact_subscription_plan" name="subscription_plan" required="required">
            <option value="">-- Select --</option>
            <option value="15-gb">15 GB ($99/month)</option>
            <option value="30-gb">30 GB ($199/month)</option>
            <option value="60-gb">60 GB ($299/month)</option>
            <option value="100-gb">100 GB ($399/month)</option>
            <option value="200-gb">200 GB ($499/month)</option>
            <option value="300-gb">300 GB ($599/month)</option>
          </select>
        </div>

        <div class="actions">
          <button type="submit">Send request</button>
          <a href="/privacy-policy" style="padding-left: 1em; font-size: 80%;">We value your privacy</a>
        </div>

      </form>

    </div>
  </div>
</section>
