---
title: Pricing per Module
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <h1>Custom Plans</h1>
      <p>
        Standard subscription plans include E-commerce by default.
        Custom plans mix-and-match modules per your specific needs.
      </p>
    </div>
    <div class="col-right" style="line-height: 0;">
      <%= image_tag 'splash-pricing.png' %>
    </div>
  </div>
</section>

<section id="content">
  <div class="row">
    <div class="col-full">
      <p>
        If you would like to use TitleLeaf for export and distribution purposes
        only (ie, no e-commerce), the one-time setup fee is waived. Pricing is
        dictated by storage space needed. If, as your catalog expands, you
        exceed your allotted file storage, you will be notified before being
        upgraded (pro rata) to a larger plan.
      </p>
    </div>
  </div>

  <div class="row" style="margin-bottom:0;">
    <div class="col-full subscription-plans">

    <table>
      <tr>
        <th class="plans"></th>
        <th class="prices">
          5 GB
        </th>
        <th class="prices">
          15 GB
        </th>
        <th class="prices">
          30 GB
        </th>
        <th class="prices">
          60 GB
        </th>
        <th class="prices">
          100 GB
        </th>
      </tr>
      <tr>
        <th class="plans">
          E-commerce
        </th>
        <td>
          $50
        </td>
        <td>
          $100
        </td>
        <td>
          $150
        </td>
        <td>
          $200
        </td>
        <td>
          $250
        </td>
      </tr>
      <tr class="even">
        <th class="plans">
          E-commerce + Export
        </th>
        <td>
          $125
        </td>
        <td>
          $175
        </td>
        <td>
          $225
        </td>
        <td>
          $275
        </td>
        <td>
          $325
        </td>
      </tr>
      <tr>
        <th class="plans">
          Export + Distribution
        </th>
        <td>
          $150
        </td>
        <td>
          $200
        </td>
        <td>
          $250
        </td>
        <td>
          $300
        </td>
        <td>
          $350
        </td>
      </tr>
      <tr class="even">
        <th class="plans">
          E-commerce + Export + Distribution
        </th>
        <td>
          $200
        </td>
        <td>
          $250
        </td>
        <td>
          $350
        </td>
        <td>
          $450
        </td>
        <td>
          $500
        </td>
      </tr>
    </table>

    </div>
  </div>

  <div class="row" style="margin:0;">
    <div class="col-full" style="text-align:left;">
      <%= link_to 'â† Standard plans', '/pricing', style: 'color:#999; font-size:82%;' %>
    </div>
  </div>

  <div class="row">
    <div class="col-left">
      <h4>Module Details</h4>
      <ul class="checked">
        <li>
          <b>E-commerce module.</b>
          A public-facing website for online sales. Requires a one-time setup arrangement.
        </li>
        <li>
          <b>Export module.</b>
          Access ONIX and 50+ other export templates.
        </li>
        <li>
          <b>Export + Distribution module.</b>
          Export data using all templates and automate distribution to partners.
        </li>
      </ul>
    </div>
  </div>

  <%= partial 'partials/faqs_link' %>

</section>
