---
title: Examples
---

<section id="content">
  <div class="row" style="text-align: left;">
    <div class="item">
      <h1>Examples</h1>
      <p>Sites recently launched on TitleLeaf.</p>
    </div>
  </div>
  <div class="row">
    <div class="item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/images/examples/childsworld.jpg" alt="The Child's World, Inc." \>
          </div>
          <div class="flip-card-back">
            <div>
              <h3>The Child's World, Inc.</h3>
              <p class="meta">July 2022</p>
              <p>
                The Child’s World has been a longterm client. This most recent project was to update the user interface to match its new corporate identity.
              </p>
              <p class="external">
                <a href="https://childsworld.com" class="button" rel="external">
                  Visit Site →
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/images/examples/cherrygroup.jpg" alt="Cherry Lake Publishing Group" \>
          </div>
          <div class="flip-card-back">
            <div>
              <h3>Cherry Lake Publishing Group</h3>
              <p class="meta">May 2020</p>
              <p>
                Empowered by TitleLeaf's Multi-Store module, Cherry Lake manages five sites from one database. Each imprint site conveys its unique message while customer service enjoys the simplicity of one administrative interface.
              </p>
              <p class="external">
                <a href="https://cherrylakepublishing.com" class="button" rel="external">
                  Visit Site →
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/images/examples/kscope.jpg" alt="Kaleidoscope Publishing, Inc." \>
          </div>
          <div class="flip-card-back">
            <div>
              <h3>Kaleidoscope Publishing</h3>
              <p class="meta">September 2019</p>
              <p>
                Based on a positive experience with several other sites, Bellwether Media proposed another site, this time for an imprint.
              </p>
              <p class="external">
                <a href="https://kscopebooks.com" class="button" rel="external">
                  Visit Site →
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/images/examples/budgetsaver.jpg" alt="Budget Saver Books" \>
          </div>
          <div class="flip-card-back">
            <div>
              <h3>Budget Saver Books</h3>
              <p class="meta">July 2019</p>
              <p>
                Abdo Publishing repurposed the design of an imprint site to create Budget Saver Books.
              </p>
              <p class="external">
                <a href="https://budgetsaverbooks.com" class="button" rel="external">
                  Visit Site →
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/images/examples/picnic.jpg" alt="Picnic Education, Inc." \>
          </div>
          <div class="flip-card-back">
            <div>
              <h3>Picnic Education</h3>
              <p class="meta">June 2019</p>
              <p>
                A collaboration between Picnic Education and Lerner Publishing.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/images/examples/jump.jpg" alt="Jump! Inc." \>
          </div>
          <div class="flip-card-back">
            <div>
              <h3>Jump!, Inc.</h3>
              <p class="meta">April 2019</p>
              <p>
                Based on a positive experience with BrainStorm Library, Jump! Inc. choose to expand the relationship to encompass their flagship site.
              </p>
              <p class="external">
                <a href="https://jumplibrary.com" class="button" rel="external">
                  Visit Site →
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/images/examples/bellwether.jpg" alt="Bellwether Media" \>
          </div>
          <div class="flip-card-back">
            <div>
              <h3>Bellwether Media</h3>
              <p class="meta">June 2019</p>
              <p>
                Based on a positive experience with BrainStorm Library, Bellwether Media choose to expand the relationship to encompass their flagship site.
              </p>
              <p class="external">
                <a href="https://bellwethermedia.com" class="button" rel="external">
                  Visit Site →
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/images/examples/brainstorm.jpg" alt="Brainstorm Library" \>
          </div>
          <div class="flip-card-back">
            <div>
              <h3>BrainStorm Library</h3>
              <p class="meta">April 2019</p>
              <p>
                BrainStorm Library is a joint venture of Bellwether Media and Jump! Inc. They were interested in TitleLeaf for its distribution capabilities and reliable service.
              </p>
              <p class="external">
                <a href="https://brainstormlibrary.com" class="button" rel="external">
                  Visit Site →
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/images/examples/lerner.jpg" alt="Lerner Publishing Group" \>
          </div>
          <div class="flip-card-back">
            <div>
              <h3>Lerner Publishing Group</h3>
              <p class="meta">June 2018</p>
              <p>
                Lerner Publishing Group chose TitleLeaf for its ability to import pre-existing product data in ONIX format and for its flexible client support.
              </p>
              <p class="external">
                <a href="https://lernerbooks.com" class="button" rel="external">
                  Visit Site →
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/images/examples/applebks.jpg" alt="Apple Books" \>
          </div>
          <div class="flip-card-back">
            <div>
              <h3>Apple Books</h3>
              <p class="meta">September 2016</p>
              <p>
                Apple Books is using TitleLeaf to streamline interaction between sales representatives and their school/library customers.
              </p>
              <p class="external">
                <a href="https://applebks.com" class="button" rel="external">
                  Visit Site →
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/images/examples/riverstream.jpg" alt="RiverStream Publishing" \>
          </div>
          <div class="flip-card-back">
            <div>
              <h3>RiverStream Publishing</h3>
              <p class="meta">April 2017</p>
              <p>
                RiverStream Publishing is using TitleLeaf to present their company and products to their classroom customers.
              </p>
              <p class="external">
                <a href="https://riverstreampublishing.net" class="button" rel="external">
                  Visit Site →
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/images/examples/delaney.jpg" alt="Delaney Educational Enterprises" title="Site no longer available" \>
          </div>
          <div class="flip-card-back">
            <div>
              <h3>Delaney Educational Enterprises</h3>
              <p class="meta">September 2016</p>
              <p>
                Delaney Educational Enterprises is using TitleLeaf to empower their sales force.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/images/examples/epicpress.jpg" alt="EPIC Press" title="Site no longer available" \>
          </div>
          <div class="flip-card-back">
            <div>
              <h3>EPIC Press</h3>
              <p class="meta">May 2015</p>
              <p>
                EPIC Press is a sister company to ABDO Publishing. Based on ABDO's positive experience with TitleLeaf, EPIC Press came directly to us for an ecommerce website.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/images/examples/jappleseed.jpg" alt="J. Appleseed Media" \>
          </div>
          <div class="flip-card-back">
            <div>
              <h3>J. Appleseed Media</h3>
              <p class="meta">September 2015</p>
              <p>
                J. Appleseed is using TitleLeaf to streamline interaction between sales representatives and their school/library customers.
              </p>
              <p class="external">
                <a href="https://jappleseedmedia.com" class="button" rel="external">
                  Visit Site →
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/images/examples/abdopub.jpg" alt="ABDO Publishing" \>
          </div>
          <div class="flip-card-back">
            <div>
              <h3>ABDO Publishing</h3>
              <p class="meta">July 2014</p>
              <p>
                After testing a WordPress ecommerce solution, Abdo Publishing decided an application built for the unique needs of publishers was more appropriate.
              </p>
              <p class="external">
                <a href="https://abdobooks.com" class="button" rel="external">
                  Visit Site →
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/images/examples/bearport.jpg" alt="Bearport Publishing" \>
          </div>
          <div class="flip-card-back">
            <div>
              <h3>Bearport Publishing</h3>
              <p class="meta">August 2015</p>
              <p>
                Bearport Publishing wanted to avoid the big upgrade expense associated with CyberWolf's PowerWeb solution. TitleLeaf fit the bill.
              </p>
              <p class="external">
                <a href="https://bearportpublishing.com" class="button" rel="external">
                  Visit Site →
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/images/examples/midamerica.jpg" alt="MidAmerica Books" \>
          </div>
          <div class="flip-card-back">
            <div>
              <h3>MidAmerica Books</h3>
              <p class="meta">October 2014</p>
              <p>
                MidAmerica Books chose TitleLeaf considering it’s long-standing history and custom features that address their book preview business model.
              </p>
              <p class="external">
                <a href="https://midamericabooks.com" class="button" rel="external">
                  Visit Site →
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
