---
title: Features
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <h1>Features</h1>
      <p>
        Offered as a software-as-a-service solution,
        TitleLeaf is being continually refined and enhanced.
        A recent addition is <strong>Collection Analysis Reporting</strong>.
      </p>
    </div>
    <div class="col-right" style="line-height: 0;">
      <%= image_tag 'splash-features.png', alt: 'E-commerce tailored to the unique needs of book publishers' %>
    </div>
  </div>
</section>

<section id="content">
  <div class="row">
    <div class="item">
      <h3><em class="fi-page-multiple"></em> Multiple Formats</h3>
      <p>Today’s publisher sells an individual title in numerous formats, be it Hardcover, Paperback, Epub, KF8, Epib, PDF, etc. TitleLeaf makes it easy to do so from one product page.</p>
    </div>
    <div class="item">
      <h3><em class="fi-monitor"></em> ONIX Support</h3>
      <p>The TitleLeaf database architecture is closely aligned to the BISG ONIX standard. This enables the publisher to more easily interact with ONIX standard-compliant wholesalers and distributors.</p>
    </div>
    <div class="item">
      <h3><em class="fi-eye"></em> Book Excerpts</h3>
      <p>Excerpts are TitleLeaf's analogy to Amazon’s “Look Inside the Book” functionality. It allows potential customers to sample titles online. The publisher controls the amount of pages provided in the excerpt.</p>
    </div>
  </div>
  <div class="row">
    <div class="item">
      <h3><em class="fi-shuffle"></em> Standards Alignment</h3>
      <p>BISAC data and Common Core Standard data are integrated into the database. Easily align your products to these lists.</p>
    </div>
    <div class="item">
      <h3><em class="fi-bookmark"></em> Library Processing</h3>
      <p>TitleLeaf allows customers to manage multiple library processing specifications. On checkout, the customer can choose which specification to utilize, if any at all.</p>
    </div>
    <div class="item">
      <h3><em class="fi-plus"></em> Add by ISBN</h3>
      <p>Add multiple products to the shopping cart at once by submitting a comma-separated string of ISBNs.</p>
    </div>
  </div>
  <div class="row">
    <div class="item">
      <h3><em class="fi-shopping-cart"></em> QuickShop</h3>
      <p>One interface to quickly navigate content and add to shopping cart.</p>
    </div>
    <div class="item">
      <h3><em class="fi-paperclip"></em> Quotes</h3>
      <p>Save groups of products, then export in a spreadsheet compliant format.</p>
    </div>
    <div class="item">
      <h3><em class="fi-save"></em> Save for Later</h3>
      <p>Move items from the shopping cart to a saved list.</p>
    </div>
  </div>
  <div class="row">
    <div class="item">
      <h3><em class="fi-link"></em> Book Links</h3>
      <p>Printing URLs (aka links) in books is a risky venture. Websites can be shutdown meaning the links are no longer valid. TitleLeaf addresses the situation by storing this bibliographic information in it's database. The application regularly validates the links. As a result, you don't need to manually do so; you simply search the database for broken links.</p>
    </div>
    <div class="item">
      <h3><em class="fi-page-edit"></em> Book Errata</h3>
      <p>Errors inevitably occur. Provide a common interface for customers and employees to submit and track errata. Having a central repository eases the process of reprinting.</p>
    </div>
    <div class="item">
      <h3><em class="fi-torsos"></em> Customer Categories</h3>
      <p>By default, TitleLeaf allows publisher’s to categorize their customers as Individual, School, Library, Wholesaler or Reseller. Other categories can be quickly added. Customer lists can be exported, including data such as location, purchase history, and more.</p>
    </div>
  </div>
  <div class="row">
    <div class="item">
      <h3><em class="fi-info"></em> Teaching Guides &amp; Activities</h3>
      <p>Associate downloadable guides and activities to your books. The files are accessible from the product page or from the general teaching guides page.</p>
    </div>
    <div class="item">
      <h3><em class="fi-folder"></em> Series vs. Sets</h3>
      <p>TitleLeaf supports the array of manners that publishers organize their products. Subject, age, grade, series, set -- it's covered out-of-the-box.</p>
    </div>
    <div class="item">
      <h3><em class="fi-burst-sale"></em> Discount Code Module</h3>
      <p>Create discount codes and coupons to help promote your products. Offer coupon codes that save customers a monetary amount or a percentage amount.</p>
    </div>
  </div>
  <div class="row">
    <div class="item">
      <h3><em class="fi-html5"></em> Flexible Web Design</h3>
      <p>We will work with a designer of your choice or assign one of our internal designers to create a look that you love. No HTML or CSS is off-limits. You have complete control. Contact us for a full portfolio of client designs.</p>
    </div>
    <div class="item">
      <h3><em class="fi-graph-trend"></em> Advanced Store Statistics</h3>
      <p>TitleLeaf integrates Google Analytics to assist you in keeping track of your web sales and progress over time. Benchmarking your website's performance helps you make great choices for your business, leading to more and more sales.</p>
    </div>
    <div class="item">
      <h3><em class="fi-widget"></em> Search Engine Optimization</h3>
      <p>Potential customers must be able to find your store using search engines. With an SEO friendly CMS, TitleLeaf supports best practices like customizable H1, title and meta tags.</p>
    </div>
  </div>
  <div class="row">
    <div class="item">
      <h3><em class="fi-graph-pie"></em> Collection Analysis</h3>
      <p>Allow registered users to upload MARC records. TitleLeaf will analyze the records and present a report to help users assess their library collection and to make decisions about purchases and weeding.</p>
    </div>
    <div class="item">
      <h3><em class="fi-magnifying-glass"></em> Fuzzy Search</h3>
      <p>If a user misspells a search term, TitleLeaf will still understand. Fuzzy search is a process that locates products that are likely to be relevant to a search argument even when the argument does not exactly correspond to the desired information.</p>
    </div>
    <div class="item">
      <h3><em class="fi-shopping-cart"></em> Abandoned Cart Notifications</h3>
      <p>Send reminder to users of abandoned carts urging them to complete their order.</p>
    </div>
  </div>
</section>
