---
title: Guide
layout: guide
---

<div class="row title">
  <div class="col-full">
    <h1>Getting started</h1>
    <h3 class="subheader">
      TitleLeaf is the application on which your website runs.
      The following information is provided to quickly assist you in
      managing your website. More in-depth instructions can be found
      by consulting the <%= wiki_link name: "support articles" %>.
    </h3>
  </div>
</div>

<div class="row no-margin"><hr class="full" /></div>

<div class="row">

  <div class="col-left">
    <h3>
      <a href="/guides/basics/create-an-account">Create an Account</a>
    </h3>
    <p>
      A standard user account allows you to change your profile
      and submit an order.
    </p>
    <p>
      <a href="/guides/basics/create-an-account" class="button small subdue">Create →</a>
    </p>
  </div>

  <div class="col-right">
    <h3>
      <a href="/guides/basics/access-admin-page">Access Admin Page</a>
    </h3>
    <p>
      Upon obtaining admin privileges from your site manager,
      you’ll be able to access the admin dashboard and various functionality
      thereunder to update and maintain your website.
    </p>
    <p>
      <a href="/guides/basics/access-admin-page" class="button small subdue">Admin →</a>
    </p>
  </div>

</div>

<div class="row no-margin"><hr class="full" /></div>

<div class="row">
  <div class="col-full">
    <h3>Obtaining Admin Access</h3>
    <p>
      Once you have a standard account, request admin privileges from the site
      manager within your organization.
    </p>

    <h3>Data Ingestion Templates</h3>
    <p>
      Templates are available via
      <%= templates_link 'Google Docs' %>.
    </p>
  </div>
</div>
