---
title: Guide
layout: guide
---

<div class="row">
  <div class="col-full">
    <h1>Getting started</h1>
    <h3 class="subheader">
      TitleLeaf is the application on which your website runs.
      The following information is provided to quickly assist you in
      managing your website. More in-depth instructions can be found
      by using the help desk widget in bottom right-hand corner of the page.
    </h3>
  </div>
</div>

<div class="row no-margin"><hr class="full" /></div>

<div class="row">

  <div class="col-left">
    <h3>
      <a href="/basics/create-an-account">Create an Account</a>
    </h3>
    <p>
      The first step is to create an account on your website.
      After doing so, contact your site administrator.
      He/she will provide you with admin privileges.
    </p>
    <p>
      <a href="/basics/create-an-account" class="button small subdue">Create →</a>
    </p>
  </div>

  <div class="col-right">
    <h3>
      <a href="/basics/access-admin-page">Access Admin Page</a>
    </h3>
    <p>
      Upon receiving admin privileges,
      you should again sign in to your account.
      Thereafter, you can access the admin page.
    </p>
    <p>
      <a href="/basics/access-admin-page" class="button small subdue">Admin →</a>
    </p>
  </div>

</div>

<div class="row no-margin"><hr class="full" /></div>

<div class="row">
  <div class="col-full">
    <h3>Obtaining Admin Access</h3>
    <p>
      You must have admin privileges to access the pages mentioned in this
      documentation. Contact <em>support [at] titleleaf [dot] com</em>
      if you are having difficulties accessing the admin pages.
    </p>

    <h3>Data Ingestion Templates</h3>
    <p>
      Templates are available via
      <a href="https://drive.google.com/folderview?id=0B5nSLzCVc941WEZFcmkteUhueFk&amp;usp=sharing#list">Google Docs</a>.
    </p>
  </div>
</div>
