---
title: Home
---

<section id="splash">
  <div class="row">
    <div class="item">
      <h1>E-commerce tailored to the unique needs of book publishers</h1>
    </div>
  </div>
  <div class="row" style="padding-top: 0;">
    <div class="item" style="line-height: 0;">
      <%= image_tag 'splash-home.png', alt: 'E-commerce tailored to the unique needs of book publishers' %>
    </div>
  </div>
</section>

<section id="content">
  <div class="row">
    <div class="item">
      <h3>Stop Retrofitting, Start Selling</h3>
      <p>Adjusting a generic e-commerce solution to address the needs of the publishing industry is time-consuming and not your team's strength. Focus on data quality and product message instead of trying to match the functionality of your competitor's sites.</p>
    </div>
  </div>
  <div class="row no-margin"><hr></div>
  <div class="row">
    <div class="item">
      <h3>Be True to Your Brand</h3>
      <p>Don't be shoe-horned into a visually-restrictive e-commerce application. TitleLeaf offers complete control over the look and feel of your site. Have an art director but not a team to code? We'll work side-by-side with your designers and editors to create a site that reflects your brand and your message.</p>
    </div>
  </div>
  <div class="row no-margin"><hr></div>
  <div class="row">
    <div class="item">
      <p>
        <%= link_to 'Features →', '/features.html', class: 'button' %>
        <%= link_to 'Examples →', '#', class: 'button' %>
      </p>
    </div>
  </div>
</section>
