---
title: Privacy Policy
layout: legal
---

<div class="row">
  <div class="col-full">
    <h1><%= current_page.data.title %></h1>
  </div>
</div>

<div class="row">
  <div class="col-full">

    <p>
      We respect your privacy. We do not market, rent or sell our email list to any outside parties.
    </p>

    <p>
      We request your e-mail address to ensure that the people using our forms are bona fide.
    </p>

    <p>
      Please email us at info [at] titleleaf [dot] com if you have any questions or concerns.
    </p>

  </div>
</div>
