---
title: Terms of Service
layout: legal
---

<div class="row">
  <div class="col-full">
    <h1><%= current_page.data.title %></h1>
  </div>
</div>

<div class="row">
  <div class="col-full">

    <p>TitleLeaf is a software-as-a-service solution. It provides an e-commerce storefront for book publishers and wholesalers.</p>

    <p>By signing up for the TitleLeaf service (“Service”) you are agreeing to be bound by the following terms and conditions (“Terms of Service”). Any new features or tools which are added to the current Service shall be also subject to the Terms of Service. TitleLeaf reserves the right to update and change the Terms of Service by posting updates and changes to the TitleLeaf website. You are advised to check the Terms of Service from time to time for any updates or changes that may impact you.</p>

    <h3>Account Terms</h3>

    <ul class="basic">
      <li>You must be 18 years or older to use this Service.</li>
      <li>You must provide your full legal name, current address, a valid email address, and any other information needed in order to complete the signup process.</li>
      <li>You are responsible for keeping your password secure. TitleLeaf cannot and will not be liable for any loss or damage from your failure to maintain the security of your account and password.</li>
      <li>You may not use the TitleLeaf service for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws) as well as the laws of the United States and the State of California.</li>
      <li>You are responsible for all activity and content (data, graphics, photos, links) that is uploaded under your TitleLeaf account.</li>
      <li>You may not use TitleLeaf as a CDN service for hosting assets and linking to those assets from other resources that you own.</li>
      <li>You must not transmit any worms or viruses or any code of a destructive nature.</li>
      <li>A breach or violation of any of the Account Terms as determined in the sole discretion of TitleLeaf will result in an immediate termination of your services.</li>
    </ul>

    <h3>General Conditions</h3>

    <p>You must read, agree with and accept all of the terms and conditions contained in this Agreement before you may become a member of TitleLeaf.</p>

    <ul class="basic">
      <li>Technical support is available to paying account holders through the TitleLeaf Client Support site only.</li>
      <li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by TitleLeaf.</li>
      <li>You shall not purchase search engine or other pay per click keywords (such as Google AdWords), or domain names that use TitleLeaf or TitleLeaf trademarks and/or variations and misspellings thereof</li>
      <li>Questions about the Terms of Service should be submitted to the <%= link_to 'support site', data.config.support_url %>.</li>
      <li>You understand that your Content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. Credit Card information is always encrypted during transfer over networks.</li>
    </ul>

    <h3>TitleLeaf Rights</h3>

    <ul class="basic">
      <li>We reserve the right to modify or terminate the Service for any reason, without notice at any time.</li>
      <li>We reserve the right to refuse service to anyone for any reason at any time.</li>
      <li>We may, but have no obligation to, remove Content and Accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party’s intellectual property or these Terms of Service.</li>
      <li>Verbal or written abuse of any kind (including threats of abuse or retribution) of any TitleLeaf customer, TitleLeaf employee, member, or officer will result in immediate account termination.</li>
      <li>TitleLeaf does not pre-screen Content and it is in their sole discretion to refuse or remove any Content that is available via the Service.</li>
    </ul>

    <h3>Limitation of Liability</h3>

    <ul class="basic">
      <li>You expressly understand and agree that TitleLeaf shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses resulting from the use of or inability to use the service.</li>
      <li>In no event shall TitleLeaf or our suppliers be liable for lost profits or any special, incidental or consequential damages arising out of or in connection with our site, our services or this agreement (however arising including negligence). You agree to indemnify and hold us and (as applicable) our parent, subsidiaries, affiliates, TitleLeaf partners, officers, directors, agents, and employees, harmless from any claim or demand, including reasonable attorneys’ fees, made by any third party due to or arising out of your breach of this Agreement or the documents it incorporates by reference, or your violation of any law or the rights of a third party.</li>
      <li>Your use of the Service is at your sole risk. The Service is provided on an ”as is“ and ”as available“ basis without any warranty or condition, express, implied or statutory.</li>
      <li>TitleLeaf does not warrant that the service will be uninterrupted, timely, secure, or error-free.</li>
      <li>TitleLeaf does not warrant that the results that may be obtained from the use of the service will be accurate or reliable.</li>
      <li>TitleLeaf does not warrant that the quality of any products, services, information, or other material purchased or obtained by you through the Service will meet your expectations, or that any errors in the Service will be corrected.</li>
    </ul>

    <h3>Waiver and Complete Agreement</h3>

    <p>The failure of TitleLeaf to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and TitleLeaf and govern your use of the Service, superseding any prior agreements between you and TitleLeaf (including, but not limited to, any prior versions of the Terms of Service).</p>

    <h3>Intellectual Property and Customer Content</h3>

    <ul class="basic">
      <li>We do not claim any intellectual property rights over the material you provide to the TitleLeaf service. All material you upload remains yours. You can remove your TitleLeaf store at any time by deleting your account. This will also remove all content you have stored on the Service.</li>
      <li>By uploading images and item description content to TitleLeaf, you agree to allow other internet users to view them and you agree to allow TitleLeaf to display and store them and you agree that TitleLeaf can, at any time, review all the content submitted by you to its Service.</li>
      <li>You retain ownership over all content that you submit to a TitleLeaf store however, by making your store public, you agree to allow others to view your content.</li>
    </ul>

    <h3>Themes</h3>

    <ul class="basic">
      <li>You may establish the appearance of your TitleLeaf store with a Theme. You may modify the Theme to suit your store. </li>
      <li>TitleLeaf may add or modify the footer that refers to TitleLeaf at its discretion. TitleLeaf may modify the Theme where it contains, in our sole discretion, an element that may be unlawful, offensive, threatening, defamatory, pornographic, obscene, or otherwise objectionable, or that violates any person’s intellectual property, even if you received the Theme in that condition. TitleLeaf may modify the Theme to reflect technical changes and updates as required.</li>
      <li>The intellectual property rights of the Theme remain the property of the designer unless assigned otherwise.</li>
    </ul>

    <h3>Payment of Fees</h3>

    <ul class="basic">
      <li>The service will be billed in 30-day intervals. Billing occurs at the beginning of the interval. TitleLeaf clients will be sent an invoice via email. Clients have approximately two weeks to claim and settle any issues with the billing.</li>
      <li>Submitting a valid credit card for auto-payment of the monthly invoice is mandatory.</li>
      <li>TitleLeaf does not provide refunds.</li>
    </ul>

    <h3>Cancellation and Termination</h3>

    <ul class="basic">
      <li>You may cancel your account at anytime by submitting a request at the <%= link_to 'support site', data.config.support_url %>.</li>
      <li>Once your account is cancelled all of your Content will be deleted from the Service by the end of the month. Since deletion of all data is final please be sure that you do in fact want to cancel your account before doing so.</li>
      <li>If you cancel the Service in the middle of the month, your Service will exist until the end of the month. Since invoicing occurs at the beginning of the month, you will not be invoiced again as long as your account is in good standing.</li>
      <li>We reserve the right to modify or terminate the TitleLeaf service for any reason, without notice at any time.</li>
      <li>Fraud: Without limiting any other remedies, TitleLeaf may suspend or terminate your account if we suspect that you (by conviction, settlement, insurance or escrow investigation, or otherwise) have engaged in fraudulent activity in connection with the Site.</li>
    </ul>

    <h3>Modifications to the Service and Prices</h3>

    <ul class="basic">
      <li>Prices for using TitleLeaf are subject to change upon 30 days notice from TitleLeaf. Such notice may be provided at any time by posting the changes to the TitleLeaf Site (TitleLeaf.com) or the administration menu of your TitleLeaf store via an announcement.</li>
      <li>TitleLeaf reserves the right at any time to time to modify or discontinue, the Service (or any part thereof) with or without notice.</li>
      <li>TitleLeaf shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.</li>
    </ul>

    <h3>DMCA Notice and Takedown Procedure</h3>

    <ul class="basic">
      <li>TitleLeaf supports the protection of intellectual property and asks TitleLeaf merchants to do the same. It our policy to respond to all notices of alleged copyright infringement.</li>
      <li>If someone believes that one of our merchants is infringing their intellectual property rights, they can send a DMCA Notice to TitleLeaf’s designated agent using our form.</li>
      <li>Upon receiving a DMCA Notice, we may remove or disable access to the material claimed to be a copyright infringement.</li>
      <li>Once provided with a notice of takedown, the merchant can reply with a counter notification using our form if they object to the complaint.</li>
      <li>The original complainant has 14 business days after we receive a counter notification to seek a court order restraining the merchant from engaging in the infringing activity, otherwise we restore the material.</li>
    </ul>

  </div>
</div>
