---
title: Trading Partners
layout: legal
---

<div class="row">
  <div class="col-full">

    <h1>Trading Partners</h1>

    <p>
      <%= data.config.company_name %> distributes metadata, product images, ebooks and other assets to an ever-growing list of trading partners. If one of your partners is not listed below, please contact us and we will add them to the list.
    </p>

    <ul class="columned">
      <li>1World Content</li>
      <li>Advanced Educational Products</li>
      <li>Age of Learning</li>
      <li>AKJ Books</li>
      <li>Alkem</li>
      <li>All Prints Distribution</li>
      <li>Amazon</li>
      <li>Amazon Kindle</li>
      <li>Ambassador Books</li>
      <li>American Reading</li>
      <li>Amigos</li>
      <li>Amnet</li>
      <li>Ann Arbor Library</li>
      <li>Anything Education Plus</li>
      <li>Apple Books</li>
      <li>Attanasio</li>
      <li>Austin Book Sales</li>
      <li>Baker & Taylor</li>
      <li>Bakertaylor Blio</li>
      <li>Bank Street Books</li>
      <li>Barnes & Noble</li>
      <li>BDS Live</li>
      <li>Beckers School Supply</li>
      <li>Best Books</li>
      <li>Biblioboard</li>
      <li>Bibliotheca</li>
      <li>Big Timber Media</li>
      <li>Big Universe</li>
      <li>Bilingual Publications</li>
      <li>BMI</li>
      <li>Bookazine</li>
      <li>Bookco</li>
      <li>Booklist</li>
      <li>Bookmanager</li>
      <li>Books Galore</li>
      <li>Booksource</li>
      <li>Bookworm Central</li>
      <li>Bound to Stay Bound</li>
      <li>Bountiful Books</li>
      <li>Bowker</li>
      <li>Brainhive</li>
      <li>Brodart</li>
      <li>Buyboard</li>
      <li>BWI Books</li>
      <li>Capstone</li>
      <li>Corporate Graphics</li>
      <li>Childrens Plus</li>
      <li>Classroom Library</li>
      <li>Collaborative Classroom</li>
      <li>Complete Book</li>
      <li>Coresource</li>
      <li>Coutts Information</li>
      <li>Creative Previews</li>
      <li>Crosscan</li>
      <li>CSH Singapore</li>
      <li>Custom Education</li>
      <li>Datamatics</li>
      <li>Demco</li>
      <li>DK Educational</li>
      <li>DLB Books</li>
      <li>Dodge Learning</li>
      <li>Dropcap</li>
      <li>Eastern Book Company</li>
      <li>Ebooks2go</li>
      <li>EBSCO</li>
      <li>Edelweiss</li>
      <li>Education on Wheels</li>
      <li>Edureference</li>
      <li>Emery Pratt Company</li>
      <li>Epic</li>
      <li>Equinox</li>
      <li>Escue</li>
      <li>Event Network</li>
      <li>Everybody Books</li>
      <li>Excelligence</li>
      <li>Explore Products</li>
      <li>F&F School Supply</li>
      <li>Follett</li>
      <li>Follett Educational</li>
      <li>Food Groupie</li>
      <li>Formax</li>
      <li>Fountas & Pinnell</li>
      <li>Funshine Express</li>
      <li>Garrett Books</li>
      <li>Google Play</li>
      <li>Great Lakes Book</li>
      <li>Green Valley Book</li>
      <li>Gumdrop</li>
      <li>Hattendorf</li>
      <li>Heart of America</li>
      <li>Hertzberg</li>
      <li>High Noon Books</li>
      <li>Hoopla</li>
      <li>Horace Mann</li>
      <li>Idaho Book Fairs</li>
      <li>Illiana</li>
      <li>Ingram</li>
      <li>Intac</li>
      <li>International School Services</li>
      <li>Interstate Books</li>
      <li>Itz Books</li>
      <li>J. Appleseed</li>
      <li>Junior Library Guild</li>
      <li>Kaeden</li>
      <li>Kaplan</li>
      <li>Keystone</li>
      <li>Kobo</li>
      <li>Lai Lai</li>
      <li>Lake Cook Distributors</li>
      <li>Lakeshore Learning</li>
      <li>Leading LLC</li>
      <li>Learning Opportunities</li>
      <li>Lectorum</li>
      <li>Lightsail</li>
      <li>Lightswitch</li>
      <li>Mackin</li>
      <li>Mainstreet Reps</li>
      <li>Master Communications</li>
      <li>MBA</li>
      <li>McGilvray</li>
      <li>Medialog</li>
      <li>Mediasource</li>
      <li>Midwest Library Service</li>
      <li>Mojo Books</li>
      <li>Mrs Nelson</li>
      <li>MyiLibrary</li>
      <li>MyOn</li>
      <li>Nasco Education</li>
      <li>National Educational</li>
      <li>Nelson</li>
      <li>Nook</li>
      <li>NxtPub</li>
      <li>Odilo</li>
      <li>Oliver & Andy's Book Co</li>
      <li>Oliver Press</li>
      <li>Ollis Book Company</li>
      <li>Overdrive</li>
      <li>Overlooked Books</li>
      <li>Peach Cobbler Books</li>
      <li>Pegasus Press</li>
      <li>Penworthy</li>
      <li>Perfection Learning</li>
      <li>Perma-Bound</li>
      <li>Phoenix Book Company</li>
      <li>Picnic Cloud</li>
      <li>Possum Grape</li>
      <li>Primary Concepts</li>
      <li>Printsasia</li>
      <li>Proquest</li>
      <li>Quality Books</li>
      <li>Recorded Books</li>
      <li>Regent Book</li>
      <li>Renlearn</li>
      <li>Rightol</li>
      <li>Sandmeyers Bookstore</li>
      <li>Saunders</li>
      <li>Scheppy Group</li>
      <li>Scholastic</li>
      <li>Schoolwide</li>
      <li>School Xcrossing</li>
      <li>Scribd</li>
      <li>Sebco</li>
      <li>Show Me Books</li>
      <li>Sino Publisher Services</li>
      <li>Social Studies</li>
      <li>Southeastern Educational</li>
      <li>Stanford House</li>
      <li>Steps to Literacy</li>
      <li>Stonebridge</li>
      <li>Sussman</li>
      <li>Tabvue</li>
      <li>Tales2Go</li>
      <li>Tecknoquest</li>
      <li>The Book House</li>
      <li>The Book Rack</li>
      <li>The Book Farm</li>
      <li>The Library Store</li>
      <li>The Reading Warehouse</li>
      <li>Totalboox</li>
      <li>Transglobal</li>
      <li>Triangle</li>
      <li>UBS Press</li>
      <li>Unbound Concepts</li>
      <li>Unique Books</li>
      <li>Vandalia</li>
      <li>Vietnam Book Promo</li>
      <li>Warren</li>
      <li>Wyrick Book</li>
      <li>Yuzu</li>
    </ul>

  </div>
</div>
