---
title: Email
layout: guide_simple
parent: guide
category: settings
slug: email
---

<p>TitleLeaf allows a publisher to define a variety of email addresses through the <em>Settings</em> module. The purpose of each email address is noted below:</p>

<p><img src="https://assets.titleleaf.com/guide/titleleaf-settings-email.png" alt="TitleLeaf: Settings: Email" /></p>

<dl>

  <dt>Sales Email</dt>
  <dd>The sender of the order update notification to customer</dd>
  <dd>The sender of the distribution downloads available notification to channels</dd>

  <dt>Support Email</dt>
  <dd>The sender of the order confirmation to customer</dd>
  <dd>The recipient of the internal order notification</dd>
  <dd>The recipient of the internal order library specification</dd>
  <dd>The recipient of the internal payment authorization</dd>
  <dd>The recipient of the contact form</dd>
  <dd>The recipient of the catalog request</dd>

  <dt>Hosted Ebook Trial Email</dt>
  <dd>The recipient of the internal hosted ebook trial form</dd>

  <dt>Webmaster Email</dt>
  <dd>The person to contact in case of errors within the site such as missing files</dd>

  <dt>ONIX Email</dt>
  <dd>The email address noted in the ONIX feed for contact information</dd>

</dl>
