---
title: Enable upcoming products page
layout: guide_simple
parent: guide
category: settings
slug: enable-upcoming-products-page
---

<p>TitleLeaf offers a page that highlights <a href="/guides/knowledge-base/show-upcoming-products.html">upcoming products</a>. By default, the <em>upcoming products</em>
<sup>1</sup> pages are not visible to users. TitleLeaf offers an admin <strong>setting</strong> entitled "Enable Upcoming Products Pages" to modify that behavior. To allow users to see such pages, change the setting value from "No" to "Yes".</p>

<p><img src="https://assets.titleleaf.com/guide/titleleaf-settings-product.png" alt="Settings, Other section" /></p>

<p>Note: Both a product and it's formats have unique dates associated with them. A product has a field labeled "Date first released". A product format has a field labeled "Release Date". They are related. A product can have many formats that are "released" on different dates. A product's "Date first released" should equal the earliest of those format "release" dates.</p>

<p><sup>1</sup> Upcoming product formats are those with release dates in the future<sup>1</sup>. Such product formats can be displayed in search results and on product pages if the product format announcement date (ie, the <code>announce_on</code> field) has already occurred.</p>
