---
title: Enable upcoming products page
layout: guide_simple
parent: guide
category: settings
slug: enable-upcoming-products-page
---

<p>
  TitleLeaf offers a page that highlights
  <a href="/guides/knowledge-base/show-upcoming-products">upcoming products</a>.
  By default, the <em>upcoming products</em><sup>1</sup> page is not visible to
  visitors. TitleLeaf offers an admin <strong>setting</strong> entitled "Enable
  Upcoming Products Page" to modify that behavior. To allow visitors to see the
  page, change the setting value from "No" to "Yes".
</p>

<p>
  <%= cdn_image "titleleaf-settings-product.png", alt: "Settings, Product section" %>
</p>

<p class="block-notice">
  Both a product and its formats have unique dates associated with them.
  A product has a field labeled <em>Date First Published</em>. A product format
  has a field labeled <em>Release Date</em>. They are related. A product can
  have many formats that are "released" on different dates. A product's
  <em>Date First Published</em> should equal the earliest of those format
  "release" dates.
</p>

<p>
  <sup>1</sup> Upcoming product formats are those with release dates in the
  future. Such product formats can be displayed in search results and on product
  pages if the product format announcement date (ie, the
  <code>announce_on</code> field) has already occurred.
</p>
