---
title: Feature
layout: guide_simple
parent: guide
category: settings
slug: feature
---

<p>The <em>Feature</em> section of the <em>Settings</em> page is used to create a simple promotional page. The <em>heading</em> can contain textile markup or html. The comma-separated ISBN string defines the products that will be presented on the page.</p>

<p><img src="https://assets.titleleaf.com/guide/titleleaf-settings-feature.png" alt="Settings, feature section" /></p>

<p>Depending on your specific implementation, the <em>Feature</em> might also be used to present products on the home page.</p>
