---
title: Free Processing Minimum
layout: guide_simple
parent: guide
category: settings
slug: free-processing-minimum
---

<p>TitleLeaf allows a publisher to offer <a href="/guides/settings/free-processing.html">free library processing for all orders</a> or free library processing for orders exceeding a certain dollar amount. The following procedure outlines how to setup the latter.</p>

<ol>

  <li>
    <p>Navigate to the Library Processing section of the Settings page.</p>
    <p><img /><img src="http://guide.titleleaf.com/uploads/titleleaf-menu-settings.png" title="Titleleaf Menu Settings" alt="Titleleaf Menu Settings" data-rel="225x255" width="238" height="198" /></p>
</li>

  <li>
    <p>Set <em>Free Library Processing</em> to <em>No</em> and <em>Free Library Processing Minimum</em> to the desired dollar amount.</p>
    <p><img src="http://guide.titleleaf.com/uploads/titleleaf-settings-library-processing-minimum.png" title="Titleleaf Settings Library Processing Minimum" alt="Titleleaf Settings Library Processing Minimum" data-rel="225x255" width="1024" height="368" /></p>
<p>Note: The <em>Free Library Processing</em> button must be set to <em>No</em>. If set to <em>Yes</em>, then <strong>all</strong> orders will have free library processing.</p>
  </li>

  <li>
    <p>Click the <em>Save</em> button at the bottom of the Settings page.</p>
  </li>

</ol>
