---
title: Free Processing
layout: guide_simple
parent: guide
category: settings
slug: free-processing
---

<p>TitleLeaf allows a publisher to offer free library processing for all orders or <a href="/guides/settings/free-processing-minimum.html">free library processing for orders exceeding a certain dollar amount</a>. The following procedure outlines how to setup the former.</p>

<ol>

  <li>
    <p>Navigate to the Library Processing section of the Settings page.</p>
    <p><img /><img src="/system/images/W1siZiIsIjIwMTQvMDgvMTQvMTRfMjRfMjVfNzM0X3RpdGxlbGVhZl9tZW51X3NldHRpbmdzLnBuZyJdXQ/titleleaf-menu-settings.png" title="Titleleaf Menu Settings" alt="Titleleaf Menu Settings" data-rel="225x255" width="238" height="198" /></p>
</li>

  <li>
    <p>Set <em>Free Library Processing</em> to <em>Yes</em>.&#160;</p>
<p><img src="/system/images/W1siZiIsIjIwMTQvMDgvMTQvMTRfNDJfNDBfNTI2X3RpdGxlbGVhZl9zZXR0aW5nc19mcmVlX2xpYnJhcnlfcHJvY2Vzc2luZy5wbmciXV0/titleleaf-settings-free-library-processing.png" title="Titleleaf Settings Free Library Processing" alt="Titleleaf Settings Free Library Processing" data-rel="225x255" width="1024" height="368" /></p>
<p>Note: The <em>Free Library Processing Minimum</em> value will be ignored but to avoid confusion for other administrators erase any pre-existing dollar amount from it.</p>
  </li>

  <li>
    <p>Click the <em>Save</em> button at the bottom of the Settings page.</p>
  </li>

</ol>
