---
title: Pre-order products
layout: guide_simple
parent: guide
category: settings
slug: pre-order-products
---

<p>To allow visitors to pre-order a specific product format before its official release date, set the <code>preorder_on</code> value. The <code>preorder_on</code> value must precede the <code>release_on</code> value.</p>

<ol>

  <li>
    <p>Navigate to the <em>Edit Product Format</em> form.</p>
  </li>

  <li>
    <p>Set the <em>Pre-order Date</em> value to a date that precedes the <em>Release Date</em>.</p>
    <p><%= cdn_image "admin-product-format-edit-dates.png", alt: "TitleLeaf: Edit product format dates" %></p>
  </li>

  <li>
    <p>Click the <em>Save</em> button at the bottom of the <em>Edit Product Format</em> page. The product format will be available for pre-order once the <em>nightly activation process<sup>1</sup>
</em> is complete.</p>
  </li>

</ol>

<p><sup>1</sup> Note: Every night at midnight, TitleLeaf will check a product formats pre-order date against the current date. If the pre-order date is less than the current date, then the product format will be activated (NYP =&gt; ACT). If not, then the product format will be deactivated (ACT =&gt; NYP).</p>

<p><sup>2</sup> Note: The pre-order functionality was previously controlled by a global Setting. All products formats would be available for pre-order a given number of days before their release date. That functionality has been removed. Pre-order functionality is now controlled on the product format level.</p>
