---
title: Search engine optimization
layout: guide_simple
parent: guide
category: settings
slug: search-engine-optimization
---

<p>As defined by Wikipedia, <a href="https://en.wikipedia.org/wiki/Search_engine_optimization" title="https://en.wikipedia.org/wiki/Search_engine_optimization">search engine optimization</a> (SEO) "is the process of affecting the visibility of a website or a web page in a web search engine's unpaid results". The TitleLeaf team believes that, short of gaming the system, well-organized and relevant metadata is the most effective means of influencing results. The TitleLeaf SEO settings and the <a href="/guides/knowledge-base/product-keywords-vs-tags.html">product keywords</a> field allow administrators to tweak such metadata.</p>

<p><img src="http://guide.titleleaf.com/uploads/titleleaf-settings-seo.png" alt="Settings, seo section" /></p>

<p>The <em>Meta Keywords</em> enhance your relevance to given search terms. The <em>Meta Description</em> will sometimes be used by search engines to present your page in search results. This information is used in certain pages within TitleLeaf using <a href="http://www.w3schools.com/tags/tag_meta.asp" title="http://www.w3schools.com/tags/tag_meta.asp">HTML meta tags</a>.</p>

<p>Note: TitleLeaf does not guarantee improvements to your sites search engine ranking, but the web pages that we develop are accessible to search engines.</p>
