---
title: Shipping
layout: guide_simple
parent: guide
category: settings
slug: shipping
---

<p>Follow the procedure below to define shipping costs. The currently supported shipping method is <em>Net of Sale</em> with minimums and maximums. Rates can be defined on the country, zone, postal code or user level.</p>

<ol>

  <li>
    <p>Navigate to the <em>Shipping</em> section of the <em>Setting</em> page, found under the <em>Management</em> menu.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-menu-settings-shipping.png" alt="Titleleaf management menu, shipping rates item" /></p>
  </li>

  <li>
    <p>Define as needed.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-settings-shipping.png" alt="TitleLeaf settings, shipping section" /></p>
    <p>Note: To offer free shipping for <em>Institutions</em>, select <em>Yes</em> for the <em>Free Shipping for Institutions</em> field. To include the cost of digital products in the shipping calculation, select <em>Yes</em> for the <em>Include Digital Products in Net</em> field. The <em>Additional Shipping Description</em> will be presented to the customer on checkout. It is in addition to the shipping carrier.</p>
  </li>

  <li>
    <p>Click the <em>shipping rates module</em> link to define shipping rates on the country, zone, postal code, or user level.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-shipping-rates.png" alt="Shipping Rates index" /></p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-shipping-rates-edit.png" alt="Shipping Rates, Edit" /></p>
  </li>

  <p class="block-notice">
    Important: For a customer to specify a shipping address outside the United States, the country must be <em>activated</em> first.
  </p>
  <p><img src="https://assets.titleleaf.com/guide/titleleaf-countries-active.png" alt="Countries, Edit, Activate" /></p>

</ol>
