---
title: Shipping
layout: guide_simple
parent: guide
category: settings
slug: shipping
---

<p>Follow the procedure below to define shipping costs. The currently supported shipping method is <em>Net of Sale</em> with minimums and maximums. Rates are defined on the country level.</p>

<ol>

  <li>
    <p>Navigate to the <em>Shipping</em> section of the <em>Setting</em> page, found under the <em>Management</em> menu.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-menu-settings.png" alt="Titleleaf management menu, settings item" /></p>
  </li>

  <li>
    <p>Define as needed.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-settings-shipping.png" alt="TitleLeaf settings, shipping section" /></p>
    <p>Note: To offer free shipping for <em>Institutions</em>, select <em>Yes</em> for the <em>Free Shipping for Institutions</em> field. To include the cost of digital products in the shipping calculation, select <em>Yes</em> for the <em>Include Digital Products in Net</em> field. The <em>Additional Shipping Description</em> will be presented to the customer on checkout. It is in addition to the shipping carrier.</p>
  </li>

  <li>
    <p>Click the <em>countries</em> link to define shipping settings on the country level.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-countries.png" alt="Countries index" /></p>
  </li>

  <li>
    <p>The first step to defining country shipping information is to activate the countries that your company sells in.</p>
    <p>After that, set the shipping algorithm for the selected country using the <em>Shipping Rate</em> et al fields.</p>
    <p><img src="https://assets.titleleaf.com/guide/titleleaf-country-us.png" alt="Country, US" /></p>
  </li>

</ol>
