---
title: Spotlight
layout: guide_simple
parent: guide
category: settings
slug: spotlight
---

<p>The <em>Spotlight</em> section of the <em>Settings</em> page is used to create a simple promotional page. The <em>heading</em> can contain textile markup or html. The comma-separated ISBN string defines the products that will be presented on the page.</p>

<p><img src="http://guide.titleleaf.com/uploads/titleleaf-settings-spotlight.png" alt="Settings, spotlight section" /></p>

<p>Depending on your specific implementation, the <em>Spotlight</em> might also be used to present products on the home page.</p>